@import "../variable.scss";


.myWishlist {
  padding:60px 0 0 0;
  .plpCategories {
    .plp-products{
      padding: 40px 0 60px 0;
    }
  }
  
  .heading {
    font-family:$font-bold;
    font-size: 30px;
    color:$cerulean;
    margin:0;
    
  }

  .emptyWishlist {
    padding:30px 0 80px 0;
    text-align: center;     
    .heading-Wishlist {         
      opacity: 0.45;
      font-size: 30px;
      color:$black;
      margin:0;
      padding:0 0 12px 0;
    }
  
    .subtext {    
      font-size: 20px;        
      color:$black;
      margin:0;
    }
  }
}
