@import "../variable.scss";

.myWishlist {
  .plpCategories {
    .plp-products {
      padding: 40px 0 60px 0;
    }
  }

  .shaire-headerwrp{
    position: relative;

    .share{
      font-size: 10px;
      margin-left: 12px;
      color: $greyish;
      cursor: pointer;
      position: relative;
      .share-btn{
          display: inline;
          img{
              width:17px;
              height: 17px;
          }
      }
      .social-icon-share22222{
          visibility: hidden;
          position: absolute;
          z-index: 1;
          min-width: 120px;
          background: #ccc;
          width:100%;
          &:hover{ 
              .social-icon-share{
               visibility:visible;
              }
          }

          .list{
            float: left;
            margin: 4px 0px;
            width: 100%;
            .iconImg,
            .labelText{
                float:left;
            }

            .SocialMediaShareButton { 
                float: left;
            }
            .social-icon-text{
                margin: 3px 0px 0px 15px;
                float: left;
            }
        }
      }
      &:hover{
          .social-icon-share{
              visibility:visible;
          }
      }
  }
    
    .heading{
      padding-right:28px;
    }
    .heading,
    .shire-btn{
      float: left;
    }
    .shire-btn{
      background: transparent;
      border:none;
      position: relative;
      .icon{
        margin:0;
      }
      .social-icon-text,
        .icon{
         display: inline;
         
        }
      &:focus{
        outline: none;
      }
    }

  

    .social-icon-share{
      position: absolute;
    z-index: 1;
    min-width: 120px;
    background: rgba(251, 251, 251, 0.9);
    /* border: 1px solid #ececec; */
    border-radius: 2px;
    -webkit-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
      &:hover{ 
          .social-icon-share{
           visibility:visible;
          }
      }
      .list{
          float: left;
          margin: 4px 0px;
          width: 100%;
          .iconImg,
          .labelText{
              float:left;
          }

          .SocialMediaShareButton { 
              float: left;
          }
          .social-icon-text{
              margin: 5px 0px 0px 15px;
              float: left;
          }
      }
  }
  }

  

  .heading {
    font-family: $font-bold;
    color: $cerulean;
    margin: 0;
  }

  .emptyWishlist {
    text-align: center;
    .heading-Wishlist {
      opacity: 0.45;
      color: $black;
      margin: 0;
    }

    .subtext {
      font-size: 20px;
      color: $black;
      margin: 0;
    }
  }
}

//-------- Remove Wishlist -------
.removeFromWishlist {
  background: #000;
  animation: wishlistPopupAnimation 0.5s ease-in-out 0s forwards;
  padding: 16px 17px 16px 20px;

  .wishlist-text,
  .view-btn {
    font-size: 12px;
    color: $colorwhite;
  }
  .wishlist-text {
    float: left;
    display: block;
  }

  .view-btn {
    float: right;
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}


/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
  //CSS
  
}


/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

 /* 
#Global Screen Chhange for Screen Laptops, Desktops
*/
@include mix-lg{
    .myWishlist {
      padding: 60px 0 0 0;
      .myWishlist{
        padding: 0px;
      }
      .heading {
        font-size: 30px;
      }
      .emptyWishlist{
        padding: 30px 0 80px 0;
        .heading-Wishlist{
          font-size: 30px;
          padding: 0 0 12px 0;
        }
      }
    }
    .removeFromWishlist{
      margin: -45px 205px 0 0;
      width: 261px;
      position: absolute;
      right: 20px;
    }
 
  }

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@include mix-md-ipad{
  
  .myWishlist{
    .plpCategories{
      .plp-products{
        .productlist {
          padding: 0px;
          width: 50%;
          float: left;
        }
      }
    }
  }  
  
}



/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 //CSS
  
}


 /* 
    #Global Screen Chhange for Screen max 992
  */
  @include mix-md{
  .myWishlist {
    padding: 10px 0 0 0;
    .heading {
      font-size: 24px;
    }
    .plpCategories{
      .plp-products{
        padding: 0px 0 60px 0;

        .productlist{
          padding: 0px;
          width: 50%;
          float: left;
          .hoverBox{
            padding: 5px 0px;
            .inner-overlay{
              text-align: center;
            }
            .mov-to-cart{
              background: none;
              display: block;
              border: 0px;
              text-align: center;
              width: 100%;
              padding: 10px 0px;
              border-top:1px solid $borderLight;
              color: $ashGrey;
            }
          }
        }
      }
    }
    .emptyWishlist{
      padding: 10px 0 14px 0;
      .heading-Wishlist{
        font-size: 14px;
        padding: 0 0 12px 0;
      }
      .subtext{
        font-size: 12px;
      }
    }
    .bestSeller{
		margin-bottom: 30px;
      .title{
        color: $colorbluedull;
        margin-bottom: 10px;
        font-size: $base*2.25;
        padding-left:10px;
      }
    }
  }
  .shaire-headerwrp{
    display: none;
  }
  .removeFromWishlist{
    width: 95%;
    position: fixed;
    bottom: 0px;
    left: 2.5%;
    z-index: 19;
  }
}


/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}


/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
