.emptyWishlist {
  .emptyText1 {
    text-align: center;
    margin: 80px 0 0 0;
    height: 36px;
    opacity: 0.45;
    font-size: 30px;
    color: #000000;
  }

  .emptyText2 {
    height: 24px;
    font-size: 20px;
    margin: 20px 0 80px 0;
    text-align: center;
    color: #000000;
  }
}

.myWishlist {
  .headingTitle {
    font-family: CeraGIBold, sans-serif;
    font-size: 30px;
    color: #036cc5;
    margin: 60px 0 40px 149px;
  }
}
