@import '../variable.scss';

.category{
    height: 69px;
    padding-left: 32px;
    display: flex;
    align-items: center;
}
.categoryList {
    margin: 0;
    width: 50%;
    display: inline-block;
    &:first-child{
        .catList{
            left: -32px;
        }
    }
    .listItems {
        padding: 28px 40px 28px 0;
        font-size: $base*1.5;
        .action{
            font-size: $base*1.5;
            color: $battleshipGrey;
            font-family: $font-medium;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                color: $reddishPink;
            }
        }
    }
}
.action{
    font-size: $base*1.5;
    color: $battleshipGrey;
    font-family: $font-regular;
    &:hover {
        color: $reddishPink;
    }
}
