@import '../variable.scss';

.category{
    height: 45px;
    padding-left: 32px;
    display: flex;
    align-items: center;
}
.categoryList {
    margin: 0;
    width: 59%;
    display: inline-block;
    &:first-child{
        .catList{
            left: -32px;
        }
    }
    .listItems {
        padding: 14px 65px 14px 0;
        font-size: $base*1.5;
        .action{
            font-size: $base*1.5;
            color: $battleshipGrey;
            font-family: $font-medium;
            font-weight: 500;
            cursor: pointer;
            &:hover {
                color: $reddishPink;
            }
        }
    }
}
.action{
    font-size: $base*1.5;
    color: $battleshipGrey;
    font-family: $font-regular;
    &:hover {
        color: $reddishPink;
    }
}

@include mix-md-ipad {
  .categoryList {
    width: 56%;
  }
}

@include mix-md-lg {
  .categoryList {
    width: 56%;
  }
}
