@import '../variable.scss';
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
header {
    height: 100px;
    border-bottom: 1px solid #ddd;
}
.navigation {
    width: 80%;
    display: inline-block;
    border-left: 1px solid #ddd; 
}
.listItems {
    display: inline-block;
    position: relative;
    .catNav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 72px;       
        z-index: 5;
        list-style: none;        
        background-color:$colorwhite;
        -webkit-transition: opacity 200ms, visibility 200ms;
        transition: opacity 200ms, visibility 200ms;
        -webkit-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
        box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);

        .subCatList {
            padding: $base 0;
            display: inline-block;    
            width: 100%;
            .links {
                font-size: $base*1.75;
                color: $black;
                font-family: $font-regular;
                &:hover {
                    color: $ceruleanblue;
                    text-decoration: none;
                }
            }
        }
    }
    &:hover{
        .catNav {
            visibility: visible;
            opacity: 1;                
            animation: fade 1.6s;
        }
    }
    .catList, 
    .catLongList{
        left: -20px;
        padding:$base*3 $base*4 $base*3;
        min-width: 146px;
        width: auto;
        z-index: 5;
        position: relative;
        background-color: $colorwhite;      

    }

    .catLongList {
        columns: 3;
        column-gap: $base*2.5;        
        min-width: 506px;
    }
}
.action{
    color: $battleshipGrey;
    font-family: $font-medium;
    font-size: $base*1.25;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
    }
}
.subCatImage {
    z-index: 4;
    position: absolute;
    width: 98.6vw;
    top: -4px;
    img {
        width: 100%;
    }
}
