@import '../variable';

.lighHeader {
    background-color: $headerLight;
    padding: $base*1.5;
    .logo {
        margin-left: 7%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .lighHeader {
        width: 100%;
        position: fixed;
        padding: $base*1.5;
        z-index: 2;
        top: 0;
        .logo {
            margin-left: 30px; 
        }
    }
}