@import '../variable';
.rightSide > li.user.icons{
    display: inline-flex;
    padding: 20px 0;
}
.rightSide {
    margin-bottom: 0;
    width: 11%;
    .icons {
        &:first-child{
            margin:0;
        }
        &:last-child{
            margin-right:0;
            margin-left:0;
            vertical-align: sub;
            margin-top: 4px;
        }
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin: 0 16px 0 16px;
        svg{
          margin: 0;
          width: 20px;
          height: 20px;
        }
        .wishListCount {
            position: absolute;
            top: -6px;
            right: -6px;
            background:$reddishPink;
            width: 16px;
            height: 16px;
            text-align: center;
            color: $colorwhite;
            border-radius: 50%;
            font-size: $base*1.25;
            font-weight: bold;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-bold;
        }
        .welcomeDropDown{
            .userList{               
                .listItem{
                    // height: $base*5.5;
                    &.listItemUnSelected {
                        // height: $base*4.25;
                    }
                }
            }
        }
    }
}

@include mix-md-ipad {
  .rightSide {
    width: 12%;
  }
}

@include mix-md-lg {
  .rightSide {
    width: 12%;
  }
}
