@import '../variable';
.rightSide > li.user.icons{line-height: 68px;}
.rightSide {
    margin-bottom: 0;
    .icons {
        &:first-child{
            margin:0;
        }
        &:last-child{
            margin-right:0;
        }
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin: 0 8px 0 8px;
        svg{
            margin: 0;
        }
        .wishListCount {
            position: absolute;
            top: -6px;
            right: 0;
            background:$reddishPink;
            width: 16px;
            height: 16px;
            text-align: center;
            color: $colorwhite;
            border-radius: 50%;
            font-size: $base*1.25;
            font-weight: bold;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-bold;
        }
        .welcomeDropDown{
            .userList{               
                li{
                    line-height: 10px;
                }
            }
        }
    }
}