@import '../variable';

.lighHeader {
    background-color: $headerLight;
    padding: $base*1.5;
    .logo {
        margin-left: 7%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .lighHeader {
        width: 100%;
        position: fixed;
        padding: $base*1.5;
        z-index: 2;
        top: 0;
        .backBtn{
            float: left;
            width: 22px;
            margin: 2px 5px 0px 8px;
            img{
                width: 100%;
            }
        }
        .logo {
            margin-left: 0; 
        }
    }
}