@import '../variable';

.lighHeader {
    background-color: $headerLight;
    padding: $base*1.5;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    .logo {
        margin-left: 7%;
    }
}
.logoImg {
    width: 24px;
    height: 24px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .lighHeader {
        .logo {
            margin-left: 30px; 
        }
    }
}