@import "../variable.scss";
.logo{
    // width: 15%;
    // margin-left: 5%;
    padding: 14px 1.5% 14px 2%;
    width: 17%;
    display: inline-block;
    .img {
      width : 100%;
      padding: 15px;
    }
    a{
      display: inline-block;
      svg{
          width: 100%;
      }
    }
}
