@import '../app.scss';
@import '../variable';
.searchBar {
    width: 30%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $battleshipGrey;
    margin: 0 16px 0 0;
   .search-icon{margin:0}
    .searchInput {
        width: 90%;
        border: transparent;
        background: transparent;
        padding: 0px 0 0 25px;
        min-height: 35px;
        &:focus {
            outline: none;
        }
    }
    .searchLogo {
        position: absolute;
        top: 6px;
        left: 0px;
        z-index: 2;
        display: block;        
        text-align: center;
        pointer-events: none;
    }
    .clearField {
        position: absolute;
        top: 2px;
        right: 7px;
        z-index: 2;
        display: block;        
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        color:$black;    
        display: none;
       
    }

    #autoSuggestDiv{
        position: absolute;
        top: 53px;
        width: 100%;
        background:$colorwhite;
        z-index: 9;
        left: 0;
        box-shadow: 0 24px 24px -10px rgba(66, 75, 90, 0.47);

        .auto-search{
            padding: 16px 0 16px 0;

            .list{
                padding:0px;
                &:first-child{
                    .link{
                        cursor: default;
                    }
                }
                .link{
                    display: block;
                    padding: 7px 20px;
                    text-decoration: none;
                    color:$black;
                    font-family: $font-regular;
                    font-size: 12px;
 
                    &:hover{
                        background:$paleGrey;
                    }
                }
                &:first-child{
                    .link{
                        display: block;
                        padding: 7px 20px;
                        text-decoration: none;
                        color:$black;
                        font-family: $font-bold;
     
                        &:hover{
                            background:transparent;
                        }
                    }
                }

            }
        }
        
    }
}
svg:not(:root) {
    margin: 0 8px;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
  display: none; 
}