@import '../app.scss';
.searchBar {
    width: 30%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #ddd;
   .search-icon{margin:0}
    .searchInput {
        width: 100%;
        border: transparent;
        background: transparent;
        padding: 0px 0 0 25px;
        min-height: 35px;
        &:focus {
            outline: none;
        }
    }
    .searchLogo {
        position: absolute;
        top: 6px;
        left: 0px;
        z-index: 2;
        display: block;        
        text-align: center;
        pointer-events: none;
    }

    #autoSuggestDiv{
        position: absolute;
        top: 54px;
        width: 100%;
        background: #fff;
        z-index: 9;
        left: 0;
        visibility: hidden;

        .auto-search{
            padding:10px 20px;

            .list{
               padding:8px 0px;
               cursor: pointer;
               
            }
        }
        
    }
}
svg:not(:root) {
    margin: 0 8px;
}
