@import '../variable';
.homeReco {
    margin: 0;
    overflow: hidden;
    .reco {
        margin: $base*12.5 auto $base*3 auto;
        @include container-width;
        .recoImg {
            width: 100%;
        }
        .leftOne,
        .leftTwo,
        .rightSide {
            background-color: #f7f8f8; 
        }
		.leftOne {
			.col-md-5 {
					margin-bottom:15px;
				}
		}
        .leftSide {
            // width: 59%;
            // margin-right: 1%; 
            .recoDesc {
                // width: 42.5%;
                // margin-right: 14.5%; 
            }
            .leftOne {
                // width: 42.5%;
				
            }
            .leftTwo {
                width: 100%;
                padding: 17px 0;
            }
            .recoDesc,
            .leftOne {
                display: inline-block;
                vertical-align: top;
				margin-bottom: 15px;
            }
            .title {
                text-align: left;
                font-family: $font-medium;
                margin: 0;
            }
            .data {
                font-family: $font-regular;
            }
            .icon {
                margin: 0;
            }
        }
        .rightSide {
            // background-color: $borderLight;
            padding: 0;
        }
        .leftSide,
        .rightSide {
            display: inline-block;
            vertical-align: top;
        }
        .leftOne,
        .leftTwo,
        .rightSide {
            position: relative;
        }
        .link {
            display: block;
            .prodDetails {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                height: 100%;
                text-align: center;
                .details{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    .name {
                        font-size: $base*2.25;
                        color: $black;
                        font-family: $font-medium;
                    }
                    .offerPrice{
                        color: $ceruleanblue;
                        font-size: $base*3;
                        margin-right: $base;
                        font-family: $font-bold;
                    }
                    @include line-through;
                    .emiInfo,
                    .offerAmount {
                        color: $reddishPink;
                    }
                }
            }
            &:hover {
                .prodDetails {
                    display: block;
                    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
                    -webkit-transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
                }
            }
            
        }
    }
}


@media (min-width: 320px) and (max-width:767px) {

    .reco {
        .leftSide {
            width: 100%;
            .recoDesc,
            .leftOne,
            .leftTwo {
                width: 100%;
                margin: $base 0;
            }
        }
        .rightSide {
            width: 100%;
            margin: $base 0;
        }
    }

}