// html,
// .body {
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
// }
// .html {
//   border: 15px solid #000;
// }
// .h1 {
//   margin: 0px;
//   padding: 10px;
//   color: #333;
//   font-size: 26px;
//   background: #ddd;
//   border-bottom: 1px solid #ccc;
// }
.accor {
  // margin: 10px;
  // border: 1px solid #ddd;
  // transition: 0.4s;
}


/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
  //CSS
  
}


/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

  /* 
  #Global Screen Chhange for Screen max 768
  */
  @media screen and (min-width: 768px){
    .head {
      background: transparent;
      padding: 10px 20px;
      cursor: pointer;
    }
    .body {
      background: transparent;
      padding: 0 20px;
      max-height: 0;
      overflow: hidden;
      transition: 200ms ease-in-out;
    }
    
    .active > .body {
      padding: 10px 20px;
      //max-height: 600px;
    }
  }

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}



/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}


/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px){
  .head {
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
  }
  .body {
    background: transparent;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
  }
  
  .active > .body {
    padding: 0px 0px;
    max-height: 600px;
  }
}


/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}


/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}