@import '../variable';
@import '../app.scss';
.our-promises{
    padding: 40px 0;
}
.galleryArea{
    .no-margin{
        margin:0;
    }
    .no-paddingLeft{
        padding-left: 0;
    }
    padding:40px 0 0 0;
  .breadcrumblist{
    padding:13px 0;
    margin: 0;
    .list{
      display: inline-block;
      color:$battleshipGrey;
      padding:0 5px 0 0;
      font-size: 12px;
     .link{
       color:$battleshipGrey;
     }
    }
  }
.gallaryWrapper{
  position: relative;

    .featured-box {
      position: absolute;
      top: 0;
      left: 0;
      background:$black;
      color:$colorwhite;
      padding: 2px 10px;
      font-size: 12px;
      z-index: 1;

      .ribbon_star {
        float: left;
        display: block;
        .star_img {
          margin: 3px 3px 0 0;
      }
    }

    .featured-text {
      float: left;
      display: block;
      margin: 2px 0 0 0;
  }
 }

 .GalleryBox{
   border:1px solid $black;
 }
}
.GallerytextBox{
    .product{
        padding:0 0 5px 0px;      
        font-weight: 600; 
        .text{
            color:$grey;
            font-size: 12px;                 
        }      
    }

    .slimline{
        .heading{
            margin:0;
            color:$ashGrey;
            font-family: $font-bold;
            font-size:30px;
            padding:0 0 5px 0px;      
        }
    }

    .price{
        font-family: $font-bold;
        font-weight: 600;
        display: flex; 
        flex-wrap: wrap;
        .text{
            margin:0;
            display: inline-flex;
          align-items: center;
        }       
        .actualprice{
            color:$cerulean;
            font-size:28px;
            margin:0 10px 0 0;
        }
        .offerprice{
          color:$grey;
          font-size: 18px;                 
          text-decoration: line-through;
          text-decoration-color:$reddishpink;
        }
    }
    .shippingCharge{
        .bold{
            font-family: $font-bold;
        }
    }
    .accessories-offer{
       color:$reddishPink;
       padding: 0 0 0 12px;
       .text{
           display:inline-block;
           margin: 0 5px 0 0;
       }
       .offerbg{
           background: $reddishPink;
           border-radius: 50%;
           width: 22px;
           height: 22px;
           color:$colorwhite;
           text-align: center;
       }
       .discount-off{
           font-family: $font-bold;
       }
    }

    .cashoffer-wrapper{
        margin:13px 0 0 0;
        .list{
            background:$greybg;
            padding:7px 20px;
            margin:0 0 8px 0;
            font-size: 12px;
            font-family: $font-regular;
            .heading{
                margin:0;
                color:$black;
                font-size: 14px;
                font-family: $font-bold;
                padding: 0 0 5px 0;
            }
            .link{
                color:$cerulean;
                font-family: $font-bold;
            }
        }
    }
    .starting-emitext{        
        .emiinfo{
            float: right;
        }
        .bold{
            font-family:$font-bold;
            font-weight: 600;
        }
        .text{
            display: inline-flex;
            margin: 0 5px 0 0;
            .btn-knowmore {
                background: transparent;
                border: 0;
                color:$cerulean;
                font-family: $font-bold;
                font-size: 12px;
               
            }
            
        }
        
        .offerbg {
            background: $reddishpink;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            color: $colorwhite;
            text-align: center;           
            align-items: center;
            justify-content: center;
            .emitext{
                font-size: 10px;
            }
        }
    }

    .addCart{
        margin:20px 0 0 0;
        .btn,.form-control{
            float: left;
            background:transparent;
            border:1px solid $grey;
            border-right: 0;
            border-radius: 0;
            padding:15px;
            width:13.33%;
            font-family: $font-bold;
        }
        .btn{
            &:active,&:focus{
                box-shadow: none;
                outline: 0;
            }
        }
        .addcartbtn{
            background:$black;
            border:1px solid $black;
            color:$colorwhite;
            width:60%;
            font-family: $font-regular;
        }
    }

    .starting-emitext{
        background:$iceBlue;
        padding:18px 12px;
        font-size:12px;
    }
    
  }
}

.product_details{
    padding:0 0 20px 0;
    .heading{
        font-family: $font-bold;
       }
 .product_img{
    .imgfullwidth{
        width:100%;
    }
 }
 .product_description{
    padding: 40px 0;
    border: 1px solid $lightblueGrey;
     .tab{       
         padding: 0px 5px 2px 5px;
         color:$battleshipGrey;
         text-decoration: none;
         margin: 0 20px;         
     }
     .tab_1{
        left: 145px;
        
     }
     .active{
        border-bottom:1px solid $cerulean;
        font-family: $font-bold;
        color:$black;
     }
     .tabcontent{
        padding: 30px 49px;
        border-top: 1px solid $lightblueGrey;
     }
 }

}

.modal_emiInstallment{ 
    .modal-dialog {
        width:60%;
        max-width: 800px;
        .modal-content{
        .modal-body{       
        .close{
            top:20px;
            &:before, &:after {
                background: $black;
                top: 8px;
            }
          }
          .emi_modal{
            padding: 30px;
            .heading{
                margin:0 0 16px 0;
                color:$black;
                font-family: $font-bold;
                font-size: 18px;
            }
            .emi_list{
                padding:0 0 0 20px;
                .list{
                    font-size: 12px;
                    padding: 0 0 2px 0;
                    color:$black;
                    font-family: $font-regular;
                    &::before{
                        content: "\2022";
                        color:$black;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em;
                       }
                     }
                   }
                }        
              }
            }       
        }    
    }

.dataNotActive {
    display: none;
}
.dataActive {
    display: block;
}

.image-gallery-slide-wrapper .image-gallery-fullscreen-button {
    visibility: hidden;
}