@import '../variable';
@import '../app.scss';

/* our-promises
-----------------------------------*/
.our-promises{
    padding: 40px 0;
    background:$cerulean;
    position: relative;
    .heading {
        font-weight: bold; 
        font-size: 48px; 
        padding-bottom: 30px;  
        color:$colorwhite;    
        margin-top: 0;
     }
    .Promise-boxtext {
    .text{color:$colorwhite;}
    .sub-heading{
         color:$colorwhite;
         font-size: 16px;
         font-weight: bold;
         text-transform: capitalize;   
         margin: 10px 0;
        }
    }

    .product-bg{
        position: absolute; 
        right: 0; 
        width: 350px; 
        top: -80px;
        .imgfullwidth{ width:100% }
    }
}


.galleryArea{
    padding:40px 0 0 0;
    .no-margin{ margin:0;}
    .no-paddingLeft{padding-left: 0; }   
    .breadcrumblist{
        padding:13px 0;
        margin: 0;
    .list{
        display: inline-block;
        color:$battleshipGrey;
        padding:0 5px 0 0;
        font-size: 12px;
       .link{
        color:$battleshipGrey; 
        }
    }
   }
.gallaryWrapper{
      position: relative;
     .image-gallery-slides{ 
        max-height: 600px; 
      }
     .featured-box {
        position: absolute;
        top: 0;
        left: 0;
        background:$black;
        color:$colorwhite;
        padding: 2px 10px;
        font-size: 12px;
        z-index: 1;

      .ribbon_star {
        float: left;
        display: block;
        .star_img {
         margin: 3px 3px 0 0; 
        }
       }

     .featured-text {
        float: left;
        display: block;
        margin: 2px 0 0 0;
     }
    }

     .GalleryBox{ 
         border:1px solid $black; 
     }
  }
.GallerytextBox{
    .wishListDiv{
        .wishlistBtn {
            position: absolute;
            background: transparent;
            border: none;
        }
        .user {
            opacity: 0;
        }
    }
    .product{
        padding:0 0 5px 0px;      
        font-weight: 600; 
        .text{
            color:$grey;
            font-size: 12px;                 
        }      
    }

    .slimline{
    .heading{
        margin:0;
        color:$ashGrey;
        font-family: $font-bold;
        font-size:30px;
        padding:0 0 5px 0px;      
     }
    }

    .price{
        font-family: $font-bold;
        font-weight: 600;
        display: flex; 
        flex-wrap: wrap;
       .text{
        margin:0;
        display: inline-flex;
        align-items: center;
        }       
        .actualprice{
            color:$grey;
            font-size: 18px;                 
            text-decoration: line-through;
            text-decoration-color:$reddishpink;
        }
        .offerprice{
            color:$cerulean;
            font-size:28px;
            margin:0 10px 0 0;
        }
    }
    .shippingCharge{
        .bold{
            font-family: $font-bold;
        }
    }
    .accessories-offer{
       color:$reddishPink;
       padding: 17px 0 13px 12px;
       .text{
           display:inline-block;
           margin: 0 5px 0 0;
       }
       .offerbg{
           background: $reddishPink;
           border-radius: 50%;
           width: 22px;
           height: 22px;
           color:$colorwhite;
           text-align: center;
       }
       .discount-off{
           font-family: $font-bold;
       }
       .viewOffer{
           float:right;
           font-family:$font-bold;
           font-size: 12px;
           color:$cerulean;
           text-decoration: none;
       }
    }

    .cashoffer-wrapper{
        margin:13px 0 0 0;
        .list{
            background:$greybg;
            padding:7px 20px;
            margin:0 0 8px 0;
            font-size: 12px;
            font-family: $font-regular;
            .heading{
                margin:0;
                color:$black;
                font-size: 14px;
                font-family: $font-bold;
                padding: 0 0 5px 0;
            }
            .link{
                color:$cerulean;
                font-family: $font-bold;
            }
            .btn-termsCondition {
                background: transparent;
                border: 0;
                color:$cerulean;
                font-family: $font-bold;
                font-size: 12px;      
            }
        }
    }
    .starting-emitext{        
        .emiinfo{
            float: right;
        }
        .bold{
            font-family:$font-bold;
            font-weight: 600;
        }
        .text{
            display: inline-flex;
            margin: 0 5px 0 0;
            .btn-knowmore {
                background: transparent;
                border: 0;
                color:$cerulean;
                font-family: $font-bold;
                font-size: 12px;               
            }            
        }
        
        .offerbg {
            background: $reddishpink;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            color: $colorwhite;
            text-align: center;           
            align-items: center;
            justify-content: center;
            .emitext{
                font-size: 10px;
            }
        }
    }
    
        .pincode{
            width:55%;
            float:left;
            border:1px solid $lightGrey;
            background: $colorwhite;
            .PincodeTextdata{
                padding: 11px 19px;
                .pincodeVal,.pincodeEdit{
                    display: block;
                    
                }
                .pincodeVal{
                    float:left;
                    width: 70%;
                    border: none;
                    color:$black;
                    font-size: 18px;
                    font-family: $font-bold;
                }
                .pincodeEdit{
                    color:$ceruleanblue;
                    float:right;
                    font-family: $font-bold;
                    font-size: 14px;
                    padding: 5px 0 0 0;
                }
            }
            .soldbyDealers {
                font-size: 10px;
                padding: 5px 0px 5px 19px;
                background: $greybg;
                color:$greyish;                
            }
        }

        .ExperienceProduct{
            color:$grey;
            font-size:12px;
            padding:11px 0 0 0;
            .bold{
                color:$ceruleanblue;
                font-family: $font-bold;
                text-decoration: none;
            }
        }
      

    .addCart{
        margin:23px 0 0 0;
        .btn,.form-control{
            float: left;
            background:transparent;
            border:1px solid $grey;
            border-right: 0;
            border-radius: 0;
            padding:15px;
            width:13.33%;
            font-family: $font-bold;
        }
        .btn{
            &:active,&:focus{
                box-shadow: none;
                outline: 0;
            }
        }
        .addcartbtn{
            background:$black;
            border:1px solid $black;
            color:$colorwhite;
            width:60%;
            font-family: $font-regular;
        }
    }

    .starting-emitext{
        background:$iceBlue;
        padding:18px 12px;
        font-size:12px;
        margin:0 0 16px 0;
    }
    
  }


  .PdpFeatures{
      padding:82px 0 0 0 ;
      .featureVertical-tab{
          .headingBox{
            .heading{
                font-size: 30px;
                color:$black;
                font-family: $font-bold;
                margin: 0;
                padding: 0 0 41px 0;
            }
          }
         
          .featureImgbox{
              background:$greybg;
              min-height: 475px;
              display: flex;
              align-items: center;
              justify-content: center;
          }

          .verticalTab{
              min-height: 475px;
              border-left:1px solid $greybg;
              .list{
                  padding:12px 0 12px 41px;
                  margin: 0 0 0 -1px;
                    .link{
                        text-decoration: none;
                        font-size: 14px;
                        color:$greyLight;
                        display: block;
                        .heading{
                            font-size: 20px;
                            color:$black;
                            margin:0;
                            padding:0;
                            font-weight:600;
                            text-transform: capitalize;
                            padding: 0 0 5px 0;
                        }
                    }
                  
              }
              .active{
                  background:$greybg;
                  border-left:1px solid $greyBorder;
              }
          }
      }

  }

  
}

/* Product_details
-----------------------------*/
.product_details{
    padding:87px 0 0px 0;
    border-bottom: 1px solid $lightblueGrey;
    .heading{
        font-size: 30px;
        color:$black;
        margin:0;
        padding:0;
        font-weight:600;
        text-transform: capitalize;
        padding: 0 0 48px 0;
       }
 .product_img{
     display:flex;
     align-items: center;
     justify-content: center;
     min-height: 300px;
    .imgfullwidth{
        width:100%;
    }
 }
 .product_description{
    padding: 40px 0;
    border: 1px solid $lightblueGrey;
    border-bottom: none;
    min-height: 300px;
     .tab{       
         padding: 0px 5px 2px 5px;
         color:$battleshipGrey;
         text-decoration: none;
        //  margin: 0 20px;        
         margin: 0 5px;  
     }
     .tab_1{
        left: 145px;
        
     }
     .active{
        border-bottom:1px solid $cerulean;
        font-family: $font-bold;
        color:$black;
     }
     .tabcontent{
        padding: 30px 49px;
        border-top: 1px solid $lightblueGrey;
     }
 }

}

/* MoreKeyword
-----------------------*/
.moreKeyword{
    padding:100px 0 0 0;
  .heading{
    font-size: 30px;
    color:$black;
    margin:0;
    padding:0;
    font-weight:600;
    text-transform: capitalize;
    padding: 0 0 51px 0;
    text-align: center;
  }

  .keywordsList{
    text-align: center;
    padding: 0px 0 40px 0;
    .list{
      display: inline-block;
      border: solid 1px $greenDark;    
      color: $greenLight;    
      font-weight: 600;
      padding: 10px 20px;
      border-radius: 20px;
      margin-right: 1%;
      min-width: 188px;
    }
}
}

.similarProduct-Wrapper{
    padding:0 0 100px 0;
.similarProducts{
    display: flex;
    flex-wrap: wrap;
    .productlist {        
        position: relative; 
        margin: 0 30px 0 0;
        .imgBox {
          position: relative;
          text-align: center;
          min-height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $greybg;
          .link {
            display: block;
  
            .imgfullwidth {
              max-width: 100%;
              max-height: 168px;
              display: block;
            }
          }
          
        }
        .product-text {
          text-align: center;
          padding:22px 0 0 0;
          .heading {
            position: relative;
            font-family: $font-bold;
            padding-top: 15px;
            font-size: 18px;
            text-transform: capitalize;
            &:after {
              position: absolute;
              width: 20px;
              height: 1px;
              background: $reddishpink;
              content: "";
              bottom: 0;
              margin: 0 auto;
              display: block;
              left: 0;
              right: 0;
            }
            .name,
            .description {
              display: block;
            }
            .name {
              font-family: $font-bold;
            }
            .description {
              font-family: $font-light;
              font-size: 11px;
            }
          }
  
          .text {
            color: $black;
            padding: 5px 0 0 0;
            line-height: 24px;
            margin: 0;
          }
          .price {
            font-weight: bold;
            .discount-price {
              font-size: 18px;
              font-family: $font-bold;
              color: $cerulean;
            }
            .priceno-discount {
              text-decoration: line-through;
              text-decoration-color: $reddishpink;
              font-family: $font-light;
              padding-left: 15px;
              font-size: 18px;
            }
          }
          .emi-text {
            color: $reddishpink;
            font-size: 12px;
            line-height: 16px;
            .free-accessories {
              display: block;
            }
            .bold {
              font-family: $font-bold;
            }
          }
        }
      }

}
}

.modal_emiInstallment{ 
    .modal-dialog {
        width:60%;
        max-width: 800px;
        .modal-content{
        .modal-body{       
        .close{
            top:20px;
            &:before, &:after {
                background: $black;
                top: 8px;
            }
          }
          .emi_modal{
            padding: 30px;
            .heading{
                margin:0 0 16px 0;
                color:$black;
                font-family: $font-bold;
                font-size: 18px;
            }
            .emi_list{
                padding:0 0 0 20px;
                .list{
                    font-size: 12px;
                    padding: 0 0 2px 0;
                    color:$black;
                    font-family: $font-regular;
                    &::before{
                        content: "\2022";
                        color:$black;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1em;
                       }
                     }
                   }
                }        
              }
            }       
        }    
    }

.dataNotActive {
    display: none;
}
.dataActive {
    display: block;
}
.attributeList {
    display: inline-block;
    padding: 0 7px 0 0;
}
.image-gallery-slide-wrapper .image-gallery-fullscreen-button,
{
    visibility: hidden;
}
.galleryArea .gallaryWrapper .image-gallery-slides {
    max-height: unset;
}

.bankEmiList li {
    display: inline-block;
    padding: 8px;
    width: 20%;
    text-align: center;
}

.emiPlans a {
    padding: 20px;
    width: 20%;
    text-align: center;
}
// POC for RGB
.circle {
    display: inline-block;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 25px;
}


