@import "../../variable";

.myOrder {
  .tabBar {
    
    padding: 20px;
    background-color: #036cc5;
    position: relative;

    .heading {
      margin: 0;
      float: left;
      display: block;
      .list {
        display: block;
        float: left;
        color: #fff;
        padding: 0 36px 0 0;
        line-height: 20px;
        .heading-top,
        .heading-sub {
          display: block;
        }
        .heading-top {
          font-size: 12px;
          font-family: $font-regular;
        }
        .heading-sub {
          font-size: 14px;
          font-family: $font-bold;
        }
      }
    }
    .btn-collapse {
      border: none;
      background: transparent;
      color: #fff;
      position: absolute;
      right: 20px;
      top: 26px;
      &:focus {
        outline: none;
      }
    }
  }

  .itemBox {
    border: solid 1px $greyborder;
    padding: 26px 30px;
    margin: 0 0 16px 0;
    .orderProduct {
      border-bottom: solid 1px $greyborder;
      padding: 0px 0 29px 0;
      .orderbtn {
        width: 25%;
        float: right;
        .btn-cancel {
          margin: 0 0 16px 0;
        }
        .btn-borderwhite {
          width: 100%;
          font-size: 14px;
          font-family: $font-bold;
          &:hover {
            background: $black;
            color: $colorwhite;
          }
        }
      }
      .orderimgbox {
        width: 50%;
        float: left;
        .imgBox {
          float: left;
          display: block;
          width: 35%;
          border: 1px solid #efeeed;
          .imgfullwidth {
            width: 100%;
          }
        }

        .product-text {
          float: left;
          display: block;
          width: 65%;
          padding: 0 0 0 12px;

          .heading {
            color: $black;
            font-family: $font-bold;
            font-size: 16px;
            margin: 0;
          }
          .description {
            margin: 0;
            font-size: 10px;
            color: $greyLight;
          }
          .price {
            margin: 0;
            .discount-price {
              font-size: 20px;
              color: $cerulean;
              font-family: $font-bold;
            }
            .priceno-discount {
              font-size: 16px;
              color: $greylightColor;
              font-family: $font-light;
              text-decoration: line-through;
              text-decoration-color: $reddishpink;
              padding: 0 0 0 10px;
            }
          }

          .quantity-shipping {
            color: $battleshipGrey;
            font-size: 10px;
            margin: 0;
            .quantity {
              padding: 0 16px 0 0;
              display: block;
              width: 25%;
              float: left;
              .textval {
                color: $black;
                font-size: 18px;
              }
            }
            .shipping-charge {
              float: left;
              display: block;
              .textval {
                color: $black;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .orderSummery {
    // background-color: blueviolet;
    // min-height: 50px;
  }

  .heightActive {
    height: 150px;
    overflow: hidden;
    -webkit-transition: height 0.4s;
  }

  .heightInActive {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.4s;
  }

  .summerydata {
    .orderList {
      width: 33.3%;
      display: block;
      float: left;
    }
  }
  .paymentmethod {
    padding: 0 20px 0 10px;
  }
}
/* Order checkout page */

.trackorder-wrap {
  margin: 30px auto;
  width: 60%;
  position: relative;
  float: right;

  ul.track-bar { 
    background-size: 35px 35px;
    background-color: #EcEcEc;
    border-radius: 15px;
    height: 2px;
    margin: 0px 0 0 40px;
    padding: 0;
    position: absolute;
    width: 100%;
    &:before{
      background-color:$colorwhite;    
      height: 2px;
      left: 0;
      position: absolute;
      width: 10%;
      content: '';
    }
    .list.visited:after {
      background-size: 35px 35px;
      background-color: $black;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 99;
    }
    .list.last:after {
      background-size: 35px 35px;
      background-color:$colorwhite;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: -30px;
      width: 100%;
      z-index: 99;
    }
    .list.visited{
      background: none;
      color: $black;
      z-index: 99999;
      &:before {
        background: $black;
        z-index: 99999;
      }
    }
    .list.active{
      color:$greenLight;
      font-family: $font-bold;
      &:before {
        background: $greenLight;
        z-index: 99999;        
        padding: 10px;
        top: -41px;
      }
    }
    .list {
      display: inline-block;
      margin: 30px 0 0;
      padding: 0;
      text-align: center;
      width: 19%;
      position: relative;
      font-size: 10px;
      &:nth-child(1):before {
        content: " ";
      }
      &:nth-child(2):before {
        content: " ";
      }
      &:nth-child(3):before {
        content: " ";
      }
      &:nth-child(4):before {
        content: " ";
      }
      &:nth-child(5):before {
        content: " ";
      }
      &:before {
        background: #ddd;
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
        left: 40%;
        line-height: 37px;
        height: 15px;
        width: 15px;
        position: absolute;
        text-align: center;
        top: 4px;        
        z-index: 999;
        top: -37px;
      }
    }
  }
}
 

