.myOrder {
  .tabBar {
    width: 847px;
    height: 70px;
    background-color: #036cc5;
  }

  .itemBox {
    width: 847px;
    //height: 882px;
    border: solid 1px #e4eaee;
  }

  .orderProduct {
    background-color: aquamarine;
  }

  .orderSummery {
    background-color: blueviolet;
    min-height: 50px;
  }

  .heightActive {
    min-height: 250px;
    -webkit-transition: min-height 0.4s;
  }

  .heightInActive {
    min-height: 0px;
    -webkit-transition: min-height 0.4s;
  }
}
