.changePasswordContainer{
  .currentPassword{
    position: relative;
    .valiationPosition-NewPassword {
      position: absolute;
      right: 20px;
      top: 35px;
      width: 16px;
    }
  }
  .valiationPosition-NewPassword2 {
    position: absolute;
    right: 20px;
    top: 54px;
    width: 16px;
  }
  
}


