@import '../variable';
.invoiceContainer {
    width: 80%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 16px;
    
}
.mobileInvoiceContainer {
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 16px;
    
}
.downloadBtn {
    text-align: center;
    margin: $base*2;
}

.invoiceContent{
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    height: auto !important;
}