@import "../variable.scss";
.form-BgContainer {
  .form-div{
    position: relative; 
    .error-msg{
      position:absolute;
      bottom: 0;
      color:$errorMsg;
      margin:0;
      font-size:  $base*1.5;
    }
    .form-group{ 
      position: relative;
      padding: 17px 0 0 0;
      .form-label{
        color:$battleshipGrey;
        position: absolute;
        top:0;
      }
      .form-control:focus{
        border:1px solid $black !important;
        box-shadow: 0 !important;
      }
      .form-control{
        border-radius: 0;
        height: 54px;
        border:1px solid $lightGrey;
        box-shadow: none;
        margin:5px 0 20px 0;
        color:rgba(0, 0, 0, 0.87);
        font-weight: bold;
        padding: 17px 21px;
        border-radius: 2px;

        &:focus ~ {          
          .form-label{
           color:$cerulean !important;
        }
      }
 
      }
    }
  }
  
    .actionBtnWrapper {     
      .btn {
        border-radius: 0;
      }
      &__cancelBtn {
        border: solid 1px $black;
        background-color: $colorwhite;
      }   
    }
    .btn-apply{
      background:rgba(7,7,7,0.5);
      color:$colorwhite;
      font-size:  $base*1.75;
      border-radius: 0;
      &:hover{
        background:rgba(7,7,7,0.4);
        color:$colorwhite;
      }
    }

    .btn-applyActive{
      background:rgba(7,7,7,1);
      color:$colorwhite;
      font-size:  $base*1.75;
      padding: 12px 84px;
      border-radius: 0;
      margin:16px 0 16px 0;
      &:hover{
        background:rgba(7,7,7,0.4);
        color:$colorwhite;
      }
    }

    .noteMsg{
      font-size:  $base*1.5;
      line-height: 1.5;
      .bold{
        font-weight: 500;
      }
      .successMsg{
        color: green;
      }
      .failMsg{
        color: red;
      }
    }
  }  

/* Modal Delete 
----------------------*/
  .delete-modal{
    background: rgba(255, 255, 255, 0.65);
    .cancelBtn {    
      position: absolute;   
      top: 20px;
      right: 20px;   
      background: transparent;
      border: none;    
      display: inline-block;
      width: 12px;
      height: 12px;
      overflow: hidden;
      &:focus{
        border:none;
        outline: none;
      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }
      &::before,
      &::after{
        content: '';
        position: absolute;
        height: 0.09rem;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background:$black;
      }
    }
    .modal-dialog{    
      width: 50%;
      max-width: 592px;
    
      .modal-content{
        box-shadow: none;
        .modalwrapper{    
          .heading{
            margin: 0 0 28px 0;
            font-size: $base*2.5;
            color:$black;
            font-family: $font-bold;
          }
        .actionBtnWrapper{
          padding: 0px 0 0px 0;
          .btn-save{
            float: right;
          }      
          .btn {
            padding: 12px 60px;
            border-radius: 0; 
            width: 47%;
          }
        }   
      }
    }
  }
  }
  

  /* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  //CSS
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 768
  */
@media screen and (min-width: 768px) {
  .form-BgContainer {
    width: 70%;
    background-color:$greybg;
    float: left;    
    padding:25px 25px 32px 25px;
    .form-div{
      .form-group{
        .form-label{
          font-size: $base*1.75;
        }
        .form-control{
          font-size:  $base*2;
        }
      }
    }
    .btn-apply{
      padding: 12px 84px;
      margin:16px 0 16px 0;
    }
  } 
  .delete-modal{
    .modal-dialog{
      .modal-content{
        .modalwrapper{
          padding:64px 88px 64px 88px;  
          .actionBtnWrapper{
            .btn{
              padding: 12px 60px;
            }
          }
        }
      }
    }
  }
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px) {
  .form-BgContainer {
    width: 100%;
    float: left;    
    padding:0px 10px 32px 10px;
    .form-div{
      .form-group{
        .form-label{
          margin: 14px 0px 0px 15px;
          padding: 0px 7px;
          background: $colorwhite;
          font-size: 11px;
        }
        .form-control{
          font-size: 14px;
        }
      }
    }
    .btn-cancel{
      border: 1px solid $black;
      padding: 12px 0px;
      background: $colorwhite;
      border-radius: 0px;
      min-width: 49%;
      margin-right: 2%;
      max-width: 250px;
    } 
    .btn-apply{
      padding: 12px 0px;
      min-width: 49%;
      max-width: 250px;
    } 
  }
  .delete-modal{
    .modal-dialog{
      .modal-content{
        .modalwrapper{
          padding:30px 30px 34px 30px;  
          .actionBtnWrapper{
            .btn{
              padding: 12px 0px;
            }
            .btn-save{
              margin: 0px;
            }
          } 
        }
      }
    }
    &.in{
      bottom: 0px;
      top:initial;
    }
  }
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
}