@import '../app.scss';
.myac-left-nav .nav-tabs{ 
  background:$colorblue;
}

.myac-left-nav .nav-tabs > li{
  float: none; 
}

.myac-left-nav .nav-tabs > li > a{
  color:$colorwhite; 
  border:0px;
}


.myac-left-nav .nav-tabs > li.active > a {
    background: #3c79a1; 
    color:$colorwhite;
    border-radius: 0px;  
    border: 0px;
  }

  .myac-left-nav .nav-tabs > li > a:hover, .myac-left-nav .nav-tabs > li > a:focus {
    background:$colorblue; 
    color:$colorwhite;
    border-radius: 0px;  
    border: 0px;
  } 
  .myac-left-nav .nav-tabs > li > a.active{
    background:#3c79a1;
  } 

.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left>li {
 margin:0px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background:#f90;
  border:none;
  border-radius:0px;
  margin:0px;
}
.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
}
