@import '../app.scss';
@import './myAccountBase.scss';
.MyAccount{
  padding: 40px 0 40px 0;

  .username{
    padding:0 0 32px 32px;
    color:$colorwhite;
    font-size: 20px;
    margin:0;
  }
}
.myaccount-leftnav{
  .nav-tabs{
    background:$colorblue;
    padding:40px 0 40px 0px;
    .list{
      float: none; 
      .link{
        color:$colorwhite; 
        border:0px;
        padding:13px 13px 13px 32px;
        &:hover,
        &:focus{
              background:rgba(238,248,254,0.2) ;
              color:$colorwhite;
              border-radius: 0px;  
              border: 0px;              
              color:$colorwhite;
              margin:0;
              border:none;
              outline: 0;              
        }        
      }
      .link.active{        
          background:#3c79a1;        
      }
      }
      .list.active{
        background:#3c79a1;
        .link{
          background: #3c79a1; 
          color:$colorwhite;
          border-radius: 0px;  
          border: 0px;          
         }  
      }
    }
}


.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left>li {
 margin:0px;
}

// .tabs-left>li.active>a,
// .tabs-left>li.active>a:hover,
// .tabs-left>li.active>a:focus {
//   border-bottom-color: #ddd;
//   border-right-color: transparent;
//   background:#f90;
//   border:none;
//   border-radius:0px;
//   margin:0px;
// }
// .nav-tabs>li>a:hover {
//     /* margin-right: 2px; */
//     line-height: 1.42857143;
//     border: 1px solid transparent;
// }
