
@import "../variable.scss";
.form-BgContainer {
    width: 70%;
    float: left;    
    background-color:$greybg;
    padding:25px 25px 32px 25px;
  .form-div{
    position: relative; 
    .error-msg{
      position:absolute;
      bottom: 0;
      color:$errorMsg;
      margin:0;
      font-size:  $base*1.5;
    }
    .form-group{ 
      .form-label{
        font-size: $base*1.75;
        color:$battleshipGrey;
      }
      .form-control{
        border-radius: 0;
        height: 54px;
        border:1px solid $lightGrey;
        box-shadow: none;
        margin:0 0 20px 0;
        color:rgba(0, 0, 0, 0.87);
        font-size:  $base*2;
        font-weight: bold;
        padding: 17px 21px;
      }
    }
  }
  
    .actionBtnWrapper {
      padding: 5px 0 0 0;
      .btn {
        padding: 12px 60px;
        border-radius: 0;
      }
      &__cancelBtn {
        border: solid 1px $black;
        background-color: $colorwhite;
      } 
      
      
    }
    .btn-apply{
      background:rgba(7,7,7,0.5);
      color:$colorwhite;
      font-size:  $base*1.75;
      padding: 12px 84px;
      border-radius: 0;
      margin:16px 0 16px 0;
      &:hover{
        background:rgba(7,7,7,0.4);
        color:$colorwhite;
      }
    }

    .noteMsg{
      font-size:  $base*1.5;
      line-height: 1.5;
      .bold{
        font-weight: 500;

      }
    }
  }
  