
@import '../app.scss';
@import '../base.scss';
@import '../variable';

.modal-wrapperjoinus{
    .modal-dialog{ 
        max-width: 450px;
        width:36%;

        .close{
            top:20px;
            &:before, &:after {
                background: $colorwhite;
            }
          }
      }
}
.registerEmailMobile{
    .modal-dialog{ 
        max-width: 800px; 
        width: 62%;       
        
        .close{
            top:20px;
            &:before, &:after {
                background: $black;
            }
          }
      }
}
.modal-wrapperotp{
    .modal-dialog{ 
        max-width:500px;
        width: 40%;
       
        .modal-wrapper {
            padding: 0;
            
        }
        .close{
            top:32px;
            &:before, &:after {
                background: $black;
            }
          }
          .btn-back{    
                position: absolute;
                top: 28px;
                left: 20px;
                background: transparent;
                border: none;
                color: #979797;
                .leftArrow{
                    width:10px;
                  }
            }
      }
}
.modal_register {    
    .modal-dialog{  
        .modal-wrapperotp {           
            .modal-wrapper{
                padding: 30px 0;                
                 .form_register {
                     padding:0;
                    max-width: 80%;                
                }
                .otp-verification{
                    .otp-text{
                        font-size: 14px;
                        font-family: $font-regular;
                        text-align: center;
                        line-height: 16px;                        
                    }
                    .form-label{
                        font-size:14px;
                        line-height: 14px;
                        font-family: $font-medium;
                        color:$battleshipGrey;   
                        font-weight: 400;                     
                    }
                }
            }
        }

        .modal-wrapperjoinus {            
            .close{                
                &:before, &:after {
                    background:$colorwhite;
                    color:$colorwhite;
                }
            }         
            .modal-wrapper{
                padding: 0;              

                .joinUs{
                    background: url(../../images/join-bg.png) no-repeat;    
                    background-size: cover;
                    width: 100%;
                    text-align: center;
                    .logo_width{width:150px}
                    .joinus-heading{
                        font-family: CeraGIBold, sans-serif;
                        margin: 25px 0 0px 0;
                        padding: 0;
                        color:$colorwhite;
                        text-transform: capitalize;
                    }
                  
                }
                 .form_register {
                    max-width: 100%;
                    padding:0;
                    .inner-joinusform{
                    .btn-wrapper{
                        font-family: $font-bold;
                        .btn-white{  
                            width:49%;                           
                            border:1px solid $black;
                            border-radius: 0; 
                            color:$black;   
                            .icon-img{
                                display: inline-block;
                                margin:0 6px 0 0;
                            }
                        }
                        .btn-fb{
                            float: right;
                        }
                       
                    }
                    }
                    .already-member{
                        text-align: center;
                        margin: 14px 0 0;
                        color:$black;
                        font-family: $font-regular;
                        font-size: $base*1.75;
                        line-height: $base*1.75;
                        .login{
                            color:$ceruleanblue;
                            font-family: $font-regular;
                            text-decoration: underline;
                            font-weight: 600;
                        }
                    }
                }
            }
        }


        .modal-wrapper{   
            padding: 0;            
            .otp_screen{max-width: 80%;margin:0 auto;    color: #979797;
               .form_register{
                   .heading{font-size: 20px; text-align: center;}
               }
            
            }
            .form_register{  
            .form-group{ margin:0;
            .btn-bg{ 
                     margin:15px 0 0 0; 
                     background: $black; 
                     border-radius: 0;
                     text-transform: capitalize;    
                     font-family: $font-medium;   
                    }
                .sign_text{
                    text-align: center;
                    padding:15px 0 0 0; 
                    color: $battleshipGrey;   
                    .link{ 
                        color:$ceruleanblue;
                    }     
                }
                .have-account{
                    text-align: center;
                    margin: 12px 0 0;
                    color:$black;
                    .login{
                        color:$ceruleanblue;
                        font-family: $font-bold;
                    }
                }
                }
                max-width: 80%;
                padding: 30px 0 0 0;
                margin: 0 auto;
            .heading{
                text-align: left;
                font-family:$font-bold;
                padding: 0 0 30px 0;
                margin: 0;
                color: $black;
                font-size: 32px;
                }
            
                .label {
                    color:$battleshipGrey;
                    text-transform: capitalize;
                    background: transparent;
                    margin: 0;
                    display: block;
                    text-align: left;
                    padding: 0 0 10px 0;
                    font-family: $font-light;
                    font-size: 13px;
                }
                .form-control {
                    box-shadow: none;
                    height: 40px;
                    margin: 0 0 10px 0;
                    border:1px solid $lightgrey;
                }
                .error-msg {
                    color:$reddishpink;
                    font-size: 12px;
                    line-height: 13px;
                    bottom: 0;
                    width: 100%;
                }
                .form-div {
                    position: relative;
                    .resend-otp {
                        position: absolute;
                        bottom:10px;
                        right:0;
                        background: transparent;
                        border:none;
                        color:$ceruleanblue;
                        font-family: $font-bold;
                        font-size: 12px;
                    }
                    .btn-register{
                        padding: 5px 70px;
                    }
                }
                .text_box{
                    text-align: center;
                    margin:18px 0;
                    color:$black;
                    font-family: $font-light;
                    .or{
                        position: relative;
                        display:inline-block;
                        text-transform: capitalize;
                        &::after{
                            width: 40px;
                            height: 1px;
                            position: absolute;
                            content: '';
                            background: #000;
                            left: 21px;
                            top: 13px;      
                        }
                        &::before{
                            width: 40px;
                            height: 1px;
                            position: absolute;
                            content: '';
                            background: #000;
                            right: 21px;
                            top: 13px; 
                        }
                    }
                }
               
            }

            .btn-white{   
                background: #fff;
                color: #827b7b;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin:0
            }
        .no-padding{ padding:0 0 0 0;
            .imagebox{
                height: 490px;    
                background: url(/fe5bec6a9b234cf1387ce97ef8ab9de3.jpg);
                background-size: 100% 100%;    
                width: 100%;
                border-left:1px solid #ccc;
            }
            .Thumbnailbox{
                .imgfullwidth{
                    width:100%;
                }
            }
        }
        }
}

}



/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  }
  

  /* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
    /* 
    #Global Screen Chhange for Screen Laptops, Desktops
    */
    @include mix-lg{
        .modal_register{
            .modal-dialog{
                .modal-wrapperjoinus{
                    .modal-wrapper{
                        .joinUs{
                            padding:30px 0;
                            .joinus-heading{
                                font-size: $base*4.75;
                            }
                        }
                        .form_register{
                            .inner-joinusform{
                                padding:40px 50px;

                                .btn-wrapper{
                                    .btn-white{
                                        padding: 10px 6px;
                                        .icon-img{
                                            .icon{
                                                width:$base*3;
                                            }
                                        }
                                        .signin-text{
                                            font-size: 12px;
                                        }
                                        
                                    }
                                } 
                            } 
                        } 
                    } 
                } 
            } 

            &.modal-wrapperotp{
                .modal-dialog{
                    .modal-wrapper{
                        .form_register{
                            .error-msg{
                                max-width: 75%;
                            }
                        } 
                    }
                }  
            }
        } 
    }

  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  


  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  

  /* 
    #Global Screen Chhange for Screen max 992
  */
  @include mix-md{
    .modal_register{
            .modal-dialog{
                .modal-content{
                    .registerEmailMobile{
                        .modal-wrapper{
                            .reg-join-Us{
                                background-image: url('../../images/rectangle.png');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: inherit;
                                padding: 50px 0px 30px 0px;
                                text-align: center;
                                .joinus-heading{
                                    font-family: $font-bold;
                                    margin: 15px 0 0px 0;
                                    padding: 0;
                                    color:$colorwhite;
                                    text-transform: capitalize;
                                    font-size:$base*3;
                                }
                            }
                            .close {
                                &:before{
                                    background:$colorwhite;
                                }
                                &:after{
                                    background:$colorwhite;
                                }
                            }
                            .form_register{
                                min-height: 490px;
                                .form-group{
                                    .label{
                                        position: absolute;
                                        font-size: 11px;
                                        font-weight: normal;
                                        z-index: 1;
                                        background: $colorwhite;
                                        padding: 0px 10px;
                                        margin: -5px 0px 0px 10px;
                                        text-transform: capitalize;
                                        font-family: $font-regular;
                                        color: $blackLight;
                                    }
                                    .form-control{
                                        &::-webkit-input-placeholder{
                                            color:$black;
                                            font-family: $font-regular;
                                            font-weight: normal;
                                            font-size: 12px;
                                        }
                                    }
                                    
                                    .have-account, .sign_text, .link{
                                        font-family: $font-regular;
                                        color: $blackLight;
                                        font-size: 11px;
                                        font-weight: normal;
                                        .login{
                                            text-decoration: underline;
                                        }
                                    }
                                    .btn-bg{
                                        line-height: 26px;
                                    }
                                    .form-div{
                                        .error-msg{
                                            position: relative;
                                            margin-top: -25px;
                                            margin-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            .modal-wrapperjoinus{
                .modal-wrapper{
                    .joinUs{
                        padding:50px 0px 30px 0px;
                        .joinus-heading{
                            font-size: $base*3;
                            margin: 15px 0 0px 0;
                        }
                        svg{
                            width:100px;
                        }
                    }
                    .form_register{
                        .inner-joinusform{
                            min-height: 500px;
                            padding:40px 20px;
                            .btn-wrapper{
                                .btn-white{
                                    padding: 8px 4px 8px 4px;
                                    font-size: 10px;
                                    .icon-img{
                                        .icon{
                                            width:14px;
                                        }
                                    }
                                    .signin-text{
                                        font-size: 10px;
                                    } 
                                }
                            } 
                        } 
                    } 
                } 
            }
            
        } 
        &.modal-wrapperotp {
            top:initial;
            bottom: 0px;
            .modal-dialog{
                .modal-content{
                    .modal-wrapperotp{
                        .modal-wrapper{
                            padding: 25px 0px 0px 0px;
                            .otp_screen{
                                max-width:100%;
                                .form_register{
                                    max-width: 100%;
                                    .heading{
                                        font-size: 14px;
                                        text-align: left;
                                        padding: 7px 0px 18px 50px;
                                    }
                                    .otp-verification{
                                        padding: 15px 20px 0px 20px;
                                        border-top:1px solid  $lightblueGrey;
                                        .otp-text{
                                            font-size: 10px;
                                            line-height: normal;
                                            font-weight: normal;
                                            font-family: $font-regular;
                                            color:$black;
                                            padding: 0 0 10px 0;
                                            text-align: left;
                                        }
                                        .form-control{
                                            border: 1px solid $black;
                                            border-radius: 0px;
                                        }
                                        .resend-otp{
                                            bottom: initial;
                                            top:0px;
                                            margin:11px 10px 0px 0px;
                                        }
                                        .form-label{
                                            position:absolute;
                                            top: -7px;
                                            left: 15px;
                                            background: $colorwhite;
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.in{
                padding-left: 0px !important;
            }
        }
        &.modal-wrapperjoinus  {
            .modal-dialog{
                max-width: 500px;
                width:100%;
            }
           &.in{
               padding-left: 0px !important;
           }
        }

        &.registerEmailMobile  {
           &.in{
               padding-left: 0px !important;
           }
        }
    } 

  }


  /* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  
  /* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }