
@import '../app.scss';
@import '../base.scss';
@import '../variable';

.modal-wrapperjoinus{
    .modal-dialog{ 
        max-width: 450px;
        width:36%;

        .close{
            top:20px;
            &:before, &:after {
                background: $colorwhite;
            }
          }
      }
}
.registerEmailMobile{
    .modal-dialog{ 
        max-width: 800px; 
        width: 62%;       
        
        .close{
            top:20px;
            &:before, &:after {
                background: $black;
            }
          }
      }
}
.modal-wrapperotp{
    .modal-dialog{ 
        max-width:500px;
        width: 40%;
       
        .modal-wrapper {
            padding: 0;
            
        }
        .close{
            top:32px;
            &:before, &:after {
                background: $black;
            }
          }
          .btn-back{    
                position: absolute;
                top: 28px;
                left: 20px;
                background: transparent;
                border: none;
                color: #979797;
                .leftArrow{
                    width:10px;
                  }
            }
      }
}
.modal_register {    
    .modal-dialog{  
        .modal-wrapperotp {           
            .modal-wrapper{
                padding: 30px 0;                
                 .form_register {
                     padding:0;
                    max-width: 80%;                
                }
            }
        }

        .modal-wrapperjoinus {            
            .close{                
                &:before, &:after {
                    background:$colorwhite;
                    color:$colorwhite;
                }
            }         
            .modal-wrapper{
                padding: 0;              

                .joinUs{
                    background: url(../../images/join-bg.png) no-repeat;    
                    background-size: cover;
                    width: 100%;
                    text-align: center;
                    padding:30px 0;
                    .logo_width{width:150px}
                    .joinus-heading{
                        font-family: CeraGIBold, sans-serif;
                        margin: 25px 0 0px 0;
                        padding: 0;
                        font-size: 32px;
                        color:$colorwhite;
                        text-transform: capitalize;
                    }
                  
                }
                 .form_register {
                    max-width: 100%;
                    padding:0;
                    .inner-joinusform{padding:40px 50px;
                    .btn-wrapper{
                        font-family: $font-bold;
                        .btn-white{  
                            width:49%;                           
                            border:1px solid $black;
                            border-radius: 0; 
                            color:$black;   
                                           
                            .icon-img{
                                display: inline-block;
                                margin:0 6px 0 0;
                                .icon{
                                    width:24px;
                                }
                               
                            }
                            .signin-text{
                                font-size: 12px;
                            }
                        }
                        .btn-fb{
                            float: right;
                        }
                       
                    }
                    }
                    .already-member{
                        text-align: center;
                        margin: 12px 0 0;
                        color:$black;
                        .login{
                            color:$ceruleanblue;
                            font-family: $font-bold;
                        }
                    }
                }
            }
        }


        .modal-wrapper{   
            padding: 0;            
            .otp_screen{max-width: 80%;margin:0 auto;    color: #979797;
               .form_register{
                   .heading{font-size: 18px; text-align: center;}
               }
            
            }
            .form_register{  
            .form-group{ margin:0;
            .btn-bg{ 
                     margin:15px 0 0 0; 
                     background: $black; 
                     border-radius: 0;
                     text-transform: capitalize;       
                    }
                .sign_text{
                    text-align: center;
                    padding:15px 0 0 0; 
                    color: $battleshipGrey;   
                    .link{ 
                        color:$ceruleanblue;
                    }     
                }
                .have-account{
                    text-align: center;
                    margin: 12px 0 0;
                    color:$black;
                    .login{
                        color:$ceruleanblue;
                        font-family: $font-bold;
                    }
                }
                }
                max-width: 80%;
                padding: 30px 0 0 0;
                margin: 0 auto;
            .heading{
                text-align: left;
                font-family:$font-bold;
                text-transform: capitalize;
                padding: 0 0 30px 0;
                margin: 0;
                color: $black;
                font-size: 32px;
                }
            
                .label {
                    color:$battleshipGrey;
                    text-transform: uppercase;
                    background: transparent;
                    margin: 0;
                    display: block;
                    text-align: left;
                    padding: 0 0 10px 0;
                    font-family: $font-light;
                    font-size: 13px;
                }
                .form-control {
                    box-shadow: none;
                    height: 40px;
                    margin: 0 0 28px 0;
                    border:1px solid $lightgrey;
                }
                .error-msg {
                    position: absolute;
                    color:$reddishpink;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 13px;
                    min-height: 25px;
                    bottom: 0;
                    width: 100%;
                    margin:0 0 0 0;
                }
                .form-div {
                    position: relative;
                    .resend-otp {
                        position: absolute;
                        bottom:5px;
                        right:0;
                        background: transparent;
                        border:none;
                        color:$ceruleanblue;
                        font-family: $font-bold;
                        font-size: 12px;
                    }
                    .btn-register{
                        padding: 5px 70px;
                    }
                }
                .text_box{
                    text-align: center;
                    margin:18px 0;
                    color:$black;
                    font-family: $font-light;
                    .or{
                        position: relative;
                        display:inline-block;
                        text-transform: capitalize;
                        &::after{
                            width: 40px;
                            height: 1px;
                            position: absolute;
                            content: '';
                            background: #000;
                            left: 21px;
                            top: 13px;      
                        }
                        &::before{
                            width: 40px;
                            height: 1px;
                            position: absolute;
                            content: '';
                            background: #000;
                            right: 21px;
                            top: 13px; 
                        }
                    }
                }
               
            }

            .btn-white{   
                background: #fff;
                color: #827b7b;
                border: 1px solid #ccc;
                padding: 10px 8px;
                border-radius: 4px;
                margin:0
            }
        .no-padding{ padding:0 0 0 0;
            .imagebox{
                height: 490px;    
                background: url(/fe5bec6a9b234cf1387ce97ef8ab9de3.jpg);
                background-size: 100% 100%;    
                width: 100%;
                border-left:1px solid #ccc;
            }
            .Thumbnailbox{
                .imgfullwidth{
                    width:100%;
                }
            }
        }
        }
}

}