@import '../variable';
@import '../base';
.bestSeller {
    .subCatImg {
        width: 100%;
    }
    .slick-next:before, 
    .slick-prev:before {
        font-size: 32px;
        line-height: unset;
        opacity: unset;
        color: unset;
    }
    .slick-prev {
        left: unset;
        right: 25px;
    }
    .slick-next,
    .slick-prev {
        top: unset;
        bottom: -20%;
    }
    .slick-slide div {
        margin: $base;
        position: relative;
        .subCatImg {
            background-color: #f7f8f8;
            padding: $base*2;
        }
    }
    .bsDetails {
        text-align: center;
        padding: 0 $base*3;
        .prodtitle {
            font-family: $font-medium;
            color: $black; 
            position: relative;
            margin-top: $base*2;
            &:after {
                position: absolute;
                width: 20px;
                height: 1px;
                background: $reddishPink;
                content: "";
                bottom: 0;
                top: 25px;
                margin: 0 auto;
                display: block;
                left: 0;
                right: 0;
            }
        }
        .peiceDeatils {
            margin: 0;
        }
        .tax-disclaimer {
          font-size: 10px;
        }
        .discPrice {
            color: $cerulean;
            font-family: $font-bold;
            padding: $base;
        }
          @include line-through;
        .emi {
            color: $reddishPink;
            font-size: $base*1.5;
            margin: 0;
            .emiPrice {
                font-family: $font-bold;
                padding: $base*0.5;
            }
        }
        .emiOffer {
            color: $reddishPink;
            font-size: $base*1.5;
            margin: 0;
            .emiOfferDisc {
                font-family: $font-bold;
                padding: $base*0.5;
            }
        }
    }
}


/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  }
  

  /* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
    /* 
    #Global Screen Chhange for Screen max 768
    */
    @media screen and (min-width: 768px){
        .bestSeller {
            width: 83.33%;
            margin: $base*15 auto;
            .bsDetails {
              .discPrice{
                font-size: $base*3;
              }
              .actualPrice{
                font-size: $base*2.25;
              }
              .prodtitle{
                font-size: $base*2.5;
              }
            }
        }
    }

  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  


  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  

  /* 
    #Global Screen Chhange for Screen max 767
  */
  @media screen and (max-width: 767px){
    .bestSeller {
        margin: $base;
        .slick-next:before, 
        .slick-prev:before {
            display: none;
        }
        .bsDetails {
          .peiceDeatils{
            line-height: 14px;
            .discPrice{
              font-size: $base*1.5;
              font-family: $font-bold;
              padding: 0px 8px;
            }
            .actualPrice{
              font-size: $base*1.25;
              color:$greylightColor;
              font-family: $font-regular;
              padding: 0px 8px;
            }
         }
         .tax-disclaimer {
          font-size: 10px;
         }
          .prodtitle{
            font-size: $base*1.5;
            color: $black;
            &:after{
              top:18px;
            }
          }
        }
    }
  }


  /* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  
  /* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }