@import "../app.scss";
@import "../base.scss";
.modal-forgot {
  .modal-dialog {
    max-width: 500px;
    width: 40%;

    .modal-content {
      .modal-wrapper {
        .form-center {
          .form-group {
            margin: 0;
            position: relative;
            .text {
              color: #77787a;
              font-size: 13px;
              font-family: $font-light;
            }
            .text-emailotp {
              margin: 0 0 0px 0;
			  font-size: 12px;
		   	  font-family: $font-regular;
			  color: $black;
            }
            .error-msg {
              width: 100%;
              margin: 0;
              position: static;
              min-height: auto;

              .registerHere {
                color: blue;
                border: 0px;
                text-decoration: underline;
                height: 0px;
              }
            }

            .form-control {
              margin: 0 0 5px 0;
            }
            .newinputmargin {
              margin: 0 0 0px 0;
            }
            .form-div {
              position: relative;
              .valiationPosition {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px 5px;
                height: 40px;
              }
            }
          }
        }

        .btn-back {
          background: transparent;
          border: none;
          position: absolute;
          left: 20px;
          top: 28px;
          .leftArrow {
            width: 10px;
          }
        }
      }
    }
    .close {
      &:before,
      &:after {
        background: $colorwhite;
        color: $black;
      }
    }
  }
}
//----------------------------------------------------

.checkmarkImg {
  width: 27px;
}

.valiationPosition {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 5px;
  height: 40px;
}

.valiationPosition-NewPassword {
  position: absolute;
  right: 9px;
  top: 8px;
  width: 20px;
}

.positionRel {
  position: relative;
}

.searchAnimate {
  position: relative;
  display: block;
  width: 100%;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-name: anim-Right;
}

.leftAnim {
  position: relative;
  display: block;
  width: 100%;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-name: anim-Left;
}

@keyframes anim-Right {
  0%,
  1.3% {
    right: -100%;
    opacity: 0;
  }
  1.3%,
  100% {
    right: 0%;
    opacity: 1;
  }
}

@keyframes anim-Left {
  0%,
  1.3% {
    left: -100%;
    opacity: 0;
  }
  1.3%,
  100% {
    left: 0%;
    opacity: 1;
  }
}

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  //CSS
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 768
  */
@media screen and (min-width: 768px) {
  .modal-forgot {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .modal-wrapper {
            padding: 32px 0;
            .forrgot-pass-box{
              .label{
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px) {
  .modal-forgot {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .modal-wrapper {
            padding: 25px 0px 0px 0px;
            .btn-back {
              position: initial;
              margin-left: 20px;
            }
            .form-center {
              &.forrgot-pass-box {
                max-width: 100%;
                .heading {
                  padding-bottom: 10px;
                  font-size: 14px;
                  line-height: 18px;
                  font-family: $font-medium;
                  text-align: left;
                  margin-left: 50px;
                  margin-top: -19px;
                }
                .form-group {
                  .label-default {
                    position: absolute;
                    top: 0px;
                    z-index: 1;
                    background: #fff;
                    padding: 0px 8px;
                    margin: -4px 0px 0px 13px;
                    font-size: 11px;
                    font-family: $font-regular;
                    font-weight: normal;
                    text-transform: capitalize;
                  }
                  .form-control {
                    &::-webkit-input-placeholder {
                      color: $black;
                      font-size: 12px;
                    }
                  }
                  .text-emailotp {
                    font-size: 12px;
                    font-family: $font-regular;
                    color: $black;
                  }
                }
                .modalmin-height {
                  padding: 25px 20px 0px 20px;
                  border-top: 1px solid $lightblueGrey;
                  margin-top: 15px;
                }
                .btn-block {
                  margin-bottom: 0px;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }

    &.in {
      bottom: 0px;
      top: initial;
    }
  }
}

/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  //CSS
}
