

.loader-modal {
  // position: fixed;
    width: 100%;
    height: 100vh;
    // left: 0;
    // top: 0;
    background: rgba(51,51,51,0.0);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .loadingIndicatorStyle-outter {  
  height: 60px;
  width: 60px;  
  animation: leaves 1s ease-in-out infinite alternate;
    -webkit-animation: leaves 1s ease-in-out infinite alternate;
}