@import '../variable';


.storeLocator {
    @include container-width;
    text-align: center;
    .title {
        margin: $base*8 0 $base*6.25 0;
    }
    .pc-field {
        width: 44%;
        padding: 8px;
    }
    .pc-btn {
        background-color: $ashGrey;
        color: $colorwhite;
        padding: $base*1.125;
        border: 1px solid $ashGrey;
        width: 22%;
    }
    .storeTypes {
        width: 66.4%;
        margin: 44px auto;
        .storeTypeItem{
            width: 23%;
            display: inline-block;
            border: 1px solid #ddd;
            margin: 1%;
            .typeList {
                width: 51%;
                margin: auto;
            }
            .storeImg {
                width: 100%;
            }
        }

    }
}
.storeDetails {
    width: 91.63%;
    margin-left: 8.37%; 
    .storeList {
        width: 28%;
        height: 472px;
        overflow: auto;
        margin: 0 19px 0 0;
        .storeListItem{
            background-color: $colorwhite; 
            border: 1px solid #ccc;
            box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.11);
            margin:0 0 15px 0;
            padding: 24px;
            width: 92%;
        }
    }
    .mapContainer {
        width: 70%;
        height: 500px;
    }
    .storeList,
    .mapContainer {
        display: block;
        float: left;
    }
}
