@import '../app.scss';
@import '../base.scss';
@import '../variable';

.exStore {
    width: 100%;
    margin: $base*15 auto;
    position: relative;
    img {
        width: 100%;
    }
    .content {
        position: absolute;
        width: 50%;
        padding: $base*2;
        text-align: center;
        background: $colorwhite;
        left: 29%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        // top: 8%;
        // left: $base*4;
        .subTitle {
            font-size: $base*2.5;
            margin: $base*1.5 0 0 0;
			padding:0px;
        }
        .title {
            font-size: $base*3.75;
            font-weight: 300;
            font-family: $font-medium;
            margin: $base*1.25 0 $base*2.25;
			padding:0px;
        }
        .place,
        .dist {
            color: $ceruleanblue;
        }
        .place {
            font-family: $font-medium;
        }
        .details {
            font-size: $base*2;
            margin: 0; 
        }
        .btn-flat {
            font-size: $base*1.75;
            width: 200px;
            height: 46px;
            font-weight: 500;
            text-align: center;
            color: $colorwhite;
            margin: $base*2 0 $base*1.5 0;
            background-color: $ashGrey;
            border: none;
  
        }
        .storeLink {
            text-decoration: none;
        }
    }
}


/* 
#Global Mobile screen - 767 max
*/
@include  mix-md {
    .exStore {
        width: 100%;
        margin: $base*8 0 $base*12;
        min-height: 240px;

        .content {
            // width: 90%;
            // left: 45%;
            // // top: 60%;
            width:50%;
            left: 30%;
            .title {
                font-size: $base*3;
                text-align: left;
                font-family: $font-bold;
            }
            .details {
                text-align: left;
                font-size: $base*1.5;
            }
            .btn-flat {
                float: left;
                overflow: hidden;
                clear: both;
                font-size: 12px;
                width: 175px;
                height: 40px;
            }
            
        }
    }
}

@media(max-width:767px){
    .exStore {
    .content {
        width: 90%;
        left: 45%;
        top:92%;
    }
}

}
@media(min-width:1024px){
    .exStore {
        // width: 100%;
        .content {
            left: 35%;
            width: 64%;
        }

    }
}
@media(max-width:1024px){
    .exStore {
        width: 100%;  

    }
}

@media(min-width:1280px){
    .exStore {
        .content {
            left: 29%;
            width: 50%;
        }

    }
}