@import "../variable";
@import "../app.scss";

.mobileHeader {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 101;
  padding: 5px 0px;
  .mobSideNav,
  .mob-logo {
    float: left;
  }
  .backToCategory {
    .backToCatBtn,
    .back-mob-logo,
    .mob-mini-profile-nav {
      float: left;
    }
    .backToCatBtn {
      padding: 8px 15px 20px 10px;
    }
    .back-mob-logo {
      margin-top: 6px;
    }
    .mob-mini-profile-nav {
      margin-bottom: 0px;
      margin-top: 10px;
    }

    .shareBtn {
      padding: 14px 10px 0px 10px;
      float: right;
    }
  }

  .menuBtn {
    width: 24px;
    height: 24px;
    background: none;
    border: 0px;
  }

  .navigationTitle {
    width: 100%;
    margin: 1px 10px 0px 20px;
    display: inline-block;
    font-size: 18px;
  }

  .logoImg {
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }

  .searchField {
    font-size: 12px;
    caret-color: #036cc5;
    width: 80%;
    height: 30px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #d1d1d2;
      opacity: 1;
      font-family: $font-medium;
    }
  }
  .mob-home-search {
    position: absolute;
    width: 100%;
    margin-top: 48px;
    background: #fff;
    z-index: 1;
    .searchBackBtn {
      border-top: 1px solid $lightblueGrey;
      padding: 7px 15px;
      .menuBtn {
        display: none;
      }
      .searchField {
        width: 85%;
      }
    }
    .searchBarHeader {
      #autoSuggestDiv {
        top: 99px;
      }
    }
  }
  .mob-mini-nav {
    float: right;
    margin: 8px 10px 0px 0px;

    .searchBtn {
      background: none;
      border: 0px;
    }
    .searchIcon {
      display: inline;
    }
    .icons {
      float: left;

      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin: 0 8px 0 8px;
      svg {
        margin: 0;
      }
      .wishListCount {
        position: absolute;
        top: -6px;
        right: 0;
        background: $reddishPink;
        width: 16px;
        height: 16px;
        text-align: center;
        color: $colorwhite;
        border-radius: 50%;
        font-size: $base * 1.25;
        font-weight: bold;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-bold;
      }
    }
  }

  .searchBackBtn {
    position: relative;
    display: block;
    width: 100%;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-Right;
    padding: 7px 15px;

    button {
      background: none;
      border: 0px;
      outline: 0;
    }
    .menuBtn {
      margin-right: 10px;

      .logoImg {
        margin: 0px;
      }
    }
    .searchField {
      border: 0px;
    }
  }

  .leftAnim {
    position: relative;
    display: block;
    width: 100%;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-name: anim-Left;
  }

  @keyframes anim-Right {
    0%,
    1.3% {
      right: -100%;
      opacity: 0;
    }
    1.3%,
    100% {
      right: 0%;
      opacity: 1;
    }
  }

  @keyframes anim-Left {
    0%,
    1.3% {
      left: -100%;
      opacity: 0;
    }
    1.3%,
    100% {
      left: 0%;
      opacity: 1;
    }
  }

  .searchBarHeader {
    .search-icon {
      margin: 0;
    }
    .searchInput {
      width: 100%;
      border: transparent;
      background: transparent;
      padding: 0px 0 0 25px;
      min-height: 35px;
      &:focus {
        outline: none;
      }
    }
    .searchLogo {
      position: absolute;
      top: 6px;
      left: 0px;
      z-index: 2;
      display: block;
      text-align: center;
      pointer-events: none;
    }

    #autoSuggestDiv {
      position: fixed;
      top: 51px;
      width: 100%;
      height: 100%;
      background: white;
      z-index: 9;

      .auto-search {
        padding: 16px 0 16px 0;

        .list {
          padding: 0px;
          .link {
            display: block;
            padding: 7px 20px;
            text-decoration: none;
            color: $black;
            font-family: $font-regular;
            font-size: 12px;

            &:hover {
              background: $paleGrey;
            }
          }
          &:first-child {
            .link {
              display: block;
              padding: 7px 20px;
              text-decoration: none;
              color: $black;
              font-family: $font-bold;

              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
  svg:not(:root) {
    margin: 0 8px;
  }
}

/* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
@media (min-width: 320px) and (max-width: 600px) {
  .sideNavigation {
    .usernameTxt {
      &.userInfo {
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
