
@import '../app.scss';

.footer{
 background:$colorblue;
 padding:70px 0;
 .rightPadding {
     padding-right:7%;
 }
 .footerlink_wrpper{padding:0 0 20px 0}
 .logo_white{
     padding:0 15px 40px 15px;
     .logo_width{
         width:250px;
     }
 }
 .newsletter_section{
     padding-left:40px;
 .newsletterList{
     padding:0 0 15px 0;
     li:first-child{
        padding: 0 0 20px 0;
        font-style: italic;
        line-height: 0;
      
     }
     
     .form-inline{
        position: relative;
     
     .email_input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid $colorwhite;
        box-shadow: none;
        border-radius: 0;
        padding: 0 45px 0 0;
        opacity: 0.45;
        color: $colorwhite;
        width: 100%;

        &:focus{
            outline: none;           
            box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
            }
        
    }
    .form-control:focus{box-shadow: 0}
        .btn-emailsubmit{
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 0;
            &:focus{
                outline: none;           
                box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
                }
        }
    }
 }

}
 .social-Link{
     .list{
         display: inline;   
         padding: 0 10px 0 0;     
     }
 }
 .heading{
     color:$colorwhite;
     font-family: $font-bold; 
     opacity: 0.23;
     margin: 0;
     padding: 0 0 15px 0;
     font-size: 34px;
    }
    .news_heading{
        opacity: 1;
        max-width: 78%;
        padding: 0 0 33px 0;
        line-height: 28px;  
        font-size: 40px;
        line-height: 44px;
    }
 .list{ 
     color:$colorwhite;
     line-height: 2;
     .newsletter-heading{
         font-size: 28px;
     }
     .link{
         color:$colorwhite;
         text-decoration: none;
         font-size: 12px;
        }
 }

 .store_area{
    
     .list{
         display: inline-block;
         line-height: 12px;
         
      .link{
        display: block;
        padding: 0 5px 0 0;
        border-right: 1px solid #dcd9d9;
        margin: 0 5px 13px 0;
        
      }
       &:last-child { 
           .link{border-right: none; }
         }
    }
 }
 .categories_section{
     padding-left:40px;
    }

    .categoriestext{
        margin:0;
        padding:0;
        font-size: 12px;
        display: inline-block;
        line-height: 12px;

        .link{
            display: block;
            padding: 0 5px 0 0;
            border-right: 1px solid #dcd9d9;
            margin: 0 5px 13px 0;
            
          }
          &:last-child{
            .link{
                border-right: none;
            }
          }
    }
}