@import "../app.scss";

.footer {
  background: black;
  .rightPadding {
    padding-right: 7%;
  }
  .logo_white {
    padding: 0 15px 40px 15px;
    .logo_width {
      width: 250px;
    }
  }
  .newsletter_section {
    .newsletterList {
      padding: 0 0 15px 0;
      li:first-child {
        padding: 0 0 10px 0;
        font-style: italic;
        line-height: 0;
        font-family: $font-regular;
      }

      .form-inline {
        position: relative;

        .email_input {
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid $colorwhite;
          box-shadow: none;
          border-radius: 0;
          padding: 0 45px 0 0;
          opacity: 0.45;
          color: $colorwhite;
          width: 100%;

          &:focus {
            outline: none;
            box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
          }
        }
        .form-control:focus {
          box-shadow: 0;
        }
        .btn-emailsubmit {
          background: transparent;
          border: none;
          padding: 0;
          margin: 0;
          position: absolute;
          right: 0;
          &:focus {
            outline: none;
            box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
          }
        }
      }
      .successMsg{
        font-size:12px;
        font-family: $font-regular;
        color:$colorwhite;
        margin: 8px 0 0 0;
        line-height: 12px;
      }
    }
  }
  .social-Link {
    .list {
      display: inline;
      padding: 0 10px 0 0;
    }
  }

  .news_heading {
    opacity: 1;
    max-width: 78%;
    padding: 0 0 33px 0;
    line-height: 28px;
    font-size: 40px;
    line-height: 44px;
  }
  .list {
    color: $colorwhite;
    line-height: 2;
    .newsletter-heading {
      font-size: 28px;
    }
    .link {
      color: $colorwhite;
      text-decoration: none;
      font-size: 12px;
    }
  }

  .store_area {
    .list {
      display: inline-block;
      line-height: 12px;

      .link {
        display: block;
        padding: 0 5px 0 0;
        border-right: 1px solid #dcd9d9;
      }
      &:last-child {
        .link {
          border-right: none;
        }
      }
    }
    .moreButton{
      .link{
        font-family: $font-bold;
        cursor: pointer;
    }
    }
  }

  .categoriestext {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: inline-block;
    line-height: 12px;

    .link {
      display: block;
      padding: 0 5px 0 0;
      border-right: 1px solid #dcd9d9;
      margin: 0 5px 13px 0;
    }
    &:last-child {
      .link {
        border-right: none;
      }
    }
  }

  .plusIcon {
    float: right;
    width: 24px;
    height: 24px;
    display: block;
    fill: #dcd9d9;
  }

  .accor {
    // margin: 10px;
    // border: 1px solid #ddd;
    // transition: 0.4s;
  }
  .head {
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
  }
  .body {
    background: transparent;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
  }
}

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  //CSS
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 768
  */
@media screen and (min-width: 768px) {
  .footer {
    padding: 70px 0;
    .footerlink_wrpper {
      padding: 0 0 20px 0;
    }
    .newsletter_section{
      .heading{
        opacity: 1;
        max-width: 100%;        
      }
    }
    .heading {
      color: $colorwhite;
      font-family: $font-bold;
      opacity: 0.23;
      margin: 0;
      padding: 0 0 15px 0;
      font-size: 34px;
    }
    .categories_section {
      padding-left: 40px;
    }
    .newsletter_section {
      padding-left: 40px;
      .newsletterList {
        .form-inline {
          .btn-emailsubmit {
            top: 0px;
          }
        }
      }
    }
    .categoriestext {
      .link {
        margin: 0 5px 13px 0;
      }
      &:last-child {
        .link {
          border-right: none;
        }
      }
    }
    .store_area {
      .list {
        .link {
          margin: 0 5px 13px 0;
        }
        &:last-child {
          .link {
            border-right: none;
            cursor: default;
          }
        }
      }
    }
  }
}

/* Screen 1200px Start*/
@media screen and (min-width: 1200px) {
  .footer {
    .newsletter_section{
      .heading{
        opacity: 1;
        font-size: 40px;
        line-height: 40px;
        padding:0 0 33px 0;        
      }
      .newsletterList{
        li:first-child {
          padding: 0 0 45px 0;
          .newsletter-heading{
            margin:0;
          }
        }
      }
    }
  }
}
/* Screen 1200px Emd*/
/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
    .GI_NEWSLETTER_MOBILE .imgFullWidth{
	  
		width:100%;
		height:100%;
	  
	}
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 0;
    .newsletter_section{
      .newsletter-heading{       
        font-size: 16px;     
        margin: 0 0 12px 0;   
      }
    }
    .heading {
      color: $colorwhite;
      font-family: $font-bold;
      opacity: 0.23;
      margin: 0;
      padding: 0 0 15px 0;
      font-size: 16px;
    }
    .categories_section {
      padding-bottom: 25px;
      .heading {
        padding: 25px 0 15px 0;
      }
    }
    .newsletter_section {
      .newsletterList {
        .form-inline {
          .btn-emailsubmit {
            top: 0px;
          }
        }
      }

      .successMsg {
        color: #dbdbdb;
        font-size: 11px;
        font-weight: normal;
        font-family: $font-regular;
      }
    }
    .active {
      .body {
        max-height: 600px;
        margin-top: -10px;
        .list {
          color: $colorwhite;
          line-height: 18px;
          .link {
            color: $colorwhite;
            text-decoration: none;
            font-size: 12px;
            font-family: $font-regular;
          }
        }
      }
    }
    .categoriestext {
      .link {
        margin: 0 5px 7px 0;
        font-family: $font-regular;
      }
      &:last-child {
        .link {
          border-right: none;
        }
      }
    }
    .store_area {
      .list {
        .link {
          margin: 0 5px 7px 0;
          font-family: $font-regular;
        }
        &:last-child {
          .link {
            border-right: none;
            cursor: default;
          }
        }
      }
      .moreButton{
        .link{
          font-family: $font-bold;
          cursor: pointer;
      }
      }
    }
  }
}

/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
}
