
@import '../app.scss';
.footer{
 background:$colorblue;
 padding:40px 0;
 .newsletterList{
     padding:0 0 15px 0;
     .form-inline{
        position: relative;
     
     .email_input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid $colorwhite;
        box-shadow: none;
        border-radius: 0;
        padding: 0 45px 0 0;
        opacity: 0.45;
        color: $colorwhite;
        width: 100%;

        &:focus{
            outline: none;           
            box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
            }
        
    }
    .form-control:focus{box-shadow: 0}
        .btn-emailsubmit{
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 0;
            &:focus{
                outline: none;           
                box-shadow: 0 0 0 0rem rgba(159, 159, 159, 0.2) !important;
                }
        }
    }
 }
 .social-Link{
     .list{
         display: inline;        
     }
 }
 .heading{
     color:$colorwhite;
     font-family: $font-bold; 
     opacity: 0.23;
     margin: 0;
     padding: 0 0 15px 0;
     font-size: 22px;
    }
 .list{ 
     color:$colorwhite;line-height: 2;
     .link{
         color:$colorwhite;
         text-decoration: none;
        }
 }
}