@import "../app.scss";

.footerMobile {
  background: $colorblue;
  // padding: 70px 0;

  .logo_white {
    padding: 0 15px 40px 15px;
    .logo_width {
      width: 135px;
    }
  }

  .social-Link{
    text-align: center;
    margin-top: 20px;
    .list{
        display: inline;   
        padding: 0 10px 0 0;     
    }
}

  .copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
  }
}


