

@font-face {
    font-family: 'Cera Godrej Interio Light';
    src: url('../fonts/CeraGodrejInterio-Bold.eot');
    src: url('../fonts/CeraGodrejInterio-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraGodrejInterio-Light.woff2') format('woff2'),
        url('../fonts/CeraGodrejInterio-Light.woff') format('woff'),
        url('../fonts/CeraGodrejInterio-Light.ttf') format('truetype'),
        url('../fonts/CeraGodrejInterio-Light.svg#CeraGodrejInterio-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Godrej Interio Regular';
    src: url('../fonts/CeraGodrejInterio-Regular.eot');
    src: url('../fonts/CeraGodrejInterio-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraGodrejInterio-Regular.woff2') format('woff2'),
        url('../fonts/CeraGodrejInterio-Regular.woff') format('woff'),
        url('../fonts/CeraGodrejInterio-Regular.ttf') format('truetype'),
        url('../fonts/CeraGodrejInterio-Regular.svg#CeraGodrejInterio-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGIMedium';
    src: url('../fonts/CeraGodrejInterio-Medium.eot');
    src: url('../fonts/CeraGodrejInterio-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraGodrejInterio-Medium.woff2') format('woff2'),
        url('../fonts/CeraGodrejInterio-Medium.woff') format('woff'),
        url('../fonts/CeraGodrejInterio-Medium.ttf') format('truetype'),
        url('../fonts/CeraGodrejInterio-Medium.svg#CeraGodrejInterio-Light') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Godrej Interio Bold';
    src: url('../fonts/CeraGodrejInterio-Bold.eot');
    src: url('../fonts/CeraGodrejInterio-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraGodrejInterio-Bold.woff2') format('woff2'),
        url('../fonts/CeraGodrejInterio-Bold.woff') format('woff'),
        url('../fonts/CeraGodrejInterio-Bold.ttf') format('truetype'),
        url('../fonts/CeraGodrejInterio-Bold.svg#CeraGodrejInterio-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 //$fontFace : url('../fonts/CeraGodrejInterio-Light.woff') !default;  