@import "../../app.scss";
@import "../../base.scss";
@import "../../variable.scss";

.addAddressContainer {
  margin:0 0 0 0;
  position: relative;
  .heading{   
    font-size: $base*2;
    font-family:$font-bold;
    margin: 0 0 23px 0;
  }
  .cancelBtn {    
    position: absolute;   
    top: 28px; 
    background: transparent;
    border: none;    
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    &:focus{
      border:none;
      outline: none;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      height: 0.09rem;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background:$black;
    }
    }
    &:focus {
      outline: none;
    }
  }

  .actionBtnWrapper {  
    .btn-cancel {
      border: solid 1px $black;
      background-color: $colorwhite;
	  padding: 12px 84px;
	   font-size:  $base*1.75;
    }
    .btn-save {
      border: solid 1px $black;
      background-color: $colorwhite;
      background: $black;
      color: $colorwhite;
      margin: 0 0 0 23px;
	  padding: 12px 84px;
	   font-size:  $base*1.75;
      &:hover{
        color:$colorwhite;
        background:$black;
      }
      &:focus{
        color:$colorwhite;
        outline: none;
      }
    }   
  }

  .defaultOption{
    .inputCheck[type="checkbox"] {
      display: none;
  }
    /* Input Checkbox Squere
    -----------------------------*/
    .inputCheck[type="checkbox"] + .lblCheck {
      background: url("../../../images/plpAssests/unchecked.jpg") left top no-repeat;     
      display: inline;
      min-height: 16px;
      padding-left: 11px;
      background-size: contain;
    }

    .inputCheck[type="checkbox"]:checked + .lblCheck {
      background: url("../../../images/plpAssests/checked.jpg") left top no-repeat;
      background-size: contain;
      padding-left: 11px;
    }
    .lblCheck {   
      cursor: pointer;  
      color: $battleshipGrey;
      font-size: $base*1.5;      
    }
    .input_box,
    .defaultlbl{
      float: left;
    }

    .defaultlbl{
      font-weight: normal;
      padding: 0 0 0 14px;
      margin: 0;
      font-size: $base*1.5;
    }
  }
  
// }

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  //CSS
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 768
  */
@media screen and (min-width: 768px) {
  .addAddressContainer {
    width: 97%;
    border-radius: 2px;
    border: dashed 1px $lightblueGrey;
    background-color: rgba(238, 237, 237, 0.09);
    padding: 21px 30px 21px 26px;
    .actionBtnWrapper {
      padding: 39px 0 18px 0; 
    }
    .cancelBtn{
      right: 30px;  
    }
  }
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px) {
  .manageAddressContainer{
    .addAddressContainer {
      width: 100%;
      padding: 21px 0px 21px 0px;
      .actionBtnWrapper {
        padding: 15px 0 15px 0; 
        .btn-cancel{
          padding: 8px 0px;
          margin: 0px;
        }
        .btn-save{
          padding: 8px 0px;
          width: 49%;
          margin: 0px 0px 0px 2%;
        }
      }
      .cancelBtn{
        right:5px;
      }
      .add-new-btn{
        padding: 0px;
      }
    }
  }
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
}

