@import "../../app.scss";
@import "../../base.scss";
@import "../../variable.scss";

.addAddressContainer {
  width: 97%;
  border-radius: 2px;
  border: solid 1px $lightblueGrey;
  background-color: rgba(238, 237, 237, 0.09);
  padding: 21px 30px 21px 26px;
  border-style: dashed;
  margin:0 0 0 0;
  position: relative;

  .heading{   
    font-size: $base*2;
    font-family:$font-bold;
    margin: 0 0 23px 0;
  }
  .cancelBtn {    
    position: absolute;   
    top: 28px;
    right: 30px;   
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .actionBtnWrapper {
    padding: 39px 0 46px 0;    
    .btn-cancel {
      border: solid 1px $black;
      background-color: $colorwhite;
    }
    .btn-save {
      border: solid 1px $black;
      background-color: $colorwhite;
      background: $black;
      color: $colorwhite;
      margin: 0 0 0 23px;
    }

   
  }

  .defaultOption{
    .defaultCheckbox,
    .defaultlbl{
      float: left;
    }

    .defaultlbl{
      font-weight: normal;
      padding: 0 0 0 14px;
      margin: 0;
      font-size: $base*1.5;
    }
  }
  
}
