@import "../../app.scss";
@import "../../base.scss";
@import "../../variable.scss";

.addAddressContainer {
  width: 97%;
  border-radius: 2px;
  border: solid 1px $lightblueGrey;
  background-color: rgba(238, 237, 237, 0.09);
  padding: 21px 30px 21px 26px;
  border-style: dashed;
  margin:0 0 0 0;
  position: relative;
  .heading{   
    font-size: $base*2;
    font-family:$font-bold;
    margin: 0 0 23px 0;
  }
  .cancelBtn {    
    position: absolute;   
    top: 28px;
    right: 30px;   
    background: transparent;
    border: none;    
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    &:focus{
      border:none;
      outline: none;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      height: 0.09rem;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background:$black;
    }
    }
    &:focus {
      outline: none;
    }
  }

  .actionBtnWrapper {
    padding: 39px 0 18px 0;    
    .btn-cancel {
      border: solid 1px $black;
      background-color: $colorwhite;
    }
    .btn-save {
      border: solid 1px $black;
      background-color: $colorwhite;
      background: $black;
      color: $colorwhite;
      margin: 0 0 0 23px;
    }   
  }

  .defaultOption{
    .inputCheck[type="checkbox"] {
      display: none;
  }
    /* Input Checkbox Squere
    -----------------------------*/
    .inputCheck[type="checkbox"] + .lblCheck {
      background: url("../../../images/plpAssests/unchecked.jpg") left top no-repeat;     
      display: inline;
      min-height: 16px;
      padding-left: 11px;
      background-size: contain;
    }

    .inputCheck[type="checkbox"]:checked + .lblCheck {
      background: url("../../../images/plpAssests/checked.jpg") left top no-repeat;
      background-size: contain;
      padding-left: 11px;
    }
    .lblCheck {     
      color: $battleshipGrey;
      font-size: $base*1.5;      
    }
    .input_box,
    .defaultlbl{
      float: left;
    }

    .defaultlbl{
      font-weight: normal;
      padding: 0 0 0 14px;
      margin: 0;
      font-size: $base*1.5;
    }
  }
  
// }

