@import './addAddressForm.scss';

.manageAddressContainer {
  width: 100%;
  .itemList {    
    margin: 0;
   .list{
     position: relative;
     &:last-child{
      margin-right:0
    }

    .addressItem.defaultAddress{
      background-color: rgba(99, 176, 225, 0.07);
      border:1px solid $ceruleanblueborder;
    }
    .addressItem {
      border-radius: 2px;
    
      .defaultAddress {
        font-family: $font-bold;      
        font-size:  $base*1.5;
        font-weight: bold;   
        color:$black;
        margin: 0 0 12px 0;
        width: 100%;
       
      }
    
      .addressText {   
        font-size: $base*1.5;     
        color: $black;   
        line-height: 1.58;
        margin: 0;
        font-weight: normal;
      }
    
      .listitem {   
        &:first-child{
          padding: 0 8px 0 0;
        }
        &:last-child{
          padding: 0 0px 0 8px;
          border-right: none;
        }
        &:focus {
          outline: none;
        }
      }
    }

    

   }
  
  }
  .addNewAddress { 
    font-size:  $base*1.75;
    font-family: $font-bold;  
    color: $cerulean;  
    margin: 0;
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}


/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
  //CSS
  
}


/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

  /* 
  #Global Screen Chhange for Screen max 768
  */
  @media screen and (min-width: 768px){
  
    .manageAddressContainer{
      .itemList {
        overflow: auto;
        .list{
          width:31%;
          float: left;
          margin: 0px 16px 26px 0;
		  
          .addressItem{
            background-color: rgba(247, 248, 248, 0.5);
            padding:16px 10px;
            height: 162px;
            border: solid 1px $lightblueGrey;
			
            .listitem{
              display: inline;
              font-size:  $base*1.5;
              font-family: $font-bold;
              color: $cerulean;
              padding: 0px 10px;
              background: transparent;
              border: none;
              border-right:1px solid $black;
              cursor: pointer;
            }
          }
          .modifyAddress{
              position: absolute;
              bottom: 16px;
          }
        }
      }
    } 
    
  }

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}



/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}


/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px){
  .manageAddressContainer{
    .itemList {
      .list{
        margin: 0px 0px 15px 0;
		.addressItem.defaultAddress{
			  background-color: white;
			  border: solid 1px $lightGrey;
		 }
        .addressItem{
          padding:16px 10px 25px 10px;
          border: solid 1px $lightGrey;
          .setAsdefaultbtn{
            float: left;
            color: $ceruleanblue;
            text-decoration: underline;
            margin-bottom: 10px;
            width: 100%;
            font-family: $font-medium;
            font-size: 12px;
          }
        }
        .addressItem {
          .addressText{
            font-family: $font-regular;
            color: $battleshipGrey;
          }
        }
      }
      .myacAddressList{
        position: absolute;
        right: 15px;
        top: 15px;
        .listitem{
          float:left;
          img{
            width:15px;
          }
        }
      }
    }
    .addNewAddress{
      width: 100%;
      position:fixed;
      bottom: 0px;
      left: 0px;
      padding: 15px;
      background: $colorwhite;
      text-align: left;
      z-index: 9;
      .icon{
        float: right;
        font-size: 20px;
        line-height: 20px;
      }
    }
  } 
}


/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}


/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}


