@import '../variable';

.trackMiniOrder {
    width: 100%;
    .userDetails,
    .orderSummary {
        min-height: $base*28;
    }
    .userDetails {
        width: 25%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        background-color: $ceruleanblue;
    }
    .orderSummary {
        background-color: $greybg;
    }
    .orderDetails {
        width: 75%;
        display: inline-block;
        .prodDetails,
        .prodImg {
            vertical-align: top;
        }
        .prodImg {
            width: 20%;
            height: 180px;
            margin: $base*2.75 7.5%;
            background-color: $colorwhite; 
            display: inline-block;
        }
        .prodDetails {
            width: 39.5%;
            margin: $base*2.75 0;
            display: inline-block;
        }
        .link {
            width: 19.5%;
            display: inline-block;
            margin: $base*2.75 0;
            vertical-align: bottom;
        }
    }
    .slick-prev {
        left: $base;
    }
    .slick-next{
        right: $base;
    }
    .slick-slider{
        .slick-dots {
            display: none;
            visibility: hidden;
        }

    }
    .slick-next:before,
    .slick-prev:before {
        color: transparent;
        font-size: $base*3.75;
    }
}