@import '../variable';
@import '../base';
.subCat {
    width: 83.33%;
    margin: $base*15 auto 0;
    .subCatImg {
        width: 100%;
    }
    .slick-next,
    .slick-prev {
        top: unset;
        bottom: -30%;
    }
    
    .slick-slide div {
        margin: $base;
        position: relative;
        .subCatImg {
            background-color: #f7f8f8;
            padding: $base*2;
        }
    }
    .slick-prev {
        left: unset;
        right: 25px;
    }
    .slick-next,
    .slick-prev {
        top: unset;
        bottom: -20%;
    }
    // .slick-next {
    //     right: -15px;
    // }
    .slick-track {
        margin: auto;
    }
    .slick-track .slick-slide.slick-cloned {
        display: none;
    }
    .catDetails {
        padding: $base*1.5 0;
        .catItem {
            font-size: $base*2;
            font-family: $font-bold;
            color: $black; 
            margin:0;
        }
        .itemCount{
            font-size: 11px;
            color: $black;
            float: right;
        }
        .starting {
            font-style: italic;
            font-size: 11px;
        }
    }
}

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  }
  

  /* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
    /* 
    #Global Screen Chhange for Screen max 768
    */
    @media screen and (min-width: 768px){
        .subCat {
            width: 83.33%;
            margin: $base*15 auto 0;
            .slick-next:before, 
            .slick-prev:before {
                font-size: 20px;
            }
        }

    }

  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  


  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  

  /* 
    #Global Screen Chhange for Screen max 767
  */
  @media screen and (max-width: 767px){
    .subCat {
      width: 90%;
      margin: $base*8 auto $base*8 auto;
        .slick-next:before, 
        .slick-prev:before {
            display: none;
        }
    }
  }


  /* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  
  /* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }