@import '../variable';
@import '../base';
.subCat {
    width: 83.33%;
    margin: $base*15 auto 0;
    .subCatImg {
        width: 100%;
    }
    .slick-next,
    .slick-prev {
        top: unset;
        bottom: -30%;
    }
    .slick-next:before, 
    .slick-prev:before {
        font-size: 20px;
    }
    .slick-slide div {
        margin: $base;
        position: relative;
        .subCatImg {
            background-color: #f7f8f8;
            padding: $base*2;
        }
    }
    .slick-prev {
        left: unset;
        right: 25px;
    }
    .slick-next,
    .slick-prev {
        top: unset;
        bottom: -20%;
    }
    // .slick-next {
    //     right: -15px;
    // }
    .slick-track {
        margin: auto;
    }
    .slick-track .slick-slide.slick-cloned {
        display: none;
    }
    .catDetails {
        padding: $base*1.5 0;
        .catItem {
            font-size: $base*2;
            font-family: $font-bold;
            color: $black; 
        }
        .itemCount{
            font-size: 11px;
            color: $black;
            float: right;
        }
        .starting {
            font-style: italic;
            font-size: 11px;
        }
    }
}