@import '../variable';

.cartDetails {
    @include container-width;
    margin: $base*6.5 auto;
    .cartItem {
        width: 64%;
        display: inline-block;
        margin-right: 2%;
    }
    .cartHeadDetails {
        margin: 1% 0;
        padding: 1% 0;
        border-bottom: 1px solid $darkAshGrey;
        .title {
            text-align: left;
            width: 76.5%;
            display: inline-block;
            margin: 0;
            font-family: $font-bold;
        }
        .cartCount {
            font-size: $base*3;
            color: $battleshipGrey;
            margin-left: $base*3; 
        }
    }
    .cartItem {
        .prodList {
            min-height: 195px;
            height: auto;
            border: 1px solid $borderLight;
            border-bottom: none;
            position: relative;
            &:last-child {
                border-bottom: 1px solid $borderLight;
            }
            .prodImg {
                width: 29%;
                min-height: 195px;
                display: inline-block;
                border-right: 1px solid $borderLight;
            }
            .prodDetails {
                width: 71%;
                display: inline-block;
                vertical-align: top;
                padding: 0 $base*1.5;
                position: relative;
                .prodTitle {
                    font-size: $base*2;
                    margin: $base*1.5 0 0;
                }
                .subTitle {
                    color: $greyLight;
                    font-size: $base*1.37;
                    margin-bottom: $base*1.5;
                }
                .qytLabel {
                    display: block;
                    font-size: $base*1.25;
                    color: $greyLight;
                    font-family: $font-regular;
                }
                .qytList {
                    width: 67px;
                }
                .dlvBy {
                    margin: $base*2.25;
                    font-size: $base*1.25;
                    color: $battleshipGrey;
                }
                .date {
                    font-size: $base*1.25;
                    color: $black;
                }
                .price,
                .shipping {
                    position: absolute;
                    right: $base*1.5;
                }
                .price {
                    color: $cerulean;
                    font-family: $font-bold;
                    top: $base*1.5;

                }
                .shipping {
                    color: $battleshipGrey;
                    font-size: $base*1.5;
                    top: $base*3.75;
                }
                .delCartItem,
                .moveItem {
                    position: absolute;
                    bottom: 0;
                }
                .delCartItem {
                    right: $base;
                }
                .moveItem {
                    right: $base*4;
                }
            }
        }
    }
    .orderSummary {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        color: $black;
        margin-left: 1%;
        .promotion {
            margin: 1% 0;
            padding: 1% 0;
            border-bottom: 1px solid $darkAshGrey; 
            .promoHead {
                font-size: $base*2;
                color: $battleshipGrey;
                margin-bottom: $base; 
                text-align: left;
            }
        }
        .title {
            text-align: left;
            font-size: $base*2.25;
            font-family: $font-bold;
            margin: $base*3.75 auto;
        }
        .summary {
            .val {
                float: right;
                overflow: hidden;
            }
            .shippingMsg {
                display: block;
                color: $battleshipGrey;
                font-size: $base*1.5;
            }
            .emiInfo {
                padding: 20px 0;
                margin: 0;
                border-top: 1px solid $darkAshGrey;
                border-bottom: 1px solid $darkAshGrey;
            }
            .emiDetails {
                margin-left: 11%;
                text-decoration: none;
            }
            .totalAmt {
                margin: $base*2 0;
                .totalPrice {
                    display: inline-block;
                    font-size: $base*3;
                    color: $cerulean;
                    font-family: $font-bold;
                }
                .savingText {
                    display: block;
                }
            }
            .btnCheckout {
                width: 100%;
                background-color: $ashGrey;
                color: $colorwhite;
                margin-top: $base*4; 
            }
        }
    }
}