@import '../variable';

.cartDetails {
    @include container-width;
    margin: $base*6.5 auto;
    .cartItem {
        width: 64%;
        display: inline-block;
        margin-right: 2%;
    }
    .cartHeadDetails {
        margin: 0;
        padding: 0 0 $base*2;
        border-bottom: 1px solid $darkAshGrey;
        .title {
            text-align: left;
            display: inline-block;
            margin: 0;
            font-family: $font-bold;
        }
        .cartCount {
            font-size: $base*3;
            color: $battleshipGrey;
            margin-left: $base*3; 
        }
        .pincodeField {
            position: relative;
            width: 40%;
            display: inline-block;
            border: 1px solid $borderLight;
            padding: $base;
            .pinLogo {
                position: absolute;
            }
            .pincodeEdit {
                position: absolute;
                top: $base;
                right: $base*2;
            }
            .pincodeVal{
                margin-left: $base*4;
                border: transparent;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .cartItem {
        .prodList {
            height: auto;
            border: 1px solid $borderLight;
            border-bottom: none;
            position: relative;
            &:last-child {
                border-bottom: 1px solid $borderLight;
            }
            .prodImg {
                width: 29%;
                display: inline-block;
            }
            .prodDetails {
                width: 71%;
                display: inline-block;
                vertical-align: top;
                padding: 0 $base*1.5;
                position: relative;
                .subTitle {
                    color: $greyLight;
                    margin-bottom: $base*1.5;
                }
                .qytLabel {
                    display: block;
                    font-size: $base*1.25;
                    color: $greyLight;
                    font-family: $font-regular;
                }
                .qytList {
                    width: 67px;
                }
                .dlvBy {
                    margin: $base*2.25;
                    font-size: $base*1.25;
                    color: $battleshipGrey;
                }
                .date {
                    font-size: $base*1.25;
                    color: $black;
                }
                .price,
                .shipping {
                    position: absolute;
                    right: $base*1.5;
                }
                .price {
                    color: $cerulean;
                    font-family: $font-bold;
                    top: $base*1.5;

                }
                .shipping {
                    color: $battleshipGrey;
                    font-size: $base*1.5;
                    top: $base*3.75;
                }
                .delCartItem,
                .moveItem {
                    position: absolute;
                    bottom: 0;
                }
                .delCartItem {
                    right: $base;
                }
                .moveItem {
                    right: $base*4;
                }
            }
        }
    }
    .orderSummary {
        width: 33%;
        display: inline-block;
        vertical-align: top;
        color: $black;
        margin-left: 1%;
        .promotion {
            margin: 0;
            padding: 0 0 $base*2;
            border-bottom: 1px solid $darkAshGrey; 
            .promoListItem {
                position: relative;
                border-bottom: 1px solid $borderLight; 
                &:last-child {
                    border-bottom: none;
                }
            }
            .promoHead {
                font-size: $base*2;
                color: $battleshipGrey;
                margin-bottom: $base; 
                text-align: left;
            }
            .promoMsg {
                font-size: $base*2;
                color: $battleshipGrey;
                
            }
            .promoCode {
                color: $black;
                font-family: $font-bold;
            }
            .promoDesc {
                color: $battleshipGrey;
            }
            .applyPromo {
                position: absolute;
                right: 0;
                top: 0;
                color: $cerulean;
            }
            .promoField {
                .promoInput {
                    width: 63%;
                }
                .applyBtn {
                    width: 37%;
                    background-color: $ashGrey;
                    color: $colorwhite;
                    border: 2px solid $ashGrey;
                }
                .promoInput,
                .applyBtn {
                    padding: $base;
                }
            }
        }
        .title {
            text-align: left;
            font-family: $font-bold;
        }
        .summary {
            .val {
                float: right;
                overflow: hidden;
            }
            .shippingMsg {
                display: block;
                color: $battleshipGrey;
                font-size: $base*1.5;
            }
            .emiInfo {
                margin: 0;
                border-top: 1px solid $darkAshGrey;
                border-bottom: 1px solid $darkAshGrey;
                position: relative;
                .emiLogo {
                    position: absolute;
                    left: 0;
                }
                .emiMsg {
                    margin: 0 $base*5 0;
                }
                .emiDetails {
                    right: 0;
                    position: absolute;
                }
            }
            .totalAmt {
                margin: $base*2 0;
                .totalPrice {
                    display: inline-block;
                    font-size: $base*3;
                    color: $cerulean;
                    font-family: $font-bold;
                }
                .savingText {
                    display: block;
                }
            }
            .btnCheckout {
                width: 100%;
                background-color: $ashGrey;
                color: $colorwhite;
                margin-top: $base*4; 
            }
        }
    }
}
.viewAllPopUp {
    .modal-dialog {
        width: 50%;
        height: auto;
    }
    .heading {
        font-size: $base*2.5;
        color: $black;
        font-family: $font-bold;
        padding: $base*4 0; 
        text-align: center;
        margin: 0;
    }
    .promoList {
        margin: 0;
        padding: 0 $base*4;
        .promoListItem {
            border-bottom: 1px solid $borderLight;
            position: relative;
            &:last-child {
                border-bottom: none; 
            } 
            .promoCode,
            .promoDesc {
                margin: 0;
                padding: $base 0;
            }
            .promoCode {
                font-size: $base*2.25;
                color: $black;
                font-family: $font-bold;
            }
            .promoDesc {
                font-size: $base*2;
                color: $battleshipGrey;
                font-family: $font-regular;
            }
            .applyPromo {
                position: absolute;
                color: $cerulean;
                font-size: $base*2;
                right: $base*4;
                top: $base;
            }
        }
    }
    
}
.deletItem {
    .modal-dialog {
        .modal-content {
            .modal-body {
                padding: $base*6;
                .close {
                    color: $black;
                }
            }
        }
    }
    .del_modal {
        .heading,
        .itemDelInfo {
            text-align: center;
            font-size: $base*2.5;
            font-family: $font-bold;
        }
        .heading {
            color: $black;
        }
        .itemDelInfo {
            color: $cerulean;
        }
        .userAction {
            text-align: center;
            .delete,
            .wishList {
                width: 30%;
                border-radius: unset;
                margin: 0 1%;
                text-align: center;
            }
            .delete {
                border: 1px solid $black;
                color: $black;
                background-color: $colorwhite; 
            }
            .wishList {
                border: 1px solid $black;
                background-color: $ashGrey;
                color: $colorwhite;  
            }
        }
    }
}



/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  }
  

  /* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
    /* 
    #Global Screen Chhange for Screen max 768
    */
    @media screen and (min-width: 768px){
        .cartDetails{
            .cartHeadDetails{
                .title{
                    width: 60%;
                }
            }
            .orderSummary {
                .summary{
                    .emiInfo{
                        padding: 20px 0;
                        .emiDetails {
                            top: 20px;
                        }
                    }
                }
                .title{
                    font-size: $base*2.25;
                    margin: $base*3.75 auto;
                }
                .promotion{
                    .promoCode{
                        font-size: $base*2.25;
                        margin: $base*2 0 0 0;
                    }
                    .promoDesc{
                        font-size: $base*1.75;
                    }
                    .applyPromo{
                        font-size: $base*2;
                    }
                    .promo{
                        .viewAllPromo{
                            width: 100px;
                            text-decoration: underline;
                            font-size: 12px;
                            color: $cerulean;
                            margin: auto;
                            display: block;
                        }
                    }
                }
            }
            .cartItem{
                .prodList{
                    min-height: 195px;
                    .prodImg{
                        min-height: 195px;
                        border-right: 1px solid $borderLight;
                    }
                    .prodDetails{
                        .prodTitle {
                            font-size: $base*2;
                            margin: $base*1.5 0 0;
                        } 
                        .subTitle {
                            font-size: $base*1.37;
                        }
                     }
                }
            } 
        } 
    }

  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  


  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  

  /* 
    #Global Screen Chhange for Screen max 767
  */
  @media screen and (max-width: 767px){
    .cartDetails {
        width: 100%;
        margin: 0 auto ;
        .cartItem,
        .orderSummary {
            width: 100%;
            display: block;
            margin: 0;
        }
        .orderSummary {
            padding: 5px $base*2 $base*2 $base*2;
            .summary{
                .mob-emi-info{
                    margin-bottom: 50px;
                    font-size: 11px;
                    padding: 12px 0;
                }
                .cartTotal, .orderDisc, .prodDisc, .shipping{
                    font-size: 12px;
                    line-height: 16px;
                    font-family: $font-regular;
                    .info, .val{
                        font-family: $font-regular;
                    }
                }
                .shipping{
                    .shippingMsg{
                        line-height: 20px;
                    }
                }
                .emiInfo{
                    padding: 14px 0;
                    .emiDetails {
                        top: 14px;
                    }
                }
            }
            .title{
                font-size: $base*1.75;
                margin: $base*2.5 auto 16px auto;
            }
            .promotion{
                .promoCode{
                    font-size: $base*1.75;
                    margin: $base*1.5 0 0 0;
                }
                .promoDesc{
                    font-size: 11px;
                    line-height: 16px;
                }
                .applyPromo{
                    font-size: $base*1.75;
                }
            }
            .checkout-btn-floater {
                position: fixed;
                bottom: 0px;
                left: 0px;
                z-index: 911;
                width: 100%;
                .total-amount {
                    background: #fff;
                    min-height: 45px;
                    text-align: center;
                    font-family: $font-bold;
                    font-size: 14px;
                    padding-top: 4px;
                    border-top: 1px solid #dfe0de;
                    .total-amount-text {
                        font-size: 10px;
                        display: block;
                        font-family: $font-medium;
                        color:$greyishbrown;
                    }
                    .net-amount-box{
                        float: left;
                        margin-left: 40px;
                        text-align: left;
                    }
                }
                .total-amount, .proceed-btn {
                    width: 50%;
                    float: left;
                }
                .btn-blackbg {
                    background: #000;
                    padding: 14px 0;
                    text-align: center;
                    color: #fff;
                    font-family: $font-medium;
                    font-size: 12px;
                }
            }
        }
        .cartItem {
            .prodList {
                border: none;
                margin-bottom: $base*2;
                background-color: $colorwhite;
                padding:15px 0px 0px 0px;
                .prodImg{
                    padding: 0px 0px 0px 10px;
                    img{
                        border:1px solid $img-border;
                    }
                }
                .prodDetails{
                    padding-bottom: 15px;
                    .prodTitle {
                        font-size: $base*1.75;
                        margin: 0px;
                    } 
                    .subTitle {
                        font-size: 10px;
                    }
                    .delCartItem, .moveItem {
                        top: 2px;
                    }
                    .delBy{
                        margin: 0px;
                        font-size: 9px;
                        color: $battleshipGrey;
                        font-family: $font-medium;
                        line-height:normal;
                    }
                 }
                .quantityPrice {
                    border-top: 1px solid $borderLight;
                    .qytList {
                        border: none;
                        background: none;
                        min-width:40px;
                    }
                    .cartQty,
                    .price {
                        width: 50%;
                        display: inline-block;
                        text-align: center;
                        padding: $base;
                        label{
                            font-size: 10px;
                            margin-right: 20px;
                            font-weight: normal;
                            font-family: $font-medium;
                            color: $battleshipGrey;
                        }
                    }
                    .price {
                        margin: 0;
                        color: $cerulean;
                        font-family: $font-bold;
                    } 
                    .price {
                        border-left: 1px solid $borderLight; 
                    }
                }
                
            }
            .cartItemList {
                padding: 0;
                background-color: $greybg;
            }
        }
        .cartHeadDetails{
            margin-top: $base*7; 
            border-bottom: none;
            .pincodeField {
                width: 100%;
                margin: auto;
                border: none;
                border-bottom: 1px solid $borderLight;  
            }
            .title,
            .cartCount {
                color: $colorwhite;
                font-size: $base*1.75;
                font-family: $font-light;
            }
            .cartCount {
                margin: 0;
            }

            .checkout-top-hedaer{
                position: fixed;
                top: 0px;
                z-index: 4;
                padding: 7px 15px;
                width: 100%;
                
                .mob-header-logo{
                    float: left;
                    margin-top: 3px;
                    position: fixed;
                    left: 20px;
                    z-index: 3;
                }
                .title{
                    float: left;
                    text-align: center;
                    position: fixed;
                    z-index: 1;
                    width: 100%;
                    text-align: center;
                    margin-top: 7px;
                    left: 0px;
                }
            }
        }
    }
    .viewAllPopUp {
        .modal-dialog {
            width: 100%;
            height: auto;
        }
    }
    .modal_emiInstallment {
        .modal-dialog {
            width: 100%;
            margin: auto;
        }
    }
    .deletItem {
        .modal-dialog {
            width: 100%;
            .modal-content {
                .modal-body {
                    padding: 0;
                }
            }
        }
        .del_modal {
            padding: $base*3;
            .userAction {
                .delete,
                .wishList {
                    width: 50%;
                    margin: 0;
                }
            }
        }
    }
  }


  /* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  
  /* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }
