@import '../variable';

.emptyCartContainer {
    width: 83.33%;
    margin: $base*7 auto;
    .emptyCart,
    .shopInfo {
        display: inline-block;
    }
    .emptyCart {
        width: 58%;
        margin-right: 2%;
        vertical-align: top;
        padding: 0;
        .title {
            text-align: left;
            border-bottom: 1px solid $darkAshGrey;
            line-height: 1.33;
            padding: 2*$base 0;
            margin: 0;
            color: $battleshipGrey;
            .cartBold {
                color: $black;
                font-family: $font-bold;
            }
        }
        .shopNow {
            text-align: center;
            margin-top: $base*14;
            .shopHeadLine,
            .info {
                font-family: $font-medium;
            }
            .shopHeadLine {
                text-align: center;
                margin: 0;
                margin-top: $base*4.5;
            }
            .info {
                font-size: $base*2.5;
                color: $battleshipGrey;
                margin-top: $base;
            }
            .shopBtn {
                padding: $base*1.5 $base*10;
                background-color: $ashGrey;
                color: $colorwhite;
                margin-top: $base*5;
            }
        }
    }
    .shopInfo {
        width: 39%;
        margin-left: 1%;
        .shopTitle {
          font-size: $base*3;
          color: $cerulean;
          font-family: $font-bold;
        }
        .detailCard {
            background-color: $greybg;
            margin: $base*3 0;
            padding: $base*2;
            border-radius: $base*2.25;
            .cardHeading{
                font-size: $base*2;
                color: $black;
                font-family: $font-bold;
            }
            .detailLink {
                font-size: $base*1.75;
                font-family: $font-bold;
            }
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .emptyCartContainer {
        width: 100%;
        margin: 0 0 $base*7;
        .checkout-top-hedaer {
            position: fixed;
            top: 0px;
            z-index: 4;
            padding: 7px 15px;
            width: 100%;
            .mob-header-logo {
                float: left;
                margin-top: 3px;
                position: fixed;
                left: 20px;
                z-index: 3; 
            }
            .title {
                float: left;
                text-align: center;
                position: fixed;
                z-index: 1;
                width: 100%;
                text-align: center;
                margin-top: 7px;
                left: 0px;
                color: $colorwhite; 
            }
            
        }
        .mWebTitle {
            position: fixed;
            top: -$base*0.5;
            z-index: 2;
            text-align: center;
            color: $colorwhite;
            transform: translate(-50%);
            left: 50%;
            font-size: $base*2.5; 
        }
        .emptyCart,
        .shopInfo {
            display: block;
            width: 100%;
        }
        .emptyCart {
            .title {
                text-align: center;
                width: 70%;
                margin: $base*7 auto 0;
            }
            .shopNow {
                margin-top: $base*7;
                .shopHeadLine {
                    font-size: $base*2;
                    color: $black;
                    font-family: $font-medium;
                }
                .info {
                    font-size: $base*1.5; 
                    margin-bottom: 0; 
                }
                .shopBtn {
                    margin-top: $base*3;
                    width: 80%;
                    border-radius: unset;  
                }
            }
        }
        .shopInfo {
            .shopTitle {
                text-align: center;
                margin-top: $base*6.5;
                color: $black;
            }
            .keyPoints {
                width: 100%;
                margin: auto;
                background-color: $greybg;
                .detailCard {
                    width: 33%;
                    display: inline-block;
                    border-radius: unset;
                    text-align: center;
                    margin: 0;
                    padding: $base*2.5;
                    .cardInfo {
                        display: none;
                    }
                    .cardHeading {
                        font-family: $font-regular;
                        font-size: $base*1.5;
                    }
                }
            }
            
        }
    }   
}