@import '../variable';

.emptyCartContainer {
    width: 83.33%;
    margin: $base*7 auto;
    .emptyCart,
    .shopInfo {
        display: inline-block;
    }
    .emptyCart {
        width: 59%;
        margin-right: 1%;
        .title {
            text-align: left;
            border-bottom: 1px solid $darkAshGrey;
            line-height: 1.33;
            padding: 2*$base 0;
            margin: 0;
            color: $battleshipGrey;
            .cartBold {
                color: $black;
                font-family: $font-bold;
            }
        }
        .shopNow {
            text-align: center;
            margin-top: $base*14;
            .shopHeadLine,
            .info {
                font-family: $font-medium;
            }
            .shopHeadLine {
                text-align: center;
                margin: 0;
                margin-top: $base*4.5;
            }
            .info {
                font-size: $base*2.5;
                color: $battleshipGrey;
                margin-top: $base;
            }
            .shopBtn {
                padding: $base*1.5 $base*10;
                background-color: $ashGrey;
                color: $colorwhite;
                margin-top: $base*5;
            }
        }
    }
    .shopInfo {
        width: 39%;
        margin-left: 1%;
        .shopTitle {
          font-size: $base*3;
          color: $cerulean;
          font-family: $font-bold;
        }
        .detailCard {
            background-color: $greybg;
            margin: $base*3 0;
            padding: $base*2;
            border-radius: $base*2.25;
            .cardHeading{
                font-size: $base*2;
                color: $black;
                font-family: $font-bold;
            }
            .detailLink {
                font-size: $base*1.75;
                font-family: $font-bold;
            }
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .emptyCartContainer {
        width: 100%;
        margin: $base*2.5 0;
        .emptyCart,
        .shopInfo {
            display: block;
            width: 100%;
        }
    }   
}