@import '../variable';
@import '../base';


.chefKitchen {
    width: 100%;
    background-color: #ffffff;
    .Paragraph-Copy-13 {
 
      font-family: $font-regular;
      font-size: 14px;
      font-style: normal;
      color: $greyish;
    }
    .anchorColor{
      color: #77787a;
    }
    .accessContainer{
      padding: 83px 0 51px 0;
    }
    
    .uldiver{
      letter-spacing: -0.26px;
      padding: 20px 0 0 0;
      font-size: 14px;
      font-family: $font-medium;
      color: #036cc5;
}
.notSelected{
  letter-spacing: -0.26px;
  padding: 20px 0 0 0;
  font-size: 14px;
  font-family: $font-medium;
  color: #77787a;
}
    .shutterContainer{
      padding: 83px  0 51px 0;
    }
    .typesOfShut{
      font-family: $font-medium;
      font-size: 20px;
      line-height: 20px;
    }
    .accesoriescont{
      font-family: $font-medium;
      font-size: 20px;
      line-height: 20px;
    }
    .faqContainer {
      background-color:white;
     padding: 110px 0 0 0;
     .Frequently-Asked-Que {
       padding: 0 0 80px 0;
       font-family: $font-medium;
       font-size: 30px;
       font-weight: 500;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #000000;
     }
     }
    .yourKitchenContainer{
      .imageTitle{
          font-family: $font-medium;
          font-size: 16px;
          letter-spacing: -0.26px;
          padding: 60px 0 20px 42px;
      }
      .colorsKitchenone{
        background:#664857;
        height: 166px;
        width:100%;
      }
      .imageBackGround{
        background:white;
        height: 166px;
        width:100%;
      }
      .colorsKitchentwo{
        background:#a92631;
        height: 166px;
        width:100%;
      }
      .colorsKitchenthree{
        background:#f8faf0;
        height: 166px;
        width:100%;
      }.colorsKitchenfour{
        background:#592a2a;
        height: 166px;
        width:100%;
      }.colorsKitchenfive{
        background:#ef7f2e;
        height: 166px;
        width:100%;
      }.colorsKitchensix{
        background:#e77467;
        height: 166px;
        width:100%;
      }.colorsKitchenseven{
        background:#fbef59;
        height: 166px;
        width:100%;
      }.colorsKitcheneight{
        background:#b7d76c;
        height: 166px;
        width:100%;
      }.colorsKitchennine{
        background:#292764;
        height: 166px;
        width:100%;
      }.colorsKitchenten{
        background:#a8a8a7;
        height: 166px;
        width:100%;
      }.colorsKitcheneleven{
        background:#664857;
        height: 166px;
        width:100%;
      }.colorsKitchentwelve{
        background:#664857;
        height: 166px;
        width:100%;
      }
      .topParagraph {
        padding: 16px 0 0 0;
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:#4a4a4a;
      }
     padding: 110px 0 0 0;
     .heading {
      height: 36px;
      font-family: $font-medium;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }
    }
    .typesOfSteelContainer{
      padding: 110px 0 0 0;
    }
    .container {
      position: relative;
	  width:85%;
    }
    .Benefitedsteel{
      padding: 64px 0 0 0;
      .topSpacing{
        padding: 40px 0 0 0;
      }
      .heading {
        font-family: $font-regular sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
      .steelBefits{
        width:56%;
        margin:0 auto;
      }
      .steelTitle {
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #767676;
      }
      .Combined-Shape {
        width: 100%;
        background-color: white;
      }
      .WardrowsBefits.column2{
        width:30%;
        margin:0 auto;
      }
      .Benefits-of-Modular {
        font-family: CeraGodrejInterio sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    }
    .kitchensBannerLayout{
      position: relative;
      overflow: hidden;
      .btn-book{
        padding:13px 56px;
        font-size: 14px;
        color:#070707;
        font-family: $font-medium;
      }
      .kitchensBannertext{
        position: absolute;
        bottom: 27%;
        left: 6%;
        .heading{
          font-size: 56px;
          color:#ffffff;
          margin:0 0 10px 0;
          line-height: 56px;
        }
        .subText{
          font-size: 18px;
          color:#ffffff;
          font-family: $font-regular;
          margin:0 0 28px 0;
        }
        .btn-book{
          padding:13px 56px;
          font-size: 14px;
          color:#070707;
          font-family: $font-medium;
        }
      }
      .slick-dots{
        bottom: 15px;
        button{
          width:10px;
          height: 10px;
          &:before{
            width:10px;
            height: 10px;
          }
        }
        li{
          width: 12px;
          height:12px;
          background:#807a7a;
          button:before{
            color:#807a7a;
            width: 12px;
            height:12px;
          }
        }
        li.slick-active{
          background:#ffffff;
          button:before{
            color:#ffffff;
          }
        }
      }
      
      .slick-prev{
        left:1%;
      }
      .slick-next{
        right:1%;
      }
    }
   
      .namingconv {
        font-family: $font-regular;
        text-align: center;
        font-size:14px;
        color: black;
      }
    
  
    
   
    .butt {
        width: 263px;;
        height: 46px;
        background-color: white;
      }
      .benefitsOfSteelContainer{
        padding: 64px 0 0 0;
        .titlesss {
          font-family: $font-regular;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #767676;
        }
        .Combined-Shape {
          width: 100%;
          background-color: white;
        }
        .Benefits-of-Modular {
          font-family: $font-regular sans-serif;
          font-size: 30px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #000000;
        }
      }
     
    .text-blocks {
        height: 261px;
        position: absolute;
        top: 63%;
      left: 25%;
      transform: translate(-50%, -50%);
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }
      .A-one-stop-shop-inte{
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
      .bannerTexts {
        width: 411px;
        height: 60px;
        font-family: $font-regular;
        font-size: 56px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        color:white;
      }
      .buttontex{
        color:#070707;
        width:135px;
        height:17px;
        font-size:14px;
        text-align: center;
      }
     
     
        .col-sm-2{
          width:20% ;
        }
      
      
       
        
      .form-controler{
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .form-controllering{
        margin-top: 1px;
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .form-controlered{
        margin-left: 123px;
        display: block;
        width: 660px;
        height: 108px;
        // padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      
      .send-div{  
        width:338px;
        height:44px;
        background-color: #070707;
        border:none;
        float: right;
        margin:25px 0 0 0;
        &:focus{
          outline: none;
        }
      }
}

.configurationTab{
  text-align: center;
  .link{
    color: #77787a;
    display: block;
    float: left;
    padding:0 20px 0 0;
    font-size: 16px
  }
}
 

  
  