@import '../variable';
@import '../base';


.chefKitchen {
    width: 100%;
    background-color: #ffffff;
    .colorsKitchen{
        // margin-right: 20px;
        height: 166px;
        width:100%;
      }
      .namingconv {
        height:17px;
        text-align: center;
        font-size:14px;
        color: black;
      }
    
    .Types-of-Modular-Ward {
        height: 36px;
        font-family: $font-regular;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    .titlesss {
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #767676;
      }
    .Combined-Shape {
        width: 100%;
        background-color: white;
      }
    .butt {
        width: 263px;;
        height: 46px;
        background-color: white;
      }
      .Benefits-of-Modular {
        font-family: $font-regular sans-serif;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    .text-blocks {
        height: 261px;
        position: absolute;
        top: 63%;
      left: 25%;
      transform: translate(-50%, -50%);
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }
      .A-one-stop-shop-inte{
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
      .bannerTexts {
        width: 411px;
        height: 60px;
        font-family: $font-regular;
        font-size: 56px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        color:white;
      }
      .buttontex{
        color:#070707;
        width:135px;
        height:17px;
        font-size:14px;
        text-align: center;
      }
      .This-project-requirement {
        // width: 751px;
        // height: 60px;
        font-family: $font-regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: black
      }
      .colFive{
        .col-sm-2{
          width:20%;
        }
      }
      
       
        
      .form-controler{
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .form-controllering{
        margin-top: 1px;
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .form-controlered{
        margin-left: 123px;
        display: block;
        width: 660px;
        height: 108px;
        // padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      
      .send-div{  
        width:338px;
        height:44px;
        background-color: #070707;
        border:none;
        float: right;
        margin:25px 0 0 0;
        &:focus{
          outline: none;
        }
      }
}
 

  
  