@import '../variable';
@import '../base';




  
  .formContainer{
    .Book-a-consultation {
        font-family: $font-medium;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        text-align: center;
        color: #000;
      }
     
    
    .Form-bakground{
        width: 80%;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.24);
        background-color: #ffffff;
        object-fit: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 60px 119px;
        
        .form-div{
          .form-group{
            .form-labeled{
               color:$battleshipGrey;
               display: block;
               font-size:14px;
               font-family:CeraGIMedium,sans-serif;
               text-align: left;
               font-weight: normal;
            }
            .form-control{
              border:1px solid $lightGrey;
              border-radius: 0;
              box-shadow: none;
              height:54px;
            }
          }
        }
        
        
      }
      
     
      .FormPAra {
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #767676;
      }
  
   
    
      .form-controler{
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .form-controllering{
        margin-top: 1px;
        display: block;
        width: 338px;
        height: 54px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .error-msg {
        position: absolute;
        color:$reddishpink;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        min-height: 25px;
        width: 100%;
        margin:0 0 0 0;
        font-family: $font-regular;
      }
      .form-controlered{
        margin-left: 123px;
        display: block;
        width: 660px;
        height: 108px;
        // padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      
      .send-div{  
        width:338px;
        height:44px;
        background-color: #070707;
        border:none;
        float: right;
        margin:25px 0 0 0;
        &:focus{
          outline: none;
        }
      }

    .formBackGroundCover {
      height: 810px;
      width: 100%;
    
     
    }
  
  }