@import '../variable';
@import '../base';


.CookieContainer {
    width: 100%;
    .note{
    color:$black;
    margin: 0;
    }
  }

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
   
  //CSS
  
}


/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

  /* 
  #Global Screen Chhange for Screen max 768
  */
  @media screen and (min-width: 768px){
    .CookieContainer{
      padding: 61px 0 80px 0;
      .Topparagraph{
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.43;
        color: $greyBorder;
        text-align: left;
        padding: 0 0 32px 0;
        margin: 0;
        text-align: justify;
      }
      .note{
        padding: 0px 0 36px 0;
        font-family:$font-medium;
        font-size: 30px;
        line-height: 30px;
        text-align: left;
      }
    }
  }

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {

  
}



/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}


/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px){     
  .CookieContainer{
    padding: 30px 5px 30px 5px;
    .Topparagraph{
      font-family: $font-regular;
      font-size: 12px;
      line-height: 16px;
      color: $greyBorder;
      text-align: left;
      padding: 0 0 32px 0;
    }
    .note{
      padding: 0px 0 5px 0;
      font-family:$font-medium;
      font-size: 16px;
      line-height: 28px;
    }
  }
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  
}


/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
