@import '../variable';
@import '../base';


  /*-----CSS for Inspiration details page-----*/
  
  .inspirationDetails {
    height: auto;
width:100%;
.recImages{


}
.recommendedLookbook{
    .slick-slide{
        margin:0 15px 0 0;
    }
    .crouseltextarea{
        .heading{
            font-size: 20px;
            line-height: 20px;
            font-family: $font-medium;     
            margin: 21px 0 0 0;       
        }
        .subText{
            text-align: left;
            font-size: 14px;
            line-height: 14px;
            font-family: $font-regular;
            margin:10px 0 0 0;
        }
    }
}
.title{
    color: #000000;
    padding: 89px 0 0 0;
    text-align: center;
    font-family: $font-medium;
    font-size: 30px;
}
.recommendedTitle{
    color: #000000;
    padding: 89px 0 0 0;
    text-align: left;
    font-family: $font-medium;
    font-size: 30px;
    margin:0 0 32px 0;
}
.paragraph{
    line-height: 26px;
    color: #000000;
    text-align: center;
    font-family: $font-regular;
    font-size: 14px;
}

}

  
 