@import '../variable';
@import '../base';


.privacyPolicy {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 61px 0 80px 0;
    .container{
      width: 68%
    }
    .topheading{ 
      text-align: left;
      margin:0;
    }

  }

  /* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
   
  //CSS
  
}


/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

  /* 
  #Global Screen Chhange for Screen max 768
  */
  @media screen and (min-width: 768px){
    .privacyPolicy {
      padding: 61px 0 80px 0;
      .topheading{
        padding: 0px 0 32px 0;
        font-family: $font-medium;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        color: #000000;
      }
      .Topparagraph{
        font-family: $font-regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        text-align: justify;

      }
      .MainHeading {
        font-family: $font-medium;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        color: #000000;
          text-align: center;
          padding: 61px 0 0 0;
    
        }
        .SubHeading {
          font-family: CeraGIMedium, sans-serif;
          font-size: 16px;
          line-height: 16px;
          padding: 0 0 16px 0;
          color: #222222;
          margin: 0;
    
        }
        .paragraph {
          font-family: CeraGIRegular, sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          line-height: 1.43;
          color: #888a8d;
          text-align: left;
          padding: 0 0 32px 0;
          margin:0;
          text-align: justify;
    
    
        }
        .note{
          padding: 34px 0 0 0; 
    
          font-weight: bold;
          font-size: 18px;
          text-align: left;
    
        }
    }
  }

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {

  
}



/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}


/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px){     
  body{.privacyPolicy {
    padding: 30px 0 30px 0 ;
    .topheading{
      padding: 0px 0 5px 0;
      font-family: $font-bold;
      font-size: 16px;
      line-height: 28px;
      color:$black;
    }
    .Topparagraph{
      font-family: $font-regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      text-align: justify;

    }
    .MainHeading {
      font-family: $font-medium;
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      color:$black;;
      text-align: center;
      padding: 61px 0 0 0;
  
      }
      .SubHeading {
        font-family: CeraGIMedium, sans-serif;
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 10px 0;
        color:$black;
        margin: 0;
  
      }
      .paragraph {
        font-family: $font-regular;
        font-size: 12px;
        line-height: 16px;
        color: #888a8d;
        text-align: left;
        padding: 0 0 20px 0;
      }
      .note{
        padding: 34px 0 0 0; 
  
        font-weight: bold;
        font-size: 18px;
        text-align: left;
  
      }
  }
  }
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {

  //CSS
  
}


/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
