@import '../variable';


.kitchenContainer{
    .whatGoesContainer{
        .title {
            font-family: $font-medium;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
          }
          .whatGoesPara {
            font-family:  $font-regular;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            color:#4a4a4a
          }
          .topHeading {
            text-align: center;
            font-family:  $font-regular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            color:#4a4a4a
          }
          .accessoriesText {
            font-family: $font-medium;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            line-height: normal;
            color: #036cc5;
            margin: 80px 0 0 0;
          }
          .listStyle {
            padding: 30px 0 0 0;
            font-family: $font-regular;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            
            color: #77787a
          }
          
    }
   
    
}
