	.staticpage {
			h1, h2, h3, h4, p, span, a {
			font-family:CeraGIRegular,sans-serif;
			color:#000;
		}
		
		.slick-next:before, 
		.slick-prev:before {
			font-size: 32px;
			line-height: unset;
			opacity: unset;
			color: unset;
		}
	}
	.staticpage h1
	{
		padding-top:30px;
		padding-top:10px;
		font-size:30px;
		font-weight:500;
		text-align:center;
	}
	
	.staticpage h2
	{
		padding-top:30px; 
		font-size:30px;
		font-weight:500;
		margin:0;
		color:#000;
	}
	
	.staticpage h3
	{
		padding-top:10px;
		font-size:21px;
		font-weight:normal;
		margin:0;
	}
	
	.staticpage h4
	{
		padding-top:10px;
		font-size:19px;
		font-weight:normal;
		color:#777;
		margin:0;
	}
	
	.staticpage p {
		font-size:14px;
		line-height: 1.43;	
	}
	
	.staticpage .whitep {
		color: #fff;
	}
	
	.staticpage .text
	{
		color:#77787a;
		font-size:14px;
		line-height:14px;
		margin: 0px;
	}


	.staticpage img {
		width:100%;
	}
	
	.staticpage ol {
		padding-left:30px;
	}

	.staticpage .WhiteButton {
		margin: 25px 0 0 0;
		color: #000;
		background-color: #fff;
		padding: 13px 45px;
		border: none;
		font-size: 14px;
		font-family: CeraGIMedium, sans-serif;
		margin-bottom: 20px;
	}
		
	.ProcessNumber
	{
		-webkit-appearance: media-sliderthumb;
		padding-right: 20px;
		background-color: white;
		text-align: center;
		font-size: 20px;
		color: black;
		margin-top:-5px;
	}

	.staticpage .active
	{
		color: blue;
	}
	
	.arrowNumber{
	margin-top: 15px;
    background-color: white;
    border: 0;
	}
	
	.GI_CONTACT_US_CUSTOMER_CARE  img {
		width:25px!important;
		height:25px!important;
	}



