@import '../variable.scss';
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.user{
    .userLogin{
       padding-bottom:12px;
       .userList{
           .listItemUnSelected{
               padding:12px 10px 8px 10px;
           }
       }
    }
    .welcomeDropDown {
        visibility: hidden;
        opacity: 0;
        position: absolute;       
        top:64.3px;
        max-width: 200px;
        width: 218px;
        right: 0;
        border-top: 1px solid #ddd; 
        background-color: $colorwhite;
        -webkit-transition: opacity 200ms, visibility 200ms;
        transition: opacity 200ms, visibility 200ms;
        -webkit-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
        box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.29);
        z-index: 3;
        .dropDown {
            font-size: $base*1.75;
            line-height: $base*2.5;
            color: $black;
            font-family: $font-regular;
            display: block;
            padding-left: $base*4; 
            &:hover {
                text-decoration: none;
            }
        }
       
        .listItem {
            &:first-child{
                &:hover{
                    cursor:default;                    
                }
            }
            padding: $base*1;
            &:hover {
                background-color: #87ceeb6b; 
                .dropDown {
                    color: $ceruleanblue;
                }
            }
        }
        
        .listItemUnSelected {
            padding: $base*1.25;
            background: $iceBlue;             
            .dropDown{
                color:$cerulean;
                font-family: $font-medium;
                font-size: $base*1.5;
                line-height: $base*1.75;
            }
            &:hover {
                cursor: default;
                .dropDown {
                    color:$cerulean;
                }
            }
        }
    }
    &:hover{
        .welcomeDropDown {
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }
    }
}
