@import '../variable.scss';
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.user{
    .userLogin{
       padding-bottom:20px;
    }
    .welcomeDropDown {
        visibility: hidden;
        opacity: 0;
        position: absolute;       
        top: 52px;
        max-width: 200px;
        width: 218px;
        right: 0;
        background-color: $colorwhite;
        transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
        z-index: 3;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
        -webkit-transition: opacity 0.2s ease-out, visibility .3s ease-out;
        -o-transition: opacity 0.2s ease-out, visibility .3s ease-out;
        -moz-transition: opacity 0.2s ease-out, visibility .3s ease-out;
        .dropDown {
            font-size: $base*1.75;
            color: $black;
            font-family: $font-regular;
            padding: 10px 0 10px $base*2.75;            
            &:hover {
                text-decoration: none;
            }
        }
       
        .listItem {
            &:first-child{
                &:hover{
                    cursor:default;                    
                }
            }
            padding: $base*1.25;
            a{
                font-size: 14px;
            }
            &:hover {
                background-color: #87ceeb6b; 
                .dropDown {
                    color: $ceruleanblue;
                }
            }
        }
        .listItemUnSelected {
            padding: $base*1.25;
            background: $iceBlue;             
            .dropDown{
                color:$cerulean;
                font-family: $font-medium;
                font-size: $base*1.5;
            }
            &:hover {
                // background-color: transparent; 
                
                cursor: default;
                .dropDown {
                    color:$cerulean;
                }
            }
        }
    }
    &:hover{
        .welcomeDropDown {
            visibility: visible;
            opacity: 1;
            cursor: pointer;
            animation: fade 1.6s;
        }
    }
}
