@import "../../variable";

@include mix-md {
  .myOrder {
    .ongoingOrder {
      color: $greyDark;
      font-size: $base * 2;
      line-height: 16px;
      margin: 0 0 17px 0;
      font-family: $font-medium;
    }

    // Back Order css
    .trackMyOrder {
      .backBtn {
        color: $battleshipGrey;
        font-size: 12px;
        font-family: $font-medium;
      }
      .itemBox {
        margin: 0;
        border: none;
        padding: 0;
        .orderimgbox {
          margin: 0 0 0px 0;
        }
        .orderProduct {
          padding: 31px 0 40px 0;
          .trackorder-wrap {
            width: 100%;
            position: static;
            margin: 36px 0 0 auto;
            .track-bar {
              position: relative;
              width: 98%;
              .list {
                .status {
                  font-size: 14px;
                }
                .deliveryDate {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    .orderSummery {
      // background-color: blueviolet;
      // min-height: 50px;
      .summerydata {
        padding: 26px 0 0 0;
      }
    }

    .heightActive {
      height: 235px;
      overflow: hidden;
      -webkit-transition: height 0.4s;
      border-bottom: 1px solid $greyborder;
    }

    .heightInActive {
      height: 0px;
      overflow: hidden;
      -webkit-transition: height 0.4s;
    }

    .summerydata {
      .orderList {
        width: 33.3%;
        display: block;
        float: left;
        .heading {
          color: $greylightColor;
          font-size: $base * 1.75;
          font-family: $font-bold;
          line-height: 14px;
          margin: 0 0 18px 0;
        }
        .subheading {
          font-size: 14px;
          color: $greyBorder;
          font-family: $font-regular;
          margin: 0;
          line-height: 14px;
        }
        .address {
          font-family: $font-regular;
          font-size: 14px;
          color: $greyBorder;
          line-height: 14px;
          margin: 11px 0 0 0;
        }
        .invoiceList {
          padding: 59px 0 0 0;
          .list {
            display: inline-block;
            color: $battleshipGrey;
            padding: 0 25px 10px 0;
            width: 33.3%;
            font-size: $base * 1.5;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .orderSummary {
          .summaryDetails {
            padding: 0 0 14px 0;
            .leftText,
            .rightText {
              font-size: 14px;
              color: $greyBorder;
              font-family: $font-regular;
              line-height: 14px;
            }
            .leftText {
              float: left;
            }
            .rightText {
              float: right;
            }
          }
          .divider {
            height: 1px;
            background: $greyborder;
            margin: 3px 0 14px 0;
            width: 100%;
          }
          .summaryDetails.subTotaltext {
            .leftText,
            .rightText {
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
    }
    .paymentmethod {
      padding: 0 20px 0 10px;
    }
  }

  .ongoing-order {
    .myOrder {
      .heading-text {
        font-size: $base * 1.75;
        font-family: $font-bold;
        background: $greybg;
        margin: 0px;
        padding: 11px 15px;
      }
      .noOrder {
        color: darkgray;
        margin: 22px;
      }
      .tabBar {
        padding: 13px 15px;
        background-color: $paleGrey;
        position: relative;

        .orders-short-desc-heading {
          margin: 0;
          float: left;
          width: 100%;
          .list {
            display: block;
            float: left;
            color: white;
            padding: 0 7px 0 0;
            line-height: 20px;
            width: 33%;
            .heading-top,
            .heading-sub {
              display: block;
            }
            .heading-top {
              font-size: 10px;
              line-height: 12px;
              padding: 0px;
              text-transform: uppercase;
              font-family: $font-regular;
              color: $ashGrey;
            }
            .heading-sub {
              font-size: 11px;
              font-family: $font-regular;
              line-height: 15px;
              color: $ashGrey;
            }
          }
        }
      }

      .order-item-box {
        border-bottom: 1px solid $greyborder;
        padding: 20px 15px 20px 15px;
        margin: 0px 15px 0px 15px;
        .itemImg,
        .itemStatus,
        .itemArrow {
          display: inline-block;
        }
        .itemImg {
          margin: 0px 10px 0px 0px;
          .imgBox {
            width: 40px;
            height: 40px;
          }
        }
        .itemStatus {
          color: $battleshipGrey;
          font-family: $font-regular;
          font-size: 11px;
        }
        .itemArrow {
          width: 26px;
          float: right;
          padding: 10px 5px;
        }
      }

      .itemBoxTrack {
        padding: 20px 15px 20px 15px;
        margin: 0 0 0px 0;
        .shipment-text {
          font-size: $base * 1.75;
          font-family: $font-bold;
        }
        .itemImg,
        .itemInfo {
          display: block;
          float: left;
          .cancelation-text-info {
            color: $errorMsg;
          }
        }
        .itemImg {
          margin: 0px 10px 0px 0px;
          .imgBox {
            width: 80px;
            height: 80px;
          }
        }
      }

      .cancel-order {
        background: $cerulean;
        color: $colorwhite;
        width: 100%;
        &.disabled {
          cursor: not-allowed;
          pointer-events: none;
          background-color: $grey;
          color: $greyish;
          border: 1px solid $colorwhite;
        }
      }

      .totalItem {
        padding: 10px 15px;
        margin-top: -1px;
        border-top: 1px solid $greyborder;
        .totalTag {
          color: $cerulean;
          font-family: $font-bold;
          font-size: $base * 1.5;
        }
        .viewOrder {
          float: right;
          text-decoration: underline;
          background: none;
          border: 0px;
          color: $cerulean;
          font-family: $font-regular;
          font-size: $base * 1.5;
        }
      }
      .order-separator {
        background: $greybg;
        height: 12px;
      }

      &.View-Order {
        .orderBtn {
          float: left;
          width: 100%;
          padding: 20px 15px;
          border-bottom: 12px solid $greybg;
          margin-bottom: 15px;
          .btn-borderwhite.disabled {
            cursor: not-allowed;
            pointer-events: none;
            background-color: $grey;
            color: $greyish;
            border: 1px solid $colorwhite;
          }
          .btn-blackbg {
            background: $black;
            padding: 12px 0;
            text-align: center;
            color: $colorwhite;
            border: none;
            font-family: $font-medium;
          }
          .btn-cancelborder {
            background: $colorwhite;
            padding: 11px 0;
            text-align: center;
            border: 1px solid $black;
            font-size: $base * 1.75;
            color: $black;
            font-family: $font-medium;
          }
          .track-order-btn {
            // width: 50%;
            float: right;
          }
        }
        .itemBoxTrack {
          .itemInfo {
            .productName {
              font-size: 11px;
              font-family: $font-bold;
              color: $black;
            }
            .description {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
            .quantity {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
            .price {
              font-size: 12px;
              font-family: $font-bold;
              color: $colorbluedull;
            }
            .deliveryTag {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
          }
        }
      }

      .order-delivery-add,
      .order-payent-method,
      .order-list-summary,
      .order-invoice-details {
        float: left;
        width: 100%;
        .order-text-desc {
          font-family: $font-regular;
          color: $battleshipGrey;
          font-size: $base * 1.5;
          line-height: $base * 2;
        }
        .title {
          font-size: $base * 1.75;
          margin: 5px auto 16px auto;
          font-family: $font-bold;
          text-align: left;
        }
      }
      .order-delivery-add,
      .order-payent-method {
        border-bottom: 12px solid $greybg;
        margin-bottom: 5px;
        padding: 20px 15px;
      }

      .order-list-summary {
        padding: 15px 15px 0px 15px;
        .summary {
          float: left;
          width: 100%;
          color: $battleshipGrey;
          .info-text,
          .info-val {
            font-family: $font-regular;
          }
          .info-val {
            float: right;
          }
        }
        .totalAmt {
          border-top: 1px solid $lightblueGrey;
          padding-top: 10px;
          .info-text,
          .info-val {
            font-family: $font-bold;
            color: $black;
            font-size: $base * 1.75;
          }
        }
      }

      .res-refund-summary {
        padding: 15px 15px 0px 15px;
        color: $battleshipGrey;
        float: left;
        width: 100%;
        .res-refund-title {
          font-size: 14px;
          margin: 5px auto 16px auto;
          font-family: $font-bold;
          color: $black;
        }
        .refund-row-wrapper {
          float: left;
          width: 100%;
          padding-bottom: 10px;
          color: $battleshipGrey;
          font-size: $base * 2;
          .refund-row {
            margin: 0px;
            .info-label {
              font-family: $font-regular;
            }
            .info-val {
              float: right;
              font-family: $font-regular;
            }
          }
        }
      }

      .order-invoice-details {
        padding: 20px 15px;
        .invoiceList {
          float: right;
          .list {
            float: left;
            margin-left: 15px;
            color: $cerulean;
            font-size: $base * 1.5;
            text-decoration: underline;
          }
        }
      }

      &.multi-item-order {
        .orderBtn {
          float: left;
          width: 100%;
          padding: 20px 15px;
          border-bottom: 12px solid $greybg;
          margin-bottom: 15px;
        }
        .orderStatus {
          width: 100%;
        }
        .itemBoxTrack {
          .itemInfo {
            .productName {
              font-size: 11px;
              font-family: $font-bold;
              color: $black;
            }
            .description {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
            .quantity {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
            .price {
              font-size: 12px;
              font-family: $font-bold;
              color: $colorbluedull;
            }
            .deliveryTag {
              font-size: 9px;
              font-family: $font-regular;
              color: $greyLight;
            }
          }
        }
      }

      &.single-item-order {
        .orderBtn {
          float: left;
          width: 100%;
          padding: 20px 15px;
          border-bottom: 12px solid $greybg;
          margin-bottom: 15px;
          .btn-blackbg {
            background: $black;
            padding: 12px 0;
            text-align: center;
            color: $colorwhite;
            border: none;
            font-family: $font-medium;
          }
          .btn-cancelborder {
            background: $colorwhite;
            padding: 11px 0;
            text-align: center;
            border: 1px solid $black;
            font-size: $base * 1.75;
            color: $black;
            font-family: $font-medium;
          }
          .track-order-btn {
            width: 50%;
            float: right;
          }
        }
      }
    }
  }
  /* Order checkout page */

  .trackorder-wrap {
    margin: 30px auto;
    width: 100%;
    position: relative;
    float: left;
    top: 0px;

    ul.track-bar {
      background-size: 35px 35px;
      background-color: $colorwhite;
      border-radius: 0px;
      height: initial;
      margin: 0px 0 0 25px;
      padding: 0;
      position: relative;
      width: 100%;
      float: left;
      &:before {
        background-color: $colorwhite;
        height: 2px;
        left: 0;
        position: absolute;
        width: 10%;
        content: "";
      }
      &:after {
        background-color: $colorwhite;
        height: 2px;
        left: 0;
        position: absolute;
        width: 10%;
        content: "";
      }
      .list.visited:after {
        background-size: 35px 35px;
        background-color: $colorwhite;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        top: -30px;
        width: 100%;
        z-index: 99;
        border-left: 1px solid $black;
      }
      .list.last:after {
        background-size: 35px 35px;
        background-color: $colorwhite;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        top: -30px;
        width: 100%;
        z-index: 99;
      }
      .list.visited {
        background: none;
        color: $black;
        z-index: 99999;
        &:before {
          background: $black;
          z-index: 99999;
        }
      }
      .list.active {
        color: $greenLight;
        font-family: $font-bold;
        &:before {
          background: $greenLight;
          z-index: 99999;
          padding: 10px;
          top: 0px;
          margin-left: -3px;
        }
      }
      .list {
        display: block;
        margin: 0;
        padding: 0px 0px 0px 20px;
        text-align: left;
        width: 100%;
        position: relative;
        font-size: 10px;
        float: left;
        min-height: 60px;
        border-left: 1px solid $battleshipGrey;

        .deliveryDate {
          color: $battleshipGrey;
        }
        &:nth-child(1):before {
          content: " ";
        }
        &:nth-child(2):before {
          content: " ";
        }
        &:nth-child(3):before {
          content: " ";
        }
        &:nth-child(4):before {
          content: " ";
        }
        &:nth-child(5):before {
          content: " ";
        }
        &:before {
          background: #ddd;
          border-radius: 50%;
          color: #fff;
          font-weight: 700;
          left: -7px;
          line-height: 37px;
          height: 15px;
          width: 15px;
          position: absolute;
          text-align: center;
          top: 4px;
          z-index: 999;
          top: 0px;
        }

        &.last.active,
        &.last {
          border: 0px;
        }
      }
    }
  }
}
