@import "../app.scss";
@import "../base.scss";
.newsletter-Wrapper {
    position: relative;
    width: 509px;
    height: 500px;
    //box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
  }

  .Group-6 {
    width: 366px;
    height: 502px;
    object-fit: contain;
  }
