@import "../app.scss";
@import "../base.scss";
@import "../variable";

.newsletter-Wrapper{
  padding: 0;
   .no-padding {
    padding: 0 0 0 0;
}
.no-margin {
  margin: 0 0 0 0;
}
  .modal-dialog{ 
    width: 62%;  
    max-width: 800px;     
   
    .Thumbnailbox{
      .imgfullwidth{
        width: 100%;        
      }
    }
    .close{
        top:20px;
        &:before, &:after {
            background: $black;
        }
      }

      .form_newsletter{
        .email{
          position: relative;
          padding: 0 0 25px 0;
          margin: 0;
          .error-msg{
            position: absolute;
            bottom: 0px;
            width: 100%;
            color:$reddishpink;
            line-height: 10px;
            font-size: 10px;
          }
        }

        .form-control {
          box-shadow: none;
          height: 40px;
          margin: 0 0 0px 0;
          border: 1px solid #dfe0de;
          border-radius: 0;
      }
         .heading {
          text-align: left;
          font-family: CeraGIBold, sans-serif;
          text-transform: capitalize;
          padding: 0 0 13px 0;
          margin: 0;
          color: $black;
      }
      .signup-text{
        color:$battleshipGrey;
        font-size: 12px;
        line-height: 12px;
      }
      }
  }
}



/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  //CSS
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 768
  */
@media screen and (min-width: 768px) {
  .newsletter-Wrapper{
    .modal-dialog {
      .form_newsletter{
        padding: 25% 8% 25% 8%;
        .heading{
          font-size: 26px;
        }
      }
    }
  } 
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
  .newsletter-Wrapper{
    .modal-dialog {
      .form_newsletter{
        padding: 17% 8% 17% 7%;        
      }
    }
  }
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

/* 
  #Global Screen Chhange for Screen max 767
*/
@media screen and (max-width: 767px) {
  .modal-open{
    .newsletter-Wrapper{
      .modal-dialog {
        .modal-content{
          .modal-body{
            .form_newsletter{
              padding: 20px 0px 0 0px;
              margin-left: -15px;
              margin-right: -15px;
              .heading{
                font-size: 24px;
                padding: 0px 20px 32px 20px;
                float: left;
                line-height: 30px;
              }

                .form-label{
                  position: absolute;
                  top: 0px;
                  padding: 0px 5px;
                  margin-left: 10px;
                  margin-top: -8px;
                  background: #fff;
                  font-size: 10px;
                  font-family: $font-light;
                }
                .email {
                  clear: left;
                  margin: 0px 20px;
                }
                .news-letter-btn{
                  margin-bottom: 0px;
                }
                .error-msg{
                  font-size: 10px;
                  font-family: $font-regular;
                }
            }
            .newsletter-form-box{
              margin-top: 5px;
              background: #fff;
            }
            .Thumbnailbox{
              width: 50%;
              margin: auto;
              margin-top: -75px;
              position: relative;
              z-index: 9;
            }
          }
        }
      }
      &.in{
        top: initial;
        bottom: 0px;
        overflow: visible;
      }
    } 
  }
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
}

