$base: 8px;
$colorblack:#424b5a;
$black:#000;
$colorwhite:#fff;
$colorgrey:#a1aeb7;
$colorblue:#005084;
$colorLightGrey: #999;
$errorMsg: red;
$reddishPink:#ee4060;
$cerulean: #036cc5;
$lightGrey: #dfe0de;
$lightgrey:#dfe0de;
$ceruleanblue:#036cc5;
$reddishpink:#ee4060;
$ashGrey: #070707;
$grey:#acacac;
$greybg:#f7f8f8;
$iceBlue:#eaf7ff;
$greyish:#4a4a4a;
$greyLight:#767676;
$greenDark:#017b6b;
$greenLight:#00b5a4;
$paleGrey:#eef8fe;
$greyDark:#222222;

$greylightColor:#505d68;

/*--Border Variable
-------------------------------**/
$borderLight:#eeeded;
$battleshipGrey: #77787a;
$lightblueGrey:#d1d1d2;
$greyBorder:#888a8d;
/*---Font variables
--------------------------------**/
$font-regular:CeraGIRegular,sans-serif;
$font-light:CeraGILight,sans-serif;
$font-bold:CeraGIBold,sans-serif;
$font-medium:CeraGIMedium,sans-serif; 
