$base: 8px;
$colorblack:#424b5a;
$black:#000;
$colorwhite:#fff;
$colorgrey:#a1aeb7;
$colorblue:#005084;
$colorLightGrey: #999;
$errorMsg: red;
$battleshipgrey:#77787a;
$lightgrey:#dfe0de;
$ceruleanblue:#036cc5;
$reddishpink:#ee4060;

/*--Border Variable
-------------------------------**/
$borderLight:#eeeded;
/*---Font variables
--------------------------------**/
$font-regular:CeraGIRegular,sans-serif;
$font-light:CeraGILight,sans-serif;
$font-bold:CeraGIBold,sans-serif;