
$base: 8px;
$colorblack:#424b5a;
$colorwhite:#fff;
$colorgrey:#a1aeb7;
$colorblue:#005084;
$colorLightGrey: #999;
$errorMsg: red;
$battleship-grey:#77787a;
$light-grey:#dfe0de;
$cerulean-blue:#036cc5;
$black:#000;

/*---Font variables
--------------------------------**/
$font-regular:CeraGIRegular,sans-serif;
$font-light:CeraGILight,sans-serif;
$font-bold:CeraGIBold,sans-serif;