
@import 'variable.scss';
@import 'base.scss';

p{ line-height: 24px} 
h4{font-weight: bold}
.form-control:focus { 
    color: #495057; 
    background-color: #fff;
    border-color: #a1aeb7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(159, 159, 159, 0.2) !important;
}
.slider{ img{width:100%}}
.img {
    width: 100%;
}
.btn-border {
    border: 1px solid $colorblack;
    padding: 5px 30px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    border-radius: 4px;   
}
.btn-bg{ background: $colorblack;border:none;cursor:pointer;color: #fff;
    padding: 5px 30px;font-size: 14px;text-transform: uppercase; line-height: 33px;
    border-radius: 4px;
  &:hover{color:#fff;background: $colorblack;}
}

.errormsg{ 
    position: absolute;
    color: #fd1f3b;    
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    top: 10px;
    width: 100%;
    z-index: 9;   
    left: 0;
    font-family:$font-bold;
    text-align: center;
}

    /***-------Comman form css---------***/
.modal-backdrop{background-color: rgba(0, 0, 0, 0.7);}
.modal-dialog{
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    .close {
        position: absolute; right: 20px;z-index: 9;background:transparent;width: 30px;border-radius: 50%;
        opacity: 1;height: 30px;top: 20px;color:$black;font-family: $font-light;font-size:16px;
        &:hover{background:transparent;color:$black;}
    }  
.modal-wrapper {   
    width: 800px;
    height: 348px;
    padding: 50px 0;
    font-weight: 600;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -174px;
    background: $colorwhite;     
    .form-center{
         margin:0 auto;max-width: 49%; 
         font-weight: normal;   
    .text{color:$colorgrey; font-weight: normal;}
    .error-msg{ 
         position: absolute;
        color:#fd1f3b;
        font-weight: normal;
        font-size: 12px; 
        line-height: 13px;
        min-height: 33px;
        bottom:-6px;
    }
    .label{
        color:$colorgrey;text-transform: uppercase;
        background: transparent;
        margin: 0;
        display: block;
        text-align: left;
        padding: 0 0 10px 0;
        font-size: 13px;
    }
    .heading{
        text-align: center;
        font-family: $font-bold;
        text-transform: capitalize;
        padding:0 0 30px 0;
        margin: 0;
        color: $black;
    }
    .form-control{box-shadow: none; height:40px}
    .form-div{position: relative;}
    input,button{margin:0 0 15px 0}
    }   
}  
}


@media(max-width: 768px) {
    .modal-dialog{        
     .modal-wrapper{width: 500px; margin-left: -250px;}
   }
}

  @media(max-width: 580px) {
    .modal-dialog{ 
        .modal-wrapper{
            width: 400px; margin-left: -200px;
            .form-center{ max-width: 80%;}
        }        
     }  
    }
