
@import 'variable.scss';
@import 'base.scss';
#app {
    max-width: 1440px;
    margin: auto;
}
p{ line-height: 24px} 
h4{font-weight: bold}
.form-control:focus { 
    color: #495057; 
    background-color:$colorwhite;
    border-color: $colorgrey;
    outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(159, 159, 159, 0.2) !important;
}
.slick-slide img {
    width: 100%;
}
.slider{ img{width:100%}}
.img {
    width: 100%;
}
.btn-borderwhite{
    border: 1px solid $black;
    background: $colorwhite;
    color:$black;
    padding:10px;    
}
.btn-border {
    border: 1px solid $colorblack;
    padding: 5px 30px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    border-radius: 4px;   
}
.btn-bg{ 
    background: $black;
    border:none;
    cursor:pointer;
    color: $colorwhite;
    padding: 5px 30px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    border-radius: 0px;
  &:hover{
      color:$colorwhite;
      background: $colorblack;
    }
}
.errormsg{ 
    position: absolute;
    color: $reddishpink;    
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    top: 10px;
    width: 100%;
    z-index: 9;   
    left: 0;
    font-family:$font-bold;
    text-align: center;
}
    /***-------Comman Modal css---------***/
    .modal.in{
        display: flex !important;
        flex-direction: column;
        justify-Content: center;
        align-Items: center;
      }
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.7);    
}
.modal-dialog{
    background:$colorwhite;
    border-radius: 0px;
    .modal-content {
        border:none;
        border-radius: 0px;
        background-color: transparent;
        .modal-body{
            border-radius: 0px;
            padding:0;    
            .close {
                position: absolute; 
                right: 20px;
                z-index: 9;
                background:transparent;
                width: 24px;
                border-radius: 50%;
                opacity: 1;
                height: 15px;        
                font-family: $font-light;
                font-size:16px;
                &:hover{
                    background:transparent;
                    color:$black;
                    opacity: 1;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
                &:before, &:after {
                    position: absolute;
                    left: 11px;
                    top:0;
                    content: ' ';
                    height: 15px;
                    width: 0.07rem;                
                }
            }  
        .modal-wrapper {  
            .form-center{
                margin:0 auto;
                max-width: 70%; 
                font-weight: normal;   
            .text{
                color:$colorgrey;
                font-weight: normal;
                margin:0;
            }
            .error-msg{ 
                position: absolute;
                color:$reddishpink;
                font-weight: normal;
                font-size: 12px; 
                line-height: 13px;
                min-height: 33px;
                bottom:-6px;
            }
            .label{
                color:$battleshipGrey;
                text-transform: uppercase;
                background: transparent;
                margin: 0;
                display: block;
                text-align: left;
                padding: 0 0 10px 0;
                font-size: 13px;
            }
            .heading{
                text-align: center;
                font-family: $font-bold;
                text-transform: capitalize;
                padding:0 0 30px 0;
                margin: 0;
                color: $black;
                font-size: 18px;
            }
            .form-control{
                box-shadow: none; 
                height:40px;
                border: 1px solid $lightgrey;
            }
            .form-div{
                position: relative;
            }
            input,button{
                margin:0 0 15px 0;
            }
            }   
        }  
    }
  }
}
@media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 0px auto;
    }
}

.slick-next:before, 
.slick-prev:before {
    font-size: 32px;
    line-height: unset;
    opacity: unset;
    color: unset;
}
.hideData {
    display: none;
}
.showData {
    display: block;
}



/*----ScrollBar
-----------------------*/
@at-root#detailCardSection::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: #f7f8f8;
    width:20px;
}


#detailCardSection::-webkit-scrollbar
{
	width: 3px;
	background-color: #dfe0de;
}

#detailCardSection::-webkit-scrollbar-thumb
{   width:5px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}