
@import 'variable.scss';
@import 'base.scss';
#app {
    max-width: 1440px;
    margin: auto;
}
p{ line-height: 24px} 
h4{font-weight: bold}
.form-control:focus { 
    color: #495057; 
    background-color:$colorwhite;
    border-color: $colorgrey;
    outline: 0;
}
.slick-slide img {
    width: 100%;
}
.slider{ img{width:100%}}
.img {
    width: 100%;
}
.btn-borderwhite{
    border: 1px solid $black;
    background: $colorwhite;
    color:$black;
    padding:10px;    
}
.btn-border {
    border: 1px solid $colorblack;
    padding: 5px 30px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    border-radius: 4px;   
}
.btn-bg{ 
    background: $black;
    border:none;
    cursor:pointer;
    color: $colorwhite;
    padding: 5px 30px;
    font-size: 14px;
    //text-transform: uppercase;
    line-height: 33px;
    border-radius: 0px;
  &:hover{
      color:$colorwhite;
      background: $colorblack;
    }
}
.errormsg{ 
    position: absolute;
    color: $reddishpink;    
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    top: 10px;
    width: 100%;
    z-index: 9;   
    left: 0;
    font-family:$font-bold;
    text-align: center;
}
    /***-------Comman Modal css---------***/
    .modal.in{
        flex-direction: column;
        justify-Content: center;
        align-Items: center;
      }
.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.7);    
}
.modal-dialog{
    background:$colorwhite;
    border-radius: 0px;
    .modal-content {
        border:none;
        border-radius: 0px;
        background-color: transparent;
        .modal-body{
            border-radius: 0px;
            padding:0;    
            .close {
                position: absolute; 
                right: 20px;
                z-index: 9;
                background:transparent;
                width: 24px;
                border-radius: 50%;
                opacity: 1;
                height: 30px;        
                font-family: $font-light;
                font-size:16px;
                &:hover{
                    background:transparent;
                    color:$black;
                    opacity: 1;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
                &:before, &:after {
                    position: absolute;
                    left: 11px;
                    top:0;
                    content: ' ';
                    height: 15px;
                    width: 0.07rem;                
                }
                &:focus {
                  outline: none;
                }
            }  
        .modal-wrapper {  
            .form-center{
                margin:0 auto;
                max-width: 70%; 
                font-weight: normal;   
            .text{
                color:$colorgrey;
                font-weight: normal;
                margin:0;
            }
            .error-msg{ 
                position: absolute;
                color:$reddishpink;
                font-weight: normal;
                font-size: 12px; 
                line-height: 13px;
                min-height: 33px;
                bottom:-6px;
            }
            .label{
                color:$battleshipGrey;
                text-transform: uppercase;
                background: transparent;
                margin: 0;
                display: block;
                text-align: left;
                padding: 0 0 10px 0;
                font-size: 13px;
            }
            .heading{
                text-align: center;
                font-family: $font-bold;
                text-transform: capitalize;
                padding:0 0 30px 0;
                margin: 0;
                color: $black;
                font-size: 18px;
            }
            .form-control{
                box-shadow: none; 
                height:40px;
                border: 1px solid $lightgrey;
            }
            .form-div{
                position: relative;
            }
            input,button{
                margin:0 0 15px 0;
            }
            }   
        }  
    }
  }
}

.slick-next:before, 
.slick-prev:before {
    font-size: 32px;
    line-height: unset;
    opacity: unset;
    color: unset;
}
.hideData {
  display: none;
}
.showData {
  display: block;
}

.cookiesPolicySticky{
    background: $colorwhite;
    position: fixed;
    bottom: 5px;
    width:91%;
	left:15px;
    z-index: 9;
    // transform: translate(-50%, 0);
    padding:20px 30px;
    -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.29);
    .cancelButton{
        border:none;
        background: transparent;
        position: absolute;
        right: 10px;
        top: 6px;
        line-height: 14px;
    }
    .cookiesText{
      float: left;
      width:85%;
    }
    .accept_cookies{
      background: #070707;
      color: #fff;
      padding: 5px 20px;
      border-style: none;
      float: left;
	  margin-left:15px;
	  margin-right:15px;
	  width:100px;
    }
}

.pageNotfound{
  width: 100%;
  padding: 0px 0 0 0;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  .innerContainer{
    width:50%;
    margin: 0 auto;
  .ErrorIcon,.ErrorText{
    float: left;
  }
  .ErrorIcon{
    width:20%;
    .icon{
      width: 100%;
    }
  }
  .ErrorText{
    width:80%;
    padding: 0 0 0 40px;
    .heading{
      font-size: 30px;
      line-height: 30px;
      color:$black;
      font-family: $font-bold;
      margin: 0 0 8px 0;
    }
    .errorDescription{
      font-size: 16px;
      font-family: $font-light;
      color: $battleshipGrey;
      line-height: 16px;
    }
    .UserDetailsform{
      padding:20px 0 0 0;
      .submit{
        background:$black;
        color:#fff;
        border: 1px solid $black;
        min-width: 170px;
        cursor: pointer;
      }
    }
  }
}
}
/*---Spining button Css
----------------------------*/
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
/*---- ScrollBar -----------------------*/
@at-root#detailCardSection::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $greybg;
    width:20px;
}

#detailCardSection::-webkit-scrollbar{
  width: 3px;
  background-color: $lightGrey;
}

#detailCardSection::-webkit-scrollbar-thumb{   
  width:5px;
  border-radius: 10px;
  box-shadow : inset 0 0 6px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}

.hideData { display: none;}
.showData { display: block;}

/*----ScrollBar
-----------------------*/
@at-root#detailCardSection::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: $greybg;
  width:20px;
}

#detailCardSection::-webkit-scrollbar{
  width: 3px;
  background-color:$lightGrey;
}

#detailCardSection::-webkit-scrollbar-thumb{   
  width:5px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}


    /* 
    #Global Screen Chhange for large Device
    */
    @include mix-lg{
      .modal-dialog {
        width: 600px;
        margin: 0px auto;
      }
        
      .modal.in{
            display: flex !important;
          }

    }

     
  

  /* 
    #Global Screen Chhange for Screen max 992
  */
  @include mix-md{
    .modal-open{
        .modal-dialog{
            width: 100%;
            margin: 0px auto;
        }
    }
    #app {
        overflow: hidden;
        width: 100%;
    }

    .pageNotfound{
      width: 100%;
      padding: 0px 20px 0 20px;
      
      .innerContainer{
        width:100%;
        margin: 0 auto;
      .ErrorIcon,.ErrorText{
        float: left;
      }
      .ErrorIcon{
        width:100%;
        max-width: 49%;
        margin: 0 auto;
        float: none;
        .icon{
          width: 100%;
        }
      }
      .ErrorText{
        width:100%;
        padding: 20px 0 0 0px;
        .heading{
          font-size: 24px;
        }
       
      }
    }
    }
   
      .intercom-launcher-frame{
        bottom: 50px !important;
      }
    
   
  }
.footer {
    float: left;
    width: 100%;
}
 