@import './app.scss';
@import './variable';
@import './base';
.disableddiv {
    pointer-events: none;
    opacity: 0.4;
}

.checkout {
    .form-control {
        border-radius: 2px;
        box-shadow: none;
    }
    .btn-blackbg {
        background: $black;
        padding: 12px 0;
        text-align: center;
        color: $colorwhite;
        border: none;
        font-family: $font-medium;
    }
    .btn-cancelborder {
        background: $colorwhite;
        padding: 11px 0;
        text-align: center;
        border: 1px solid $black;
        font-size: $base*1.75;
        color: $black;
        font-family: $font-medium;
    }
    .heading {
        padding: 0 0 13px 0;
        margin: 0;
        font-size: $base*3.75;
        font-weight: bold;
        color: $black;
        border-bottom: 1px solid $greyLightborder;
    }
    .summaryHeading {
        .headingOrder {
            font-size: $base*2.25;
            color: $black;
            padding: 0px 0 32px 0;
            font-weight: bold;
            margin: 0;
        }
    }
    .checkout_wrapper {
        .bgGrey {
            background: $borderLight;
        }
        .inactive {
            opacity: 0.5;
        }
        .listRow {
            border-bottom: 1px solid $greyLightborder;
            position: relative;
            .stepActive {
                .stepBg {
                    position: absolute;
                    width: 34px;
                    height: 34px;
                    background: $black;
                    padding: 5px;
                    border-radius: 50%;
                    color: $colorwhite;
                    text-align: center;
                    left: -40px;
                    top: 22px;
                    font-size: $base*2;
                }
                .stepbgNone {
                    position: absolute;
                    width: 34px;
                    height: 34px;
                    background: transparent;
                    padding: 5px;
                    border-radius: 50%;
                    color: $lightblueGrey;
                    text-align: center;
                    left: -34px;
                    top: 22px;
                    font-size: $base*2;
                }
                .checkmark {
                    position: absolute;
                    width: 34px;
                    height: 34px;
                    padding: 5px;
                    color: $colorwhite;
                    text-align: center;
                    left: -40px;
                    top: 22px;
                    font-size: $base*2;
                    &:after {
                        content: '';
                        display: block;
                        width: 7px;
                        height: 16px;
                        border: solid $black;
                        border-width: 0 1px 1px 0;
                        transform: rotate(45deg);
                        position: absolute;
                        left: 13px;
                        top: 10px;
                    }
                }
            }
            .labeltext-box {
                width: 30%;
                float: left;
                padding-left: 13px;
                .heading-label {
                    font-size: $base*2.25;
                    margin: 0;
                    font-weight: bold;
                }
            }
            .email-box {
                float: left;
                width: 48%;
                padding: 0 34px 0 0;
                .heading-label {
                    font-size: $base*2.25;
                    margin: 0;
                    padding: 30px 0;
                    font-weight: bold;
                    line-height: 27px;
                }
            }
            .paybytext {
                float: left;
                padding: 19px 0 0 0;
                .labelInput-greybg {
                    padding: 18px 0 18px 28px;
                    margin: 0 0 20px 0;
                    background: $greybg;
                    .pricetext {
                        color: $cerulean;
                        line-height: 24px;
                    }
                    .inputCheck {
                        margin: 5px 16px 0 0;
                    }
                    .form-label {
                        font-size: 14px;
                        color: $black;
                        padding: 0 0 0 16px;
                        line-height: 14px;
                        margin: 0;
                    }
                    .inputCheck,
                    .form-label {
                        float: left;
                    }
                    .giftCard {
                        padding: 0 31px 0 28px;
                        width: 100%;
                        .giftcard-input,
                        .applybtn {
                            float: left;
                        }
                        .giftcard-input {
                            width: 70%;
                            .form-control {
                                height: 45px;
                                border-right: none;
                                border: 1px solid $borderLight;
                                color: $lightblueGrey;
                            }
                        }
                        .applybtn {
                            width: 30%;
                        }
                    }
                }
                .paymentMethod {
                    .heading {
                        font-size: $base*2.25;
                        color: $black;
                        padding: 0 0 24px 0;
                        border: none;
                    }
                    .pay_radio {
                        padding: 0 0 26px 0;
                        .inputBox,
                        .form-label {
                            display: inline-block;
                        }
                        .inputRadio {
                            margin: 0 15px 0 0;
                        }
                        .form-label {
                            font-size: 16px;
                            font-weight: normal;
                            color: $black;
                            line-height: 16px;
                            margin: 0 0 0 15px;
                        }
                    }
                    .dropdown-toggle {
                        background: $colorwhite;
                        padding: 14px 15px;
                        border: 1px solid $lightGrey;
                        min-width: 268px;
                        box-shadow: none;
                        text-align: left;
                        font-size: 14px;
                        position: relative;
                        color: $greyish;
                        font-family: $font-medium;
                        margin: 0 0 40px 0;
                        .caret {
                            position: absolute;
                            right: 15px;
                            top: 22px;
                            color: rgba(68, 43, 45, 0.54);
                        }
                    }
                    .dropdown-menu {
                        width: 100%;
                        border-radius: 0;
                        top: 48px;
                        margin: 0;
                        padding: 0;
                        box-shadow: rgba(0, 0, 0, 0.14);
                        max-height: 192px;
                        overflow: auto;
                        li {
                            padding: 14px 15px;
                            border-bottom: 1px solid $lightGrey;
                            a {
                                color: $battleshipGrey;
                                font-size: 14px;
                                font-family: $font-regular;
                                text-decoration: none;
                                &:focus {
                                    outline: none;
                                }
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                        li.divider {
                            display: none;
                        }
                    }
                }
            }
            .action-button {
                float: left;
                width: 22%;
                padding: 18px 0;
            }
            .leftBox {
                .heading-label {
                    font-size: $base*2.25;
                    font-weight: bold;
                }
                .verticalTab {
                    padding: 16px 0 0 0;
                    .add_tab {
                        font-size: 18px;
                        color: $black;
                        font-weight: bold;
                        padding: 22px 0 22px 15px;
                        cursor: pointer;
                    }
                    .add_tab.active_add {
                        background: $colorwhite;
                    }
                }
            }
            .shiptoBg {
                padding: 0px 0px 0 0px;
                display: flex;
                .bgGrey {
                    width: 90%;
                    padding: 0 0 0 13px;
                }
            }
            .customCheckbox {
                .inputCheck[type="checkbox"] {
                    display: none;
                }
                /* Input Checkbox Squere
              -----------------------------*/
                .inputCheck[type="checkbox"]+.lblCheck {
                    // background: url("../../../images/plpAssests/unchecked.jpg") left top no-repeat;    
                    background: url("../images/plpAssests/unchecked.jpg") left top no-repeat;
                    display: inline;
                    min-height: 16px;
                    padding-left: 11px;
                    background-size: contain;
                }
                .inputCheck[type="checkbox"]:checked+.lblCheck {
                    background: url("../images/plpAssests/checked.jpg") left top no-repeat;
                    background-size: contain;
                    padding-left: 11px;
                }
                .input_box,
                .defaultlbl {
                    float: left;
                }
            }
            .rightBox {
                .heading-label {
                    font-size: $base*2.25;
                }
                .shipping-text {
                    color: $battleshipGrey;
                }
                .havePassword {
                    padding: 0 0 12px 7px;
                    .checkBox {
                        margin: 0 14px 0 0;
                    }
                    .form-label {
                        font-size: 13px;
                        font-weight: normal;
                        color: $black;
                        line-height: 13px;
                        padding: 0 0 0 14px;
                    }
                }
                .password-field {
                    .valiationPosition-NewPassword {
                        top: 36px;
                    }
                }
                .form-div {
                    position: relative;
                    .form-group {
                        position: relative;
                        padding: 17px 0 0 0;
                        .form-control {
                            border: 1px solid $lightGrey;
                            margin: 5px 0 20px 0;
                            &:focus {
                                border: 1px solid $black !important;
                                box-shadow: none !important;
                            }
                            &:focus~ {
                                .form-label {
                                    color: $cerulean !important;
                                }
                            }
                            .add_tab.active_add {
                                background: $colorwhite;
                            }
                        }
                        .form-label {
                            color: $battleshipGrey;
                            position: absolute;
                            top: 0;
                            // bottom: 8px;
                        }
                    }
                    .error-msg {
                        color: $reddishPink;
                        position: absolute;
                        bottom: 5px;
                        font-size: $base*1.5;
                        line-height: 12px;
                        font-weight: normal;
                    }
                }
                .bill-address {
                    padding: 9px 0 20px 0;
                    border-bottom: 1px solid $lightGrey;
                    .checkbox,
                    .label-billing {
                        float: left;
                    }
                    .shipping-text {
                        font-size: $base*2;
                        color: $battleshipGrey;
                        padding: 0 59px 24px 0;
                    }
                    .label-billing {
                        color: $greyDark;
                        padding: 0 0 0 14px;
                        line-height: 16px;
                        margin: 0;
                    }
                }
                .bussinessNote {
                    .buying {
                        padding: 21px 0 14px 0;
                        font-size: 16px;
                        color: $greyDark;
                        margin: 0;
                        font-family: $font-medium;
                    }
                    .noteGstin {
                        color: $battleshipGrey;
                        font-size: 12px;
                        line-height: 18px;
                        .bold {
                            font-weight: bold;
                        }
                    }
                }
                .continueMargin {
                    margin: 4px 0 0 0;
                }
                .saveAddress {
                    .list {
                        padding: 15px 8px 15px 8px;
                        font-size: $base*1.625;
                        min-height: 130px;
                        width: 49%;
                        display: block;
                        float: left;
                        border-radius: 2px;
                        cursor: pointer;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        .inputBox,
                        .addressText {
                            display: block;
                            float: left;
                        }
                        .inputBox {
                            width: 10%;
                            height: 20px;
                        }
                        .addressText {
                            width: 90%;
                        }
                    }
                }
            }
            &:last-child.listRow {
                border-bottom: 1px solid $borderLight;
            }
        }
    }
    .orderSummary {
        .heading {
            font-size: $base*2.25;
            color: $black;
            padding: 0 0 32px 0;
        }
        .listRow {
            padding: 0 0 20px 0;
            .lefttext-box,
            .righttext-box {
                color: $black;
                font-size: $base*1.75;
                font-weight: bold;
            }
            .lefttext-box {
                float: left;
            }
            .righttext-box {
                float: right;
            }
        }
        .freeshipping {
            color: $battleshipGrey;
            font-size: $base*1.5;
            padding: 0 0 20px 0;
        }
        .startEmi {
            border: 1px solid $greyLightborder;
            border-left: 0;
            border-right: 0;
            padding: 19px 0;
            .emitext,
            .knowmore {
                font-size: $base*1.75;
                font-family: $font-bold;
            }
            .emi-icon {
                float: left;
                padding: 0 8px 0 0;
            }
            .emitext {
                float: left;
                color: $black;
            }
            .knowmore {
                float: right;
                color: $cerulean;
            }
        }
        .totalBox {
            padding: 16px 0 32px;
            .totaltext {
                float: left;
                .label-text {
                    color: $cerulean;
                    font-size: $base*3;
                    font-weight: bold;
                }
                .savetext {
                    .save-label,
                    .saving-amount {
                        font-size: $base*1.375;
                    }
                    .save-label {
                        color: $battleshipGrey;
                    }
                    .saving-amount {
                        color: $greenLight;
                    }
                }
            }
            .totalAmount {
                float: right;
                color: $cerulean;
                font-size: $base*3;
                font-weight: bold;
            }
        }
        .SecureCheckout {
            text-align: center;
            padding: 24px 0 0 0;
        }
    }
}

.orderconfirm {
    margin: 52px 0 70px 0;
    .orderConfirmed {
        .heading {
            color: $cerulean;
            font-size: 24px;
            font-family: $font-bold;
            margin: 0;
            padding: 0 0 10px 0;
        }
        .text {
            color: $battleshipGrey;
            font-size: 16px;
            font-family: $font-regular;
            line-height: 16px;
            margin: 0;
            padding: 0 0 5px 0;
        }
    }
    .continueShopping {
        float: right;
        .btn-bg {
            font-size: 14px;
        }
    }
    .orderDetails {
        margin: 45px 0 0 0;
        padding: 32px 24px 53px 24px;
        background: $greybg;
        .heading-details {
            font-size: 24px;
            color: $black;
            margin: 0 0 24px 0;
            line-height: 24px;
        }
    }
}


/* Radio custom css
-------------------------*/

.paymentMethod.customradio {
    .inputBox {
        &:before {
            top: 3px;
        }
    }
}

.customradio {
    .input[type='radio'] {
        display: none;
    }
    .inputBox {
        position: relative;
        &:before {
            content: " ";
            display: inline-block;
            position: relative;
            top: 4px;
            margin: 0 0px 0 0;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            border: 1px solid $black;
            background-color: transparent;
        }
        .labelchecked {
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
        }
        .input[type='radio']:checked+.labelchecked {
            border-radius: 100%;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 7px;
            left: 3px;
            display: block;
            background-color: $black;
        }
    }
}


/* ScrollBar 
---------------------*/

.dropdown-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $colorwhite;
    -webkit-box-shadow: inset 0 0 6px $colorwhite;
    border-radius: 2px;
    background-color: #cac9c9;
}

.dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    height: 50px;
    box-shadow: inset 0 0 6pxrgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6pxrgba(0, 0, 0, 0.5);
    background-color: #d1d1d2;
}

.dropdown-menu .divider {
    margin: 3px 0 !important;
}


/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/

@media (min-width: 1281px) {
    //CSS
}


/* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}


/* 
    #Global Screen Chhange for Screen max 768
    */

@media screen and (min-width: 768px) {
    .checkout {
        padding: 56px 0 100px 0;
        .form-control {
            height: 54px;
        }
        .container {
            width: 85%;
        }
        .orderSummary {
            padding: 0 0 32px 37px;
            margin-top: -28px;
        }
        .checkout_wrapper {
            .bgfullflex {
                display: flex;
            }
            .listRow {
                .paybytext {
                    width: 70%;
                    .paymentMethod{
                        padding: 20px 0 0 19px;
                    }
                }
                .leftBox {
                    width: 30%;
                    float: left;
                    padding: 25px 0px 0 13px;
                }
                .rightBox {
                    width: 70%;
                    float: left;
                    padding: 22px 0 25px 27px;
                    .saveAddress {
                        .list {
                            min-height: 130px;
                            background: rgba(247, 248, 248, 0.5);
                            border: 1px solid $lightblueGrey;
                            margin: 0 8px 12px 0;
                        }
                    }
                    .colpaddingRight {
                        padding-right: 3px;
                    }
                    .shipping-text{
                        font-size: $base*2;
                        padding: 0 59px 24px 0;
                    }

                    .bill-address {
                        .label-billing {
                            font-size: 16px;
                            font-family: $font-medium;
                        }
                    }
                    .bussinessNote{
                        .noteGstin{
                            padding: 0 0 22px 0;
                        }
                       }
                }
                .labeltext-box {
                    .heading-label {
                        padding: 30px 0;
                    }
                }
            }
        }
    }
}


/* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */

@media (min-width: 768px) and (max-width: 1024px) {
    //CSS
}


/* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}


/* 
    #Global Screen Chhange for Screen max 767
  */

@media screen and (max-width: 767px) {
    .checkout-title {
        font-size: $base*1.75;
        padding: $base*2 0px $base*2 15px;
        font-weight: bold;
        background: $borderLight;
        margin-top: $base*6;
    }
    .checkout {
        padding: 20px 0 10px 0;
        .form-control {
            height: 44px;
        }
        .mob-checkout-steps{
            position: fixed;
            top: 0px;
            z-index: 9;
            color: $colorwhite;
            text-align: center;
            width: 100%;
            padding: 14px 0px;
            font-size: 14px;
        }
        .address-submit{
            padding-left: 0px;
        }
        .container {
            width: 100%;
        }
        .orderSummary {
            padding: 0px 10px 0px 10px;
        }
        h3.heading {
            display: none;
        }
        .checkout_wrapper {
            .bgfullflex {
                display: block;
                width: 100%;
            }
            .listRow {
                border: 0px;
                .paybytext {
                    width: 100%;
                    .paymentMethod{
                        padding: 20px 0 0 8px;
                    }
                }
                .leftBox {
                    width: 100%;
                    padding: 10px 0px 10px 8px;
                }
                .rightBox {
                    width: 100%;
                    float: left;
                    padding: 22px 0 25px 0px;
                    .saveAddress {
                        .list {
                            min-height: 10px;
                            width: 100%;
                            border: 1px solid $lightGrey;
                            margin: 0 0px 8px 0;
                            .addressText{
                                font-family: $font-regular;
                                color:$battleshipGrey;
                                font-size: 12px;
                            }
                        }
                    }
                    .bill-address {
                        .label-billing {
                            width: 95%;
                            font-size: 12px;
                            font-family: $font-regular;
                            font-weight: normal;
                        }
                    }
                    .colpaddingRight {
                        padding-right: 15px;
                    }
                    .form-div{
                        .form-group {
                            input[type='password']{
                                letter-spacing: 12px;
                            }
                            .form-label{
                                margin: 14px 0px 0px 10px;
                                background: $colorwhite;
                                font-size: 11px;
                                padding: 0px 10px;
                            }
                        }
                    } 
                    .shipping-text{
                        font-size: $base*1.5;
                        padding: 0 0px 10px 0;
                    }
                    .add-new-address-box{
                        color: $cerulean;
                        margin-bottom: 12px;
                        position: relative;
                        font-size: 14px;
                        padding: 0px 10px;

                        .add-address-btn{
                            position:absolute;
                            right: 0px;
                            top: 0px;
                            width: 20px;
                            height: 20px;
                            background: url('../images/plusIcon-blue.svg');
                        }
                        .active_add{
                            .add-address-btn{
                                background: url('../images/close-blue.svg');
                                background-size: cover;
                            }
                        }
                    }
                    .bussinessNote{
                     .noteGstin{
                        padding:0px;
                     }
                    }
                }
                .email-box {
                    .heading-label {
                        display: none;
                    }
                }
                .stepActive {
                    .stepBg {
                        display: none;
                    }
                }
                .labeltext-box {
                    .heading-label {
                        padding: 10px 0;
                    }
                }
            }
        }
        .checkout-btn-floater {
            position: fixed;
            bottom: 0px;
            left: 0px;
            z-index: 911;
            width: 100%;
            .total-amount,
            .proceed-btn {
                width: 50%;
                float: left;
            }
            .total-amount {
                background: $colorwhite;
                min-height: 44px;
                text-align: center;
                font-family: $font-bold;
                font-size: 16px;
                padding-top: 3px;
                border-top: 1px solid $lightGrey;
                .total-amount-text {
                    font-size: 10px;
                    display: block;
                }
            }
        }
    }
}


/* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */

@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}


/* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */

@media (min-width: 320px) and (max-width: 480px) {}