@import './variable';
.compare{
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    right: 30px;
    bottom: 52px;
    padding: 8px;
    background:$colorwhite;   
    text-align: center;
    z-index: 99;
    transition: all 1.5s ease-in-out;
.btnCompare{    
    background:$colorwhite;
    border: 1px solid $black;
    padding: 5px 8px;
    transition: all 1.5s ease-in-out;
    .arrow{
        width:14px;
    }
    &:focus{
        outline: none;
    }
}
.comparelebal{
    font-size: $base*1.75;
    color:$black;
    font-weight: bold;
}
}

.animationDIV{
    transition: all 1.5s ease-in-out;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transform: translateY(0%);
    animation: createDiv 1.5s ease-in-out alternate;
    -moz-animation: createDiv 1.5s ease-in-out alternate;
    -webkit-animation: createDiv 1.5s ease-in-out alternate;
    position: fixed;
    bottom: -1000px;
    width: 100%;   
    z-index: 9;

}
.animationDIV.open{
    bottom: -20px;
}
    @keyframes createDiv {
       0%{
           transform: translateY(100%);
           opacity: 0;
           
        }
        100%{
           transform: translateY(0%);
           opacity: 1;
           bottom: 0;
        }
        
    }

 
.compareProductwrap{
    background:$colorwhite;   
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.16);
    padding: 16px 0;
   

    .compareProducts{
        padding:0;
        margin:0;
        .list{
            background: $greybg;
            width: 23.34%;            
            padding: 5px;
            margin: 0 25px 0 0;
            position: relative;
            display: block;
            float: left;
            min-height: 87px;
            max-height: 87px;

            .btn-compare{
                background:$black;
                border:none;
                color:$colorwhite;
                width:80%;
                margin:0 auto;
                padding:12px 0;
                font-size: $base*1.75;
                display: block;
            }
            .btn-clearall{
                background: transparent;
                border:none;
                margin:17px 0 0 0;
                font-size: $base*1.75;
                font-weight: 600;
            }

            .addproduct-box{
                text-align: center;
                padding: 14px;
                .add-icon{
                   background: transparent;
                   border:none;
                }
                .addproduct-text{
                   color:$black;
                   font-weight: 600;
                   padding:15px 0 0 0;
                }
            }

            &:last-child{
                margin: 0 0px 0 0;
                text-align: center;
                background: transparent;
            }
            .imgBox{
                width:30%;
                float: left;
                background: $colorwhite;
                min-height: 77px;
                display: flex;
                justify-content: center;
                align-items: center;

                .imgfullwidth{
                    width: 100%;
                }
            }
            .textBox{
                width:70%;
                float: left;
                padding:0 0 0 12px;
                
                .productName{
                    font-size: $base*1.5;
                    color:$black;
                    font-family: $font-bold;
                    margin:0;
                    padding:6px 0 0 0;
                    min-height: 40px;
                }
                .discount-price{
                    font-size: $base*2;
                    font-family: $font-bold;
                    color:$cerulean;
                }
            }
            .close {
                position: absolute; 
                right: 6px;                
                opacity: 1;
                top: 6px;
                line-height: 0;
                &:focus{
                    outline: none;
                }
                
            } 
            
        }
   }

}

.compare-product{
    .heading{
        font-size: $base*3.75;
        line-height: 32px;
        color: $cerulean;
        font-family: $font-bold;
    }
    .back-btn-box{
        font-size: $base*2;
        padding: 16px 0px;
    }
    .compare-product-list{
        margin-bottom: 20px;
        .comp-list-item{
            padding:0px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: $borderLight $colorwhite $borderLight $borderLight;
        
            &:last-child{border-right: 1px solid $borderLight}
            &:hover{
                border: 1px solid $ceruleanblue;
            }
            .img-box{
                padding:20px;
                text-align: center;

                img{
                    max-width: 100%;
                    max-height: 168px;
                }
            }
            .remove-box{
                border-top:1px solid $borderLight;
                border-bottom:1px solid $borderLight;
                padding: 10px;
                text-align: center;

                .remove-btn, .view-product-btn{
                    border:0px; 
                    background: none;
                    margin: 0px 20px;
                    font-size: $base*1.5;
                    outline: 0;
                }
                .remove-btn{
                    color: $colorgrey;
                }
                .view-product-btn{
                    color: $ceruleanblue;                
                }
            }
            .product-desc{
                padding: 20px;
                text-align: center;
                .product-name{
                    font-family: $font-bold;
                    padding-top: 15px;
                    font-size: $base*1.75;
                    text-transform: capitalize;
                }
                .description-text {
                    font-family: $font-light;
                    font-size: 11px;
                }
                .discount-price {
                    font-size: $base*2.25;
                    font-family: $font-bold;
                    color: $cerulean;
                }
                .priceno-discount {
                    text-decoration: line-through;
                    text-decoration-color: $reddishpink;
                    font-family: $font-light;
                    padding-left: 15px;
                    font-size:$base*2.25;
                }
                .discount-price{
                    padding-right: 10px;
                }
                .priceno-discount{
                    padding-left: 10px;
                }
                .emi-desc{
                    color: $reddishpink;
                    font-size: $base*1.5;
                }
            }
            .product-attr{
                padding: 20px;
                text-align: center;
                display: flex;
                ul{
                    margin: auto;
                    li{
                        float: left;
                        padding: 5px 10px;
                        a{
                            display: inline-block; 
                            width:30px; 
                            height: 30px; 
                            border-radius: 100%;
                            border: 1px solid $borderLight;
                        }
                    }
                }
            }
            
        }
        .prod-delivery-slot{
            background: $greybg;
            padding: 17px 37px;
        }
        .dims-detail{
            
            .row:nth-child(odd){background: $greybg}
            .attr-dims{
                width:47%;
                padding: 8px 5px;
            }
            .attr-desc{ 
                padding: 8px 5px;
                p{
                    margin: 0px;
                }
            }
            
        }
        .specifec-detail{

            &:nth-child(odd){background: $greybg}
            .attr-details{
                width:47%;
                padding: 8px 5px;
            }
            .attr-desc{ 
                padding: 8px 5px;
            }
            p{margin: 0px;}
        }
        
        .comp-cod-option{
            padding: 20px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: $borderLight $colorwhite $borderLight $borderLight;
        
            &:last-child{border-right: 1px solid $borderLight}
        }
        .title-text{
            font-size: 30px;
            line-height: 32px;
            color: $black;
            font-family: $font-regular;
        }
    }
    .back-btn{
        background: none;
        border:0px;
    }
}

  /* 
    #Global Screen Chhange for Screen max 767
  */
  @media screen and (max-width: 767px){
    .compare, .animationDIV.open{
        display: none;
    }
  }



