@import './variable';
.compareProductwrap{
    background:$colorwhite;
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.16);
    padding: 16px 0;
    z-index: 99;

    .compareProducts{
        padding:0;
        margin:0;
        .list{
            background: $greybg;
            width: 23.34%;
            display: inline-block;
            padding: 5px;
            margin: 0 25px 0 0;
            position: relative;

            &:last-child{
                margin: 0 0px 0 0;
            }
            .imgBox{
                width:30%;
                float: left;
                background: $colorwhite;
                min-height: 77px;
                display: flex;
                justify-content: center;
                align-items: center;

                .imgfullwidth{
                    width: 100%;
                }
            }
            .textBox{
                width:70%;
                float: left;
                padding:0 0 0 12px;
                
                .productName{
                    font-size: 12px;
                    color:$black;
                    font-family: $font-bold;
                    margin:0;
                    padding:6px 0 0 0;
                    min-height: 40px;
                }
                .discount-price{
                    font-size: 16px;
                    font-family: $font-bold;
                    color:$cerulean;
                }
            }
            .close {
                position: absolute; 
                right: 6px;                
                opacity: 1;
                top: 6px;
                line-height: 0;
                &:focus{
                    outline: none;
                }
                
            } 
        }
   }

}

