@import "variable.scss";
/*----New home body style---*/
.explore-room .explore .list .link{display:block;font-weight:bold;text-decoration:none}
.explore-room .explore .list .imgfullwidth{width:100%;height:69px}
.explore-room .explore .list .imgfullwidth.hover{display:none}
.explore-room .explore .list:hover .imgfullwidth.hover{display:block}
.explore-room .explore .list:hover .imgfullwidth.unhover{display:none}
.explore-room .explore .list .imgfullwidth{display:block}
.explore-room .explore .list .textarea{padding:31px 0 0 0;display:block;font-size:18px;color:#4a4a4a}


/*-----recently-viewed-----*/
.recently-viewed{padding-top: 0}
.recently-viewed .heading{font-weight: bold;padding: 30px 0 50px 0; margin:0;text-align: center;color:#505d68;}
.recently-viewed .productBox{ margin:0 0 15px 0}
.recently-viewed .productBox .imgBox{ background: #f7f8f8; padding: 60px 10px; }
.recently-viewed .productBox .imgBox .imgfullwidth{width:100%;}
.recently-viewed .product-text{text-align: center}
.recently-viewed .product-text .text{color: #000000;margin: 0; line-height: 24px; padding: 5px 0 0 0; line-height: 24px; margin: 0;}
.recently-viewed .product-text .heading{position: relative;font-weight: bold;padding-top: 15px;text-transform: capitalize;}
.recently-viewed .product-text .heading::after{ position: absolute; width: 20px; height: 1px; background: #ee4060; content: '';
    bottom: 0; margin: 0 auto; display: block; left: 0;  right: 0;}
.recently-viewed .product-text .text-color{color:#ee4060}
.recently-viewed .product-text .text-color .bold{font-weight: bold}

.recently-viewed .product-text .price{font-weight: bold}
.discount-price{font-size: 16px;font-weight: bold; color:#036cc5}
.recently-viewed .product-text .price .priceno-discount{text-decoration: line-through;text-decoration-color: #ee4060;font-weight: normal;padding-left: 15px; }

.offerpercent{font-style: italic;}

/* ourstore
------------------------------------*/
.ourstore .ourstoreImgbox{position: relative;height: 385px; background: url(http://203.110.85.50/imagestore/images/godrejInterio/godrejstore-banner.png) 100% 100%;}
.ourstore .ourstoreImgbox .imgfullwidth{width:100%}
.ourstore .store-textbox{background:#f7f8f8;padding:20px;text-align: center}
.ourstore .btn-bg{  background: #070707;color: #fff; padding: 0px 40px; border-style: none;margin:18px 0 0 0}

.ourstore .store-textbox .heading{font-weight: bold;margin: 10px 0;}
.ourstore .store-textbox .text{margin:5px 0 0 0}
.ourstore .store-textbox .text .bold{color:#036cc5;font-weight: bold;}

/* oursolutions
------------------------------------*/
.oursolutions{padding-top:0}
.oursolutions .ourstoreImgbox{position: relative;height: 347px; background: url(http://203.110.85.50/imagestore/images/godrejInterio/solution-banner.png) 100% 100%; background-size: cover;}
.oursolutions .store-textbox{background:#f7f8f8;padding:20px;text-align: center}
.oursolutions .store-textbox .imgfullwidth{width: 95px;}
.oursolutions .btn-bg{  background: #070707;color: #fff; padding: 0px 40px; border-style: none;margin:10px 0 0 0}
.oursolutions .store-textbox{   position: absolute; top: 50%; left: 50%; width: 540px; height: 228px; margin-top: -114px; margin-left: -270px;}
.oursolutions .store-textbox .heading{font-weight: bold;font-size: 18px;}
.oursolutions .store-textbox .text{margin:5px 0 0 0}
.oursolutions .store-textbox .text .bold{color:#036cc5;font-weight: bold;}

/* recommendation
------------------------------------*/
.recommendation-wrapper{width:80%;margin:0 auto}
.recommendation .heading { font-weight: bold; padding: 30px 0 50px 0; margin:0;   text-align: center; color:#000000;}
.recommendation .imgBox .imgfullwidth{width:100%}
.cupboard .imgcustomwid{width:93%}
.recommendation .imgBox{margin:0 0 30px 0}

/*our-promises
------------------------------------------*/
.our-promises{ background: #036cc5;position: relative;}
.our-promises .heading { font-weight: bold;  padding-bottom: 30px;  color:#fff;    margin-top: 0;}
.our-promises .Promise-boxtext .sub-heading{color:#fff;text-transform: capitalize;    margin: 10px 0;}
.our-promises .Promise-boxtext .text{color: #fff;}
.our-promises .product-bg{position: absolute; right: 0; width: 350px; top: -80px;}
.our-promises .product-bg .imgfullwidth{width:100%}


/*------Featured Categories
-------------------------------------*/
.featureCategories .heading {font-weight: bold;padding: 30px 0 50px 0; margin:0; text-align: center; color: #505d68; }
.featureCategories{margin-bottom: 15px;    padding-top: 0;}
.featureCategories .featureCarouselbox .Imgbox{padding: 0 0 10px 0;}
.featureCategories .featureCarouselbox .Imgbox .imgfullwidth{width:100%}

.featureCategories .leftbox{float: left;}
.featureCategories .leftbox .bold{font-weight: bold}
.featureCategories .rightbox{float: right;}
.featureCategories .featureCarouselbox  .itemtext .text{color:#000;}




/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  }
  

  /* 
    #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
    /* 
    #Global Screen Chhange for Screen max 768
    */
    @media screen and (min-width: 768px){
        .explore-room{
            .explore{
                width:80%;margin:0 auto;display:flex;-webkit-display:flex;-moz-display:flex;-ms-display:flex;justify-content:space-around;
                .list{flex:0 0 20%;-webkit-flex:0 0 20%;-moz-flex:0 0 20%;-ms-flex:0 0 20%;text-align:center;-webkit-transition:all .4s linear;transition:all .4s linear}
              }
        } 
        .oursolutions{
          .store-textbox{position: absolute; top: 50%; left: 26%; width: 540px; height: 220px; margin-top: -110px; margin-left: -270px;}
        } 
        .our-promises{
            .heading{
                font-size: 48px;
            }
            .Promise-boxtext {
                .sub-heading{font-size: 16px;font-weight: bold;}
            }
        }


    }

  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (portrait)
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  


  /* 
    #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  

  /* 
    #Global Screen Chhange for Screen max 767
  */
  @media screen and (max-width: 767px){
    .espotContent{
    .explore-room{
        .explore{
            width:100%;
            margin:0 auto;
            display:inline-block;
            -webkit-display:initial;
            -moz-display:initial;
            -ms-display:initial;
            justify-content:space-around;
            text-align: center;

            .list{flex:initial;
              -webkit-flex:initial;
              -moz-flex:initial;
              -ms-flex:initial;
              text-align:center;
              -webkit-transition:all .4s linear;
              transition:all .4s linear; 
              width: 33.333%; 
              display: inline-block;
              margin-bottom: 20px;
              .textarea{
                font-size: 12px;
                padding: 12px 0 0 0;
                font-family: $font-regular;
                font-weight: normal;
              }
              .imgfullwidth{
                  height: 45px;
              }
            }
          }
    } 
  }

    .oursolutions{
      .container{
      padding: 0px;

      .store-textbox{
        position: static; 
        top:initial; 
        left: initial; 
        width: 100%; 
        height: initial; 
        margin-top: 0px; 
        margin-left: 0px; 
        max-width:600px;
        float:left;
        .heading{
          float: right;
          width: 60%;
          margin-bottom: 10px;
          font-size:14px;
        }
        .btn-bg{
          float: right;
          margin-top: 0px;
        }
        .text{display: none;}
        .logous{
          float: left;
          width: 40%;
          min-height: 35px;
          position: relative;

            img{
              max-width: 80px;
              margin-top: 16px;
              text-align: left;
              float: left;
              position: absolute;
              left: 0px;
            }
          }
      }
      .ourstoreImgbox{height: initial; padding:20px 20px  20px 0px; float: left; width:100%;}
    }
    } 

     /* Our Promises */
    .our-promises{
        .ourpromises-heading{
            .heading{
                font-size: 20px;
                text-align:center;
            }
            .Promise-boxtext {
                .sub-heading{font-size: 14px;}
            }
        }
        .product-bg{display: none}
        
        .Promise-boxtext {
            .text{
                display: none;
            }
            
        }
        .col-md-9{
            .col-md-4.col-sm-4{
                width:33.333%; 
                float:left;
                .Promise-boxtext{
                    text-align: center;
                    .sub-heading{
                      font-family: $font-regular;
                      font-weight: normal;
                      font-size:12px;
                    }
                }
            }
        }
    }
    .fsBanner{
      padding-bottom:15px;
    }

  }


  /* 
    #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  
  /* 
    #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }