@import "./variable";

.delete-modal{
  .modal-dialog{
    .modal-content{
      .modalwrapper{
        padding: 55px 70px 55px 70px;
        text-align: center;
        .heading-succes{
          font-family: $font-bold;
          font-size:$base*4;
          line-height: $base*4;
          color:$black;
          margin:15px 0 0 0;
        }
        .orderConfirmed{
          font-family: $font-regular;
          font-size:$base*2.5;
          line-height: $base*2.5;
          margin:16px 0 0 0;
          color:$black;
        }
        .actionBtnWrapper{
          .btn{
            padding: 12px 60px;
          }
        }
        &.change-pinocde{
          .heading{
            font-size: $base*2.5;
          }
          .text{
            font-size: 14px;
          }
        } 
      }
    }
  }
}