.slick-prev::before {
    content: '';
    background: url("https://192.168.0.36:8443/wcsstore/GodrejInterioSAS/images/godrejInterio/LeftArrow.svg") no-repeat;
}
.slick-next::before {
    content: '';
    background: url("https://192.168.0.36:8443/wcsstore/GodrejInterioSAS/images/godrejInterio/RightArrow.svg") no-repeat;
}
.slick-next:before, 
.slick-prev:before {
    font-size: 32px;
    line-height: unset;
    opacity: unset;
    color: unset;
}