.fsBanner, .ourstoreImgbox {
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-dots {
        bottom: 12px;
    }
    .slick-next:before, 
    .slick-prev:before {
        font-size: 32px;
        line-height: unset;
        opacity: unset;
        color: unset;
        visibility: hidden;
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.54);
        background: transparent;
    }
    .slick-dots li button:before {
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        opacity: .75;
        color: #fff
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #fff;
       
    }
    .slick-prev,
    .slick-next {
        z-index:3;
    }
}

.typesofkitchen {
    .slick-dot li {
        margin: 20px 0px;
    }
    .slick-dots li button:before {
        font-size: 12px;
        line-height: 30px;
        position: relative;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        opacity: .4;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
    }
}