@import '../variable';
@import '../base';


.About-Us {
    width: 1440px;
    height: 3555px;
    background-color: #ffffff;
  }

  .Godrej-Interio-is-In {
    width: 751px;
    height: 260px;
    font-family: CeraGodrejInterio;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
  }
  .Oval {
    width: 89px;
    height: 89px;
    background-color: var(--ice-blue);
  }
  .Post-title {
    width: 60px;
    height: 31px;
    font-family: CeraGodrejInterio;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: #000000;
  }
  .Post-title-Copy {
    width: 72px;
    height: 31px;
    font-family: CeraGodrejInterio;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: #000000;
  }
  .Post-title-Copy-2 {
    width: 65px;
    height: 31px;
    font-family: CeraGodrejInterio;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: #000000;
  }
  .Godrej-Interio-is-In {
    width: 751px;
    height: 260px;
    font-family: CeraGodrejInterio;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
  }
  .Oval {
    width: 89px;
    height: 89px;
    background-color: var(--ice-blue);
  }
  .Path-4 {
    width: 27.5px;
    height: 18.6px;
    background-color: var(--light-blue-grey);
  }
  .Header-Copy-5 {
  width: 223px;
  height: 49px;
  font-family: CeraGodrejInterio;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}