/* PLP
-------------------------------------------*/
@import "../app.scss";
@import "../base.scss";
@import "../variable.scss";
$imgfullwid: 100%;

.list-style {
  padding: 13px;
  border-radius: 50%;
  display: inline-table;
  border: 1px solid $colorwhite;
  cursor: pointer;
  margin-right: 10px;
}

section.tablecarousel {
  padding: 40px 0 40px 0;
  .slick-slider {
    margin: 0 -15px;
  }
  .headingText {
    .heading {
      font-weight: bold;
    }
  }
}

/*------Featured Categories
-------------------------------------*/

.featureCarouselbox {
  .slick-prev {
    left: -20px;
  }
  .slick-prev {
    right: -20px;
  }
  margin: 0 15px 15px 15px;
  padding-top: 0;
  .heading {
    font-weight: $font-bold;
    padding: 30px 0 50px 0;
    margin: 0;
    text-align: center;
    color: #505d68;
  }
  .Imgbox {
    padding: 0 0 10px 0;
    min-height: 174px;
    .imgfullwidth {
      width: 100%;
    }
  }
  .itemtext {
    .text {
      color: #000;
    }
    .leftbox {
      float: left;
      .bold {
        font-family: $font-bold;
        font-size: 16px;
      }
      .start_price {
        font-size: 11px;
        font-style: italic;
      }
    }
    .rightbox {
      float: right;
      font-size: 11px;
    }
  }
}

/*------------end-----*/

/*------------PLP Products-----*/
.no-padding {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.plpCategories {
  .plp-products {
    padding: 64px 0 60px 0;
    width: 1140px;
    margin: 0 auto;
  }
  .grid3 {
    display: flex;
    flex-wrap: wrap;
    .productlist {
      flex: 0 0 33.33%;

      &:nth-child(3n + 2) {
        border-left: none;
        border-right: none;
      }
      &:nth-child(n + 4) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    .productlist {
      flex: 0 0 50%;
      &:nth-child(2n + 2) {
        border-left: none;
      }
      &:nth-child(n + 3) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .headingTitle {
    font-family: $font-bold;
    font-size: 56px;
    color: $ceruleanblue;
    margin: 0;
  }
  .headingSubTitle {
    color: $colorLightGrey;
    margin: 0 0 15px 0;
    font-size: 14px;
  }
  .container {
    padding: 0 30px;
  }
  .plp-products {
    .productlist {
      padding: 0 0 16px 0;
      position: relative;
      border: 1px solid $borderLight;
      .hoverBox{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(3, 108, 197, 0.38);
        top: 0;
        left: 0;
        opacity:0;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        padding: 20px;
      

        .btn-compare{
          background: $colorwhite;
          color:$ashGrey;
          padding:12px 45px;
          text-align: center;
          font-size: 14px;
          border:none;
          font-family: $font-bold;
          width: 200px;
          height: 44px;
          left: 50%;
          top: 50%;
          margin-top: -22px;
          margin-left: -100px;
          position: absolute;
        }
      }
      &:hover .hoverBox{
       opacity: 1;
      }
      &:hover .wishlistBtn{
        opacity:1;
      }

      .featured-box {
        position: absolute;
        top: 0;
        left: 0;
        background: $black;
        color: $colorwhite;
        padding: 2px 10px;
        font-size: 12px;
        .ribbon_star {
          float: left;
          display: block;
          .star_img {
            margin: 3px 3px 0 0;
          }
        }
        .featured-text {
          float: left;
          display: block;
          margin: 2px 0 0 0;
        }
      }
      .wishlistBtn {
        position: absolute;
        right: 17px;
        top: 17px;
        background: transparent;
        border: none;
        z-index: 1;
        opacity: 0;
        &:focus {
          outline: none;
        }
      }
      .imgBox {
        position: relative;
        text-align: center;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
          display: block;

          .imgfullwidth {
            width: 100%;
            // max-height: 168px;
            display: block;
          }
        }
        .btn-outofStock {
          background-color: rgba(255, 255, 255, 0.8);
          border: 0.09rem solid $reddishpink;
          position: absolute;
          font-size: 14px;
          color: $black;
          padding: 8px 20px;
          transform: translate(-50%, -50%);
          font-family: $font-light;
          left: 50%;
          top: 50%;
        }
      }
      .product-text {
        text-align: center;
        .heading {
          position: relative;
          font-family: $font-bold;
          padding-top: 15px;
          font-size: 18px;
          text-transform: capitalize;
          &:after {
            position: absolute;
            width: 20px;
            height: 1px;
            background: $reddishpink;
            content: "";
            bottom: 0;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
          }
          .name,
          .description {
            display: block;
          }
          .name {
            font-family: $font-bold;
          }
          .description {
            font-family: $font-light;
            font-size: 11px;
          }
        }

        .text {
          color: $black;
          padding: 5px 0 0 0;
          line-height: 24px;
          margin: 0;
        }
        .price {
          font-weight: bold;
          .discount-price {
            font-size: 24px;
            font-family: $font-bold;
            color: $cerulean;
          }
          .priceno-discount {
            text-decoration: line-through;
            text-decoration-color: $reddishpink;
            font-family: $font-light;
            padding-left: 15px;
            font-size: 18px;
          }
        }
        .emi-text {
          color: $reddishpink;
          font-size: 12px;
          line-height: 16px;
          .free-accessories {
            display: block;
          }
          .bold {
            font-family: $font-bold;
          }
        }
      }
    }
  }
}

/** Descripton */
.descriptionBanner {
  background: $greybg;
  padding: 60px 0;

  .heading {
    font-family: $font-bold;
    font-size: 34px;
    color: $black;
    margin: 0 0 20px 0;
  }

  .readMore {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $black;
    font-size: 16px;
    font-family: $font-regular;
    text-align: left;
    margin: 24px 0;
    display: inline-block;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
}

.description_area .list {
  color: #767676;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.adBannerWidth {
  width: 100%;
  height: 100%;
}

//------------------- SORTING -------------------//
.filterWrapper {
  margin: 0 0 15px 0;

  position: relative;
  .filter {
    width: 84%;
    float: left;
    .heading {
      font-family: $font-bold;
      font-size: 14px;
      padding: 0 0 15px 0px;
      margin: 0;
    }
    .moreFilterBtn {
      float: left;
      background: transparent;
      border: 0;
      padding: 16px;
      color: $greyish;
      text-decoration: underline;
      font-size: 14px;
      font-family: $font-light;
      &:focus {
        outline: 0;
      }
    }

    .dropdown_filter {
      position: static;
      display: block;
      float: left;
      min-width: 200px;

      &__filter {
        background: $colorwhite;
        border: 1px solid $lightgrey;
        border-radius: 1px;
        z-index: 1;
        background: $colorwhite;

        &:last-child {
          border-right: 1px solid $lightgrey;
        }
      }
      &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #eee;
        border-radius: 3px;
      }

      &__list {
        background: $colorwhite;
        border: 1px solid $lightgrey;
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 2;
        padding: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
        // opacity: 0;
        visibility: hidden;
        max-width: 84%;
        left:0;
        .filterbtnWrapper {
          text-align: center;
        }

        &--active {
          max-height: 1000px;
          // opacity: 1;
          visibility: visible;
        }
        .list {
          display: inline-block;

          .input_box {
            margin: 0 15px 0 0;

            .inputCheck[type="checkbox"] {
              display: none;
            }

            /* Input Checkbox Radio
            -----------------------------*/
            .lblradio {
              position: relative;
              .circle {
                border-radius: 50%;
                width: 100%;
              }
              .circleRGB {
                // border: 2px solid $black;
                padding: 2px;
                height: 22px;
                border-radius: 50%;
                width: 100%;
              }
            }

            .inputCheck[type="checkbox"] + .lblradio {
              display: block;
              height: 22px;
              width: 22px;
            }
            .inputCheck[type="checkbox"]:checked + .lblradio {
              .circle {
                border: 2px solid $black;
                padding: 2px;
              }
            }

            /* Input Checkbox Squere
            -----------------------------*/
            .inputCheck[type="checkbox"] + .lblCheck {
              background: url("../../images/plpAssests/unchecked.jpg") left top no-repeat;
              display: inline;
              min-height: 16px;
              padding-left: 16px;
              background-size: contain;
            }

            .inputCheck[type="checkbox"]:checked + .lblCheck {
              background: url("../../images/plpAssests/checked.jpg") left top no-repeat;
              background-size: contain;
              padding-left: 16px;
            }
          }
          .label_text {
            padding: 0 30px 26px 0;
            color: $battleshipGrey;
            font-size: 12px;
            min-width: 170px;
          }
          .input_box,
          .label_text {
            display: inline-block;
          }
          .dropdown__list-item {
            display: flex;
            min-width: 160px;
          }
        }
      }

      &__list-item {
        cursor: pointer;
        list-style: none;
        padding: 15px;
        position: relative;
        display: flex;

        &--active {
          background: #f4f4f4;
        }

        &:hover {
          background: #f4f4f4;
        }

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 21px;
        }
      }

      &__toggle {
        &:hover {
          background: $colorwhite;
        }

        background: $colorwhite;
      }

      .filterbtnWrapper {
        padding: 30px 0 0 0;
        .btn {
          padding: 12px 60px;
          border-radius: 0;
        }
      }
      &__cancelBtn {
        border: solid 1px $black;
        background-color: $colorwhite;
      }

      &__applyBtn {
        margin-left: 15px;
        color: $colorwhite;
        background-color: $black;
        border: 1px solid $black;
      }
    }
  }
  /* Sorting Filter
  -----------------------------------------***/

  .sort {
    width: 15%;
    float: right;
    .heading {
      font-family: $font-bold;
      font-size: 14px;
      padding: 0 0 15px 15px;
      margin: 0;
    }

    .dropdown {
      position: relative;
      background: $colorwhite;
      z-index: 2;
      right: 0;
      width: 100%;

      .dropdowntoggle {
        border: 1px solid $lightGrey;

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 19px;
        }
      }
      .dropdownlist {
        border: 1px solid $lightGrey;
        border-top: none;
        top: 51px;
      }
      .dropdownlist.dropdownlistactive {
        top: 52px;
      }

      &arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgb(168, 27, 27);
        border-radius: 3px;
      }

      &list {
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        position: absolute;
        z-index: 1;
        width: 100%;

        &active {
          max-height: 1000px;
          opacity: 1;
        }
        .link {
          color: $battleshipGrey;
          text-decoration: none;
          &:hover {
            color: $cerulean;
            font-weight: 600;
          }
        }
      }

      &list-item {
        border-bottom: 1px solid $lightGrey;
        cursor: pointer;
        list-style: none;
        padding: 15px;
        background: $colorwhite;
        color: $battleshipGrey;
        font-weight: 600;

        &active {
          color: $ceruleanblue;
        }
      }

      &toggle {
        color: $greyish;
        &:hover {
          background: $colorwhite;
        }

        background: $colorwhite;
      }
    }
  }
}

//ImageLoader
@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

//Filter Keywords
.filter-keywords {
  padding: 24px 0 0 0;
}

//Filter Selection
.filterSelection_btn {
  padding: 9px 26px;
  height: 34px;
  border-radius: 2px;
  background-color: #eef8fe;
  position: relative;
  margin: 0 16px 12px 0;
  border: none;
  min-width: 100px;
  cursor: default;
  &:focus {
    border: none;
    outline: 0;
  }
}

.filterSelection_oval {
  width: 18px;
  height: 18px;
  border: solid 1px var(--light-blue-grey);
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid #d1d1d2;
  font-size: 12px;
  cursor: pointer;
}

//Lazy loading Indicator
.lazyloading-Indicator {
  text-align: center;
  padding: 0 0 60px 0;

  .loadingImg {
    animation: leaves 1s ease-in-out infinite alternate;
    -webkit-animation: leaves 1s ease-in-out infinite alternate;
    width: 65px;
    height: 65px;
  }

  @keyframes leaves {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}

.noProductFound {
  text-align: center;
  font-size: 16px;
  padding: 0 0 15px 0;
  color: #737272;
}

//-------- Wishlist -------
.addedToWishlist { 
  backdrop-filter: blur(10px);
  background:$black;
  animation: wishlistPopupAnimation 0.5s ease-in-out 0s forwards;
  padding: 16px 17px 16px 20px;
  margin: 24px 0 0 0;
  width: 80%;
  position: absolute;
  right: 20px;
  top: 20px;

  .wishlist-text, 
  .view-btn{
    font-size: 12px;
    color: $colorwhite;
  }
  .wishlist-text {    
    float:left;
    display: block;
  }

  .view-btn {       
    float:right;
    background: transparent;
    border:none; 
    &:focus{
      outline: none;
    }  
  }
}

@keyframes wishlistPopupAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 0.84;
    -webkit-transform: none;
    transform: none;
  }
}
