/* PLP
-------------------------------------------*/
@import "../app.scss";
@import "../base.scss";
@import "../variable.scss";
@import './rwdPLPContainer.scss';

$imgfullwid: 100%;

.list-style {
  padding: 13px;
  border-radius: 50%;
  display: inline-table;
  border: 1px solid $colorwhite;
  cursor: pointer;
  margin-right: 10px;
}

section.tablecarousel {
  padding: 0px 0 0px 0;
  .slick-slider {
    margin: 0 -15px;
    .slick-list{
      .slick-track{
        margin-bottom: 0px;
        &:empty {
          display: none;
       }
      }
    }
    .slick-dots{
        bottom:5px;
    }
  }
  .headingText {
    .heading {
      font-weight: bold;
    }
  }
}

/*----Search
------------------*/
.noResultfound {
  text-align: center;
  padding: 60px 0 0 0;
  .label-noresult {
    color: $greyBorder;
    font-size: $base * 3.75;
    padding: 0 0 16px 0;
    line-height: 30px;
    margin: 0;
  }
  .product-serchGuide {
    .label-text,
    .serchlist-button {
      display: inline;
      font-size: $base * 2.5;
      line-height: 20px;
    }
    .label-text {
      color: $black;
    }
    .searchitem-button {
      color: $cerulean;
      background: transparent;
      border: none;
      margin: 0 5px 0 0;
    }
  }
}

.Search-bestseller {
  .bestSeller {
    width: auto;
    margin: 80px auto;
    .title {
      text-align: left;
      color: $cerulean;
      font-size: $base * 3.75;
      margin: 0 0 44px 0;
      font-family: $font-bold;
    }
  }
}
/*------Featured Categories
-------------------------------------*/

.featureCarouselbox {
  .slick-prev {
    left: -20px;
  }
  .slick-prev {
    right: -20px;
  }
  margin: 0 15px 15px 15px;
  padding-top: 0;
  .heading {
    font-weight: $font-bold;
    padding: 30px 0 50px 0;
    margin: 0;
    text-align: center;
    color: #505d68;
  }
  .Imgbox {
    padding: 0 0 10px 0;
    min-height: 174px;
    .imgfullwidth {
      width: 100%;
    }
  }
  .itemtext {
    .text {
      color: #000;
    }
    .leftbox {
      float: left;
      .bold {
        font-family: $font-bold;
        font-size: $base * 2;
        min-height: 16px;
      }
      .start_price {
        font-size: $base * 1.375;
        font-style: italic;
      }
    }
    .rightbox {
      float: right;
      font-size: $base * 1.375;
    }
  }
}

/*------------end-----*/

/*------------PLP Products-----*/
.no-padding {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.plpCategories {
  .plp-products {
    margin: 0 auto;
  }
  .grid3 {
    .productlist {
      flex: 0 0 33.33%;

      &:nth-child(3n + 2) {
        border-left: none;
        border-right: none;
      }
      &:nth-child(n + 4) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    .productlist {
      flex: 0 0 50%;
      &:nth-child(2n + 2) {
        border-left: none;
      }
      &:nth-child(n + 3) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .headingTitle {
    font-family: $font-bold;
    color: $ceruleanblue;
    margin: 0;
  }
  .searchresult {
    .headingTitleFlat {
      font-family: $font-regular;
      color: $black;
      margin: 0;
    }
    .headingTitleSearch {
      font-family: $font-bold;
      font-size: $base * 3.75;
      color: $ceruleanblue;
      margin: 0;
    }
  }

  .headingSubTitle {
    color: $greyBorder;
  }
  .container {
    padding: 0 30px;
  }
  .plp-products {
    .productlist {
      position: relative;
      border: 1px solid $borderLight;
      .hoverBox {
        .inner-overlay{
          text-align: center;
        }
        .btn-compare {
          background: $colorwhite;
          color: $ashGrey;
          padding: 12px 45px;
          text-align: center;
          font-size: $base * 1.75;
          border: none;
          font-family: $font-bold;
          width: 200px;
          height: 44px;
          left: 50%;
          bottom: 124px;
          margin-top: 30px;
          margin-left: -100px;
          position: absolute;
        }
        .colorthemeNomore{
          text-align: center;
          width: 180px;
          height: 44px;
          left: 50%;
          top: 50%;
          margin-top: -75px;
          margin-left: -90px;
          position: absolute;         
        }
       .colortheme-Wrapper{
        text-align: center;
        width: 218px;
        height: 44px;
        left: 50%;
        top: 50%;
        margin-top: -75px;
        margin-left: -109px;
        position: absolute;       
      }
        ul.colortheme {         
          display: inline-block;          
          .list{           
            border-radius: 50%;
            display: inline-table;
            border: 2px solid #fff;
            cursor: pointer;
            margin: 0 10px 8px 0;
            text-align: center;
            .swatches-circle {
              display: block;
              padding: 5px;
              border-radius: 100%;
            }
          }

          .active {
            border: 2px solid $black;
            padding: 2px;
          }
          
        }
        .moreSwatch{
          border: none;
          background: transparent;
          color:$colorwhite;         
          width: 28%;
          float: right;
          display: block;
          padding: 3px 0 0 0;
          font-size: $base*1.75;
          &:focus{
            outline: none;
          }
        }
        
      

        .yellow {
          background: #f5a623;
        }
        .red-dirt {
          background: #8b572a;
        }
        .grey {
          background: #9b9b9b;
        }
        .blue {
          background: #4a90e2;
        }
      }
      &:hover .hoverBox {
        opacity: 1;
      }
      &:hover .wishlistBtn {
        opacity: 1;
      }

      .featured-box {
        position: absolute;
        top: 0;
        left: 0;
        background: $black;
        color: $colorwhite;
        padding: 2px 10px;
        font-size: $base * 1.5;
        .ribbon_star {
          float: left;
          display: block;
          .star_img {
            margin: 3px 3px 0 0;
          }
        }
        .featured-text {
          float: left;
          display: block;
          margin: 2px 0 0 0;
        }
      }
      .wishlistBtn {
        position: absolute;
        right: 17px;
        top: 17px;
        background: transparent;
        border: none;
        z-index: 1;
        &:focus {
          outline: none;
        }
      }
      .imgBox {
        position: relative;
        text-align: center;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
          display: block;

          .imgfullwidth {
            width: 100%;
            // max-height: 168px;
            display: block;
          }
        }
        .btn-outofStock {
          background-color: rgba(255, 255, 255, 0.8);
          border: 0.09rem solid $reddishpink;
          position: absolute;
          font-size: $base * 1.75;
          color: $black;
          padding: 8px 20px;
          transform: translate(-50%, -50%);
          font-family: $font-light;
          left: 50%;
          top: 50%;
        }
      }
      .product-text {
        text-align: center;
        .heading {
          position: relative;
          font-family: $font-bold;
          padding-top: 15px;
          text-transform: capitalize;
          &:after {
            position: absolute;
            width: 20px;
            background: $reddishpink;
            content: "";
            bottom: 0;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
          }
          .name,
          .description {
            display: block;
          }
          .name {
            font-family: $font-medium;
            font-size: $base*2.25;
            line-height: $base*2.25;;
            margin: 0;
          }
          .description {
            font-family: $font-regular;
          }
        }

        .text {
          color: $black;
          padding: 5px 0 0 0;
          margin: 0;
        }
        .price {
          font-weight: bold;
          .discount-price {
            font-family: $font-bold;
            color: $cerulean;
          }
          .priceno-discount {
            text-decoration: line-through;
            text-decoration-color: $reddishpink;
            font-family: $font-regular;
            padding-left: 15px;
            font-size: $base * 2.25;
            color:$greylightColor;
          }
        }
        .emi-text {
          color: $reddishpink;
          font-size: $base * 1.5;
          line-height: 16px;
          .free-accessories {
            display: block;
          }
          .bold {
            font-family: $font-bold;
          }
        }
      }
    }
  }
}

.description_area .list {
  color: #767676;
  margin: 0 0 10px 0;
  font-size: $base * 1.75;
}

.adBannerWidth {
  width: 100%;
  height: 100%;
}

//------------------- SORTING -------------------//
.filterWrapper {
  margin: 0 0 15px 0;

  position: relative;
  .filter {
    width: 80%;
    float: left;
    .heading {
      font-family: $font-bold;
      font-size: $base * 1.75;
      padding: 0 0 15px 0px;
      margin: 0;
      text-transform: uppercase;
    }
    .moreFilterBtn {
      float: left;
      background: transparent;
      border: 0;
      padding: 16px;
      color: $greyish;
      text-decoration: underline;
      font-size: $base * 1.75;
      font-family: $font-light;
      &:focus {
        outline: 0;
      }
    }

    .dropdown_filter {
      position: static;
      display: block;
      float: left;
      min-width: 17%;

      &__filter {
        background: $colorwhite;
        border: 1px solid $lightgrey;
        border-radius: 1px;
        z-index: 1;
        background: $colorwhite;
        margin-left: -1px;

        &:last-child {
          border-right: 1px solid $lightgrey;
        }
      }
      &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #eee;
        border-radius: 3px;
      }

      &__list {
        background: $colorwhite;
        border: 1px solid $lightgrey;
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        margin: -1px 0px 0px 0px;
        padding: 0;
        position: absolute;
        z-index: 2;
        padding: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
        // opacity: 0;
        visibility: hidden;
        max-width: 84%;
        left: 0;
        .filterbtnWrapper {
          text-align: center;
        }

        &--active {
          max-height: 1000px;
          // opacity: 1;
          visibility: visible;
        }
        .list {
          // display: inline-block;
          display: block;
          float: left;

          .input_box {
            margin: 0 15px 0 0;

            .inputCheck[type="checkbox"] {
              display: none;
            }

            /* Input Checkbox Radio
            -----------------------------*/
            .lblradio {
              position: relative;
              .circle {
                border-radius: 50%;
                height: 22px;
                width: 22px;
                padding: 2px;
              }
              .circlebox {
                height: 28px;
                width: 28px;
                background: $colorwhite;
                border: 2px solid $colorwhite;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                padding: 2px;
                margin-top:-5px;

                .circleRGB {
                  border-radius: 50%;
                  height: 20px;
                  width: 20px;
                  padding: 2px;
                  display: block;
                }
              }
            }

            .inputCheck[type="checkbox"] + .lblradio {
              display: block;
              height: 22px;
              width: 22px;
            }
            .inputCheck[type="checkbox"]:checked + .lblradio {
              .circle {
                border: 2px solid $black;
                padding: 2px;
              }

              .circlebox {
                border: 2px solid $black;
                padding: 2px;
              }
            }

            /* Input Checkbox Squere
            -----------------------------*/
            .inputCheck[type="checkbox"] + .lblCheck {
              background: url("../../images/plpAssests/unchecked.jpg") left top no-repeat;
              display: inline;
              min-height: 16px;
              padding-left: 16px;
              background-size: contain;
            }

            .inputCheck[type="checkbox"]:checked + .lblCheck {
              background: url("../../images/plpAssests/checked.jpg") left top no-repeat;
              background-size: contain;
              padding-left: 16px;
            }
          }
          .label_text {
            padding: 0px 30px 23px 0;
            color: $battleshipGrey;
            font-size: $base * 1.5;
            min-width: 170px;
            display: flex !important;
            align-items: center;
          }
          .label_text_disable {
            padding: 0 30px 26px 0;
            color: #c9c9c9;
            font-size: $base * 1.5;
            min-width: 170px;
          }
          .input_box,
          .label_text {
            display: inline-block;
          }
          .dropdown__list-item {
            display: flex;
            min-width: 160px;
          }
        }
      }

      &__list-item {
        cursor: pointer;
        list-style: none;
        padding: 15px;
        position: relative;
        display: flex;
        font-size: $base*1.75;
        font-family: $font-medium;

        &--active {
          background: #f4f4f4;
        }

        &:hover {
          background: #f4f4f4;
        }

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 21px;
        }
      }

      &__toggle {
        &:hover {
          background: $colorwhite;
        }

        background: $colorwhite;
      }

      .filterbtnWrapper {
        padding: 22px 0 0 0;
        .btn {
          padding: 12px 60px;
          border-radius: 0;
        }
      }
      &__cancelBtn {
        border: solid 1px $black;
        background-color: $colorwhite;
      }

      &__applyBtn {
        margin-left: 15px;
        color: $colorwhite;
        background-color: $black;
        border: 1px solid $black;
      }
    }
  }
  /* Sorting Filter
  -----------------------------------------***/

  .sort {
    width: 17%;
    float: right;
    .heading {
      font-family: $font-bold;
      font-size: $base * 1.75;
      padding: 0 0 15px 15px;
      margin: 0;
      text-transform: uppercase;
    }

    .dropdown {
      position: relative;
      background: $colorwhite;
      z-index: 2;
      right: 0;
      width: 100%;

      .dropdowntoggle {
        border: 1px solid $lightGrey;

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 19px;
        }
      }
      .dropdownlist {
        border: 1px solid $lightGrey;
        border-top: none;
        top: 51px;
      }
      .dropdownlist.dropdownlistactive {
        top: 52px;
      }

      &arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgb(168, 27, 27);
        border-radius: 3px;
      }

      &list {
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        position: absolute;
        z-index: 1;
        width: 100%;

        &active {
          max-height: 1000px;
          opacity: 1;
        }
        .link {
          color: $battleshipGrey;
          text-decoration: none;
          &:hover {
            color: $cerulean;
            font-weight: 600;
          }
        }
      }

      &list-item {
        border-bottom: 1px solid $lightGrey;
        cursor: pointer;
        list-style: none;
        padding: 15px;
        background: $colorwhite;
        color: $battleshipGrey;
        font-weight: normal;
        font-size: $base*1.75;
        font-family: $font-medium;

        &active {
          color: $ceruleanblue;
        }
      }

      &toggle {
        color: $greyish;
        &:hover {
          background: $colorwhite;
        }

        background: $colorwhite;
      }
    }
  }
}

//ImageLoader
@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

//Filter Keywords
.filter-keywords {
  padding: 24px 0 0 0;
}

//Filter Selection
.filterSelection_btn {
  padding: 11px 0px;
  height: 34px;
  border-radius: 2px;
  background-color: #eef8fe;
  position: relative;
  margin: 0 13px 12px 0;
  border: none;
  min-width: 125px;
  font-size:$base* 1.5;
  line-height:$base* 1.5;
  font-family: $font-medium;
  color:$greyish;
  cursor: default;
  &:focus {
    border: none;
    outline: 0;
  }
}

.filterSelection_oval {
  width: 18px;
  height: 18px; 
  background-color:$colorwhite;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid $lightblueGrey;
  font-size: $base * 1.5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .crossImg{
    width:10px;
    height:10px;
  }
}

//Lazy loading Indicator
.lazyloading-Indicator {
  text-align: center;
  padding: 0 0 60px 0;
  min-height: 50vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .loadingImg {
    animation: leaves 1s ease-in-out infinite alternate;
    -webkit-animation: leaves 1s ease-in-out infinite alternate;
    width: 65px;
    height: 65px;
  }

  @keyframes leaves {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}

.noProductFound {
  text-align: center;
  font-size: $base * 2;
  padding: 0 0 15px 0;
  color: $greycolor;
}

//-------- Wishlist -------
.addedToWishlist {
  backdrop-filter: blur(10px);
  background: $black;
  animation: wishlistPopupAnimation 0.5s ease-in-out 0s forwards;
  padding: 16px 17px 16px 20px;
  margin: 24px 0 0 0;
  width: 80%;
  position: absolute;
  right: 20px;
  top: 20px;

  .wishlist-text,
  .view-btn {
    font-size: $base * 1.5;
    color: $colorwhite;
  }
  .wishlist-text {
    float: left;
    display: block;
  }

  .view-btn {
    float: right;
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

@keyframes wishlistPopupAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 0.84;
    -webkit-transform: none;
    transform: none;
  }
}

/* 
  #Screen 1281px to higher resolution desktops, Device = Desktops
*/
@include mix-xl{
  .plpCategories{
    .grid3 {
      display: flex;
      flex-wrap: wrap;
    }
    .plp-products {
      width: 1140px;
    }
  } 
}

/* 
  #Screen B/w 1025px to 1280px, Device = Laptops, Desktops
*/
@include mix-md-lg {
  .plpCategories{
    .grid3 {
      display: flex;
      flex-wrap: wrap;
    }
    .plp-products {
      width: 1140px;
    }
  } 
}

/* 
#Global Screen Chhange for Screen Laptops, Desktops
*/
@include mix-lg{
  /** Descripton */
  .descriptionBanner {
    background: $greybg;
    padding: 60px 0;

    .heading {
      font-family: $font-bold;
      font-size: $base * 4.25;
      color: $black;
      margin: 0 0 20px 0;
    }

    .readMore {
      background: transparent;
      border: none;
      text-decoration: underline;
      color: $black;
      font-size: $base * 2;
      font-family: $font-regular;
      text-align: left;
      margin: 24px 0;
      display: inline-block;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }
  }


  .plpCategories {
    .plp-products {
      padding: 20px 0 60px 0;
      .productlist{
        padding: 0 0 16px 0;
        .product-text{
          .heading{
            font-size: $base * 1.5;
            .description{
              font-size: 11px;
            }
            &:after {
              height: 1px;
            }
          }
          .price{
            .discount-price{
              font-size: $base * 3;
              line-height: $base * 3;
            }
          }
          .text {
            line-height: 24px;
          }
        }
        &:hover .hoverBox {
          opacity: 1;
        }
        &:hover .wishlistBtn {
          opacity: 1;
        }
      } 
     
      .wishlistBtn{
        opacity: 0;
      }
      .hoverBox{
        padding: 20px;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(3, 108, 197, 0.38);
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; 
        ul.colortheme {
          text-align: center;
          width: 218px;
          height: 44px;
          left: 50%;
          top: 50%;
          margin-top: -75px;
          margin-left: -109px;
          position: absolute;
          .list{
            .swatches-circle{
              width: 24px;
              height: 24px;
            }
          } 
        }
      }
    }
    .headingTitle{
      font-size: $base * 7;
      line-height: $base * 7;
      margin:40px 0 0 0;
    }
    .headingSubTitle{
      padding: 0 0 32px 0;
      font-size: $base * 2.25;
    }
    .searchresult {
      .headingTitleFlat{
        padding: 73px 0 16px 0;
        font-size: $base * 3.75;
      }
    }
  }
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads
*/
@include mix-md-ipad{
  .filterWrapper{
    .filter{
      width:79%;
      .dropdown_filter{
        min-width: 160px;
        margin-top:-1px;
      }
    }
    .sort{
      width: 21%;
    } 
  } 
}

/* 
  #Screen B/w 768px to 1024px, Device = Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

 /* 
    #Global Screen Chhange for Screen max 992
  */
  @include mix-md{
  /** Descripton */
  .descriptionBanner {
    background: $greybg;
    padding: 60px 0;

    .heading {
      font-family: $font-bold;
      font-size: $base * 2.25;
      color: $black;
      margin: 0 0 20px 0;
    }
    .description_area {
      p {
        color: $greyLight;
        font-size: 11px;
        font-family: $font-regular;
        line-height: 18px;
      }
    }
    .readMore {
      background: transparent;
      border: none;
      text-decoration: underline;
      color: $black;
      font-size: $base * 1.5;
      font-family: $font-medium;
      text-align: left;
      margin: 24px 0 0px 0px;
      display: inline-block;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }
  }

  .plpCategories {
    .plp-products {
      padding: 0px 0 60px 0;
      .productlist{
        padding: 0 0 8px 0;
        .product-text{
          .heading{
            font-size: $base * 1.75;
            .description{
              font-size: 10px;
              color: $greyBorder;
            }
            .name{
              font-size: $base * 1.75;
            }
            &:after {
              height: 2px;
            }
          }
          .price{
            .discount-price, .priceno-discount{
              font-size: 13px;
            }
          }
          .text {
            line-height: 18px;
          }
          .emi-text{
            border-top:1px solid $borderLight;
            width: 85%;
            margin: auto;
            margin-top: 5px;
            .free-accessories{
              font-size: 10px;
              line-height: 14px;
            }
            &:empty{
              display: none;
            }
          }
        }
        .addedToWishlist{
          width: 100%;
          position: fixed;
          bottom: 58px;
          top: initial;
          left: 0;
          right: 0;
          z-index: 9;
        }
      } 
      .hoverBox{
        padding:5px 20px;
        .btn-compare{
          display:none;
        }
        ul.colortheme{
          .list{
            .swatches-circle{
              width: 13px;
              height: 13px;
            }
          } 
        } 
      }
    }
    .headingTitle{
      font-size: $base * 3;
      margin-top: 10px;
    }
    .headingSubTitle{
      padding: 0px;
      font-size: $base * 1.5;
    }
    .searchresult {
      .headingTitleFlat{
        padding: 20px 0 16px 0;
        font-size: $base * 2.75;
      }
    }
  }
  section.tablecarousel{
    .slick-slider{
      .slick-dots{
        bottom: -13px;
      }
    }
  } 
 
}



/* 
  #Screen B/w 481px to 767px, Device = Low Resolution Tablets, Mobiles (Landscape)
*/
@media (min-width: 481px) and (max-width: 767px) {
  //CSS
  
  .sort {
    width: 50%;
  }
}

/* 
  #Screen B/w 320px to 479px, Device = Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) {
}
