/* PLP
-------------------------------------------*/
@import "../app.scss";
@import '../base.scss';
@import '../variable.scss';
$imgfullwid: 100%;

.list-style {
  padding: 13px;
  border-radius: 50%;
  display: inline-table;
  border: 1px solid $colorwhite;
  cursor: pointer;
  margin-right: 10px;
}


section.tablecarousel {
  padding: 40px 0 40px 0;
  .slick-slider {
    margin: 0 -15px;
  }
  .headingText {
    .heading {
      font-weight: bold;
    }
  }
}

/*------Featured Categories
-------------------------------------*/

.featureCarouselbox {
  .slick-prev {
    left: -20px;
  }
  .slick-prev {
    right: -20px;
  }
  margin: 0 15px 15px 15px;
  padding-top: 0;
  .heading {
    font-weight: $font-bold;
    padding: 30px 0 50px 0;
    margin: 0;
    text-align: center;
    color: #505d68;
  }
  .Imgbox {
    padding: 0 0 10px 0;
    .imgfullwidth {
      width: 100%;
    }
  }
  .itemtext {
    .text {
      color: #000;
    }
    .leftbox {
      float: left;
      .bold {
        font-family: $font-bold;
        font-size: 16px;
      }
      .start_price {
        font-size: 11px;
        font-style: italic;
      }
    }
    .rightbox {
      float: right;
      font-size: 11px;
    }
  }
}

/*------------end-----*/

/*------------PLP Products-----*/
.no-padding {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }  
}

.plpCategories {
  .grid3{
    display: flex;
    flex-wrap: wrap;
    .productlist{
     flex: 0 0 33%;        

      &:nth-child(3n+2){
        border-left:none;
        border-right:none
      }     
      &:nth-child(n + 4){border-top:none;}  
      &:last-child{
        border-right:1px solid $borderLight;
      }  
     }
  }
  .grid2{
    display: flex;
    flex-wrap: wrap;
    .productlist{
      flex: 0 0 50%;  
      &:nth-child(2n+2){
        border-left:none;        
      }     
      &:nth-child(n + 3){border-top:none;}  
      &:last-child{
        border-right:1px solid $borderLight;
      } 
     }
  }
  .headingTitle{
      font-family: $font-bold;
      font-size: 50px;
      color:$ceruleanblue;
      margin: 0;
  }
  .headingSubTitle{
    color: $colorLightGrey;
    margin: 0 0 15px 0;
    font-size: 13px;
  }
 .container{ padding:0 30px;}
 .plp-products{
  .productlist {    
    padding: 20px;
    position: relative;
    border:1px solid $borderLight;  

    .featured-box{ 
      position: absolute;
      top:0;
      left:0;
      background:$black;
      color: $colorwhite;
      padding:2px 10px;
      font-size:12px;
      .ribbon_star{ 
        float: left;
        display: block;
        .star_img{
          margin: 3px 3px 0 0;
        }
      }
      .featured-text{
        float: left;
        display: block;
        margin: 2px 0 0 0;
      }
    }   
    .imgBox{
      position: relative;
      text-align: center;
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
       .link{
         display:block;
       
      .imgfullwidth{
        max-width: 100%;        
        max-height: 168px;
        display: block;
        
      }
    }
      .btn-outofStock{ 
        background-color: rgba(255, 255, 255, 0.8);
        border:0.09rem solid $reddishpink;
        position: absolute;
        font-size: 14px;
        color:$black;
        padding: 8px 20px;
        transform: translate(-50%, -50%);
        font-family:$font-light;
        left: 50%;
        top: 50%;       
      }
    }
    .product-text {
      text-align: center;
      .heading {
        position: relative;
        font-family: $font-bold;
        padding-top: 15px;
        font-size: 14px;
        text-transform: capitalize;       
        &:after {
          position: absolute;
          width: 20px;
          height: 1px;
          background: $reddishpink;
          content: '';
          bottom: 0;
          margin: 0 auto;
          display: block;
          left: 0;
          right: 0;
      }
    }
    .text{
      color:$black;      
      padding: 5px 0 0 0;
      line-height: 24px;
      margin: 0;
    }
  .price {
    font-weight: bold;
    .discount-price {
      font-size: 18px;
      font-family: $font-bold;
      color:$cerulean;
  }
  .priceno-discount {
    text-decoration: line-through;
    text-decoration-color: $reddishpink;
    font-family: $font-light;
    padding-left: 15px;
    font-size: 18px;
  }
}
  .emi-text {
    color: $reddishpink;
    font-size: 12px;
    line-height: 16px;
    .free-accessories{display:block;}
    .bold{
      font-family: $font-bold;
    }
  }
}
   
    
  }

}
  
}


/** Descripton */
.descriptionBanner {
  background: $colorwhite;
  padding: 60px 0;

  .heading {
    font-family: $font-bold;
    font-size: 34px;
    color: $black;
    margin: 0 0 20px 0;
  }

  .readMore {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $black;
    font-size: 16px;
    font-family: $font-regular;
    margin: 24px 0;
    display: inline-block;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:active{
      outline: none;
    }
  }
}

.description_area .list {
  color: #767676;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.adBannerWidth {
  width: 100%;
  height: 100%;
}
