/* PLP
-------------------------------------------*/
@import "../app.scss";
@import "../base.scss";
@import "../variable.scss";
$imgfullwid: 100%;

.list-style {
  padding: 13px;
  border-radius: 50%;
  display: inline-table;
  border: 1px solid $colorwhite;
  cursor: pointer;
  margin-right: 10px;
}

section.tablecarousel {
  padding: 40px 0 40px 0;
  .slick-slider {
    margin: 0 -15px;
  }
  .headingText {
    .heading {
      font-weight: bold;
    }
  }
}

/*------Featured Categories
-------------------------------------*/

.featureCarouselbox {
  .slick-prev {
    left: -20px;
  }
  .slick-prev {
    right: -20px;
  }
  margin: 0 15px 15px 15px;
  padding-top: 0;
  .heading {
    font-weight: $font-bold;
    padding: 30px 0 50px 0;
    margin: 0;
    text-align: center;
    color: #505d68;
  }
  .Imgbox {
    padding: 0 0 10px 0;
    min-height: 174px;
    .imgfullwidth {
      width: 100%;
    }
  }
  .itemtext {
    .text {
      color: #000;
    }
    .leftbox {
      float: left;
      .bold {
        font-family: $font-bold;
        font-size: 16px;
      }
      .start_price {
        font-size: 11px;
        font-style: italic;
      }
    }
    .rightbox {
      float: right;
      font-size: 11px;
    }
  }
}

/*------------end-----*/

/*------------PLP Products-----*/
.no-padding {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.plpCategories {  
  .plp-products{
    padding:64px 0 0 0;
  }
  .grid3 {
    display: flex;
    flex-wrap: wrap;
    .productlist {
      flex: 0 0 33.33%;

      &:nth-child(3n + 2) {
        border-left: none;
        border-right: none;
      }
      &:nth-child(n + 4) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    .productlist {
      flex: 0 0 50%;
      &:nth-child(2n + 2) {
        border-left: none;
      }
      &:nth-child(n + 3) {
        border-top: none;
      }
      &:last-child {
        border-right: 1px solid $borderLight;
      }
    }
  }
  .headingTitle {
    font-family: $font-bold;
    font-size: 50px;
    color: $ceruleanblue;
    margin: 0;
  }
  .headingSubTitle {
    color: $colorLightGrey;
    margin: 0 0 15px 0;
    font-size: 13px;
  }
  .container {
    padding: 0 30px;
  }
  .plp-products {
    .productlist {
      padding: 20px;
      position: relative;
      border: 1px solid $borderLight;

      .featured-box {
        position: absolute;
        top: 0;
        left: 0;
        background: $black;
        color: $colorwhite;
        padding: 2px 10px;
        font-size: 12px;
        .ribbon_star {
          float: left;
          display: block;
          .star_img {
            margin: 3px 3px 0 0;
          }
        }
        .featured-text {
          float: left;
          display: block;
          margin: 2px 0 0 0;
        }
      }
      .imgBox {
        position: relative;
        text-align: center;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
          display: block;

          .imgfullwidth {
            max-width: 100%;
            max-height: 168px;
            display: block;
          }
        }
        .btn-outofStock {
          background-color: rgba(255, 255, 255, 0.8);
          border: 0.09rem solid $reddishpink;
          position: absolute;
          font-size: 14px;
          color: $black;
          padding: 8px 20px;
          transform: translate(-50%, -50%);
          font-family: $font-light;
          left: 50%;
          top: 50%;
        }
      }
      .product-text {
        text-align: center;
        .heading {
          position: relative;
          font-family: $font-bold;
          padding-top: 15px;
          font-size: 14px;
          text-transform: capitalize;
          &:after {
            position: absolute;
            width: 20px;
            height: 1px;
            background: $reddishpink;
            content: "";
            bottom: 0;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
          }
          .name,.description{
            display: block;
          }
          .name{
            font-family:$font-bold;
          }
          .description{
            font-family: $font-light;
            font-size: 11px;
          }
        }
        

        
        .text {
          color: $black;
          padding: 5px 0 0 0;
          line-height: 24px;
          margin: 0;
        }
        .price {
          font-weight: bold;
          .discount-price {
            font-size: 18px;
            font-family: $font-bold;
            color: $cerulean;
          }
          .priceno-discount {
            text-decoration: line-through;
            text-decoration-color: $reddishpink;
            font-family: $font-light;
            padding-left: 15px;
            font-size: 18px;
          }
        }
        .emi-text {
          color: $reddishpink;
          font-size: 12px;
          line-height: 16px;
          .free-accessories {
            display: block;
          }
          .bold {
            font-family: $font-bold;
          }
        }
      }
    }
  }
}

/** Descripton */
.descriptionBanner {
  background: $colorwhite;
  padding: 60px 0;

  .heading {
    font-family: $font-bold;
    font-size: 34px;
    color: $black;
    margin: 0 0 20px 0;
  }

  .readMore {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $black;
    font-size: 16px;
    font-family: $font-regular;
    margin: 24px 0;
    display: inline-block;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
}

.description_area .list {
  color: #767676;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.adBannerWidth {
  width: 100%;
  height: 100%;
}

//------------------- SORTING -------------------//
.filterWrapper{
  margin: 0 0 15px 0;  
  
  position: relative;
  .filter{
    width: 84%;
    float: left;
    .heading{
      font-family: $font-bold;
      font-size: 14px;
      padding: 0 0 15px 0px;
      margin: 0;
    }

    .dropdown_filter {
      position: relative;      
      &__filter {
        float: left;   
        background:$colorwhite;
        border: 1px solid $lightgrey;
        border-radius: 1px;
        max-width: 181px;
        z-index: 1;
        width: 50%;
        background: $colorwhite;  

        &:last-child{
          border-right: 1px solid $lightgrey;
        }

      }
      &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #eee;
        border-radius: 3px;
      }

      &__list {   
        background:$colorwhite;
        border: 1px solid $lightgrey;
        top: 51px;    
        transition: max-height 0.2s ease-out;        
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;    
        position: absolute;
        z-index: 1;
        padding:20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
        // opacity: 0;
        visibility: hidden;
        .filterbtnWrapper{
          text-align: center;
        }

        &--active {
          max-height: 1000px;
          // opacity: 1;
          visibility: visible;
        }
        .list{
          display:inline-block;        

          .input_box{
            margin:0 15px 0 0;   

              .inputCheck[type=checkbox] {
                display: none;
              }     
              
            /* Input Checkbox Radio
            -----------------------------*/
              .lblradio{
                position: relative;
                .circle{
                  border-radius: 50%;
                  width:100%;
                }  
              }

              .inputCheck[type=checkbox] + .lblradio {            
                display: block;
                height: 22px;
                width: 22px;  
              }
              .inputCheck[type=checkbox]:checked + .lblradio{
                .circle{
                  border:2px solid $black;
                  padding:2px;
                }                
              }
              
            /* Input Checkbox Squere
            -----------------------------*/
            .inputCheck[type=checkbox] + .lblCheck {
              background: url('../../images/unchecked.jpg') left top no-repeat;
              display: inline;
              min-height: 16px;
              padding-left: 16px;
            }
            
            .inputCheck[type=checkbox]:checked + .lblCheck {
              background: url('../../images/checked.jpg') left top no-repeat;
              padding-left: 16px;
            }          

          }  
          .label_text{
            padding: 0 30px 26px 0;
            color:$battleshipGrey;
          }        
          .input_box,.label_text{
            display:inline-block;
          }
          .dropdown__list-item{
            display: flex;
            min-width: 160px;
          }
        }
      }

      &__list-item {   
        cursor: pointer;
        list-style: none;
        padding: 15px;
        position: relative;
        display: flex;

        &--active {
          background: #f4f4f4;
        }

        &:hover {
          background: #f4f4f4;
        }

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 21px;          
        }
      }

      &__toggle {
        &:hover {
          background:$colorwhite;
        }

        background: $colorwhite;
      }

      .filterbtnWrapper{
        padding:30px 0 0 0;
        .btn{
          padding:12px 60px;
          border-radius: 0;
        }
      }
      &__cancelBtn {        
        border: solid 1px $black;
        background-color: $colorwhite;
      }

      &__applyBtn {
        margin-left: 15px;
        color:$colorwhite;       
        background-color: $black;
        border: 1px solid $black;
      }
    }

  }
  /* Sorting Filter
  -----------------------------------------***/

  .sort{
    width:15%;    
    float:right;
    .heading{
      font-family: $font-bold;
      font-size: 14px;
      padding: 0 0 15px 15px;
      margin: 0;
    }

    .dropdown {   
        position: relative;
        background: $colorwhite;        
        z-index: 1;
        right: 0;
        width: 100%;
      
      .dropdowntoggle{
        border: 1px solid $lightGrey;

        .dropdownArrow {
          width: 11px;
          height: 11px;
          position: absolute;
          right: 14px;
          top: 19px;          
        }

      }
      .dropdownlist {
        border: 1px solid $lightGrey;
        border-top: none;
        top: 51px;
      } 
      .dropdownlist.dropdownlistactive{
        top:52px;
      }    
      
      &arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid rgb(168, 27, 27);
        border-radius: 3px;
      }
      
      &list {        
        transition: max-height 0.2s ease-out;          
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        position: absolute;
        z-index: 1;
        width: 100%;
        
    
        &active {
          max-height: 1000px;
          opacity: 1;
        }
        .link{
          color:$battleshipGrey;
          text-decoration: none;
          &:hover{
            color:$cerulean;
            font-weight: 600;
          }
        }
      }
      
      &list-item {
        border-bottom: 1px solid $lightGrey;
        cursor: pointer;
        list-style: none;
        padding: 15px;
        background: $colorwhite;
        color:$battleshipGrey;
        font-weight: 600;
    
        &active {           
          color:$ceruleanblue;
        }      
        
        
      }
      
      &toggle {
        color:$greyish;
        &:hover {
          background:$colorwhite;
        }
    
        background:$colorwhite;
      }
    }
   
  }
}


//ImageLoader
@keyframes fadeInImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}

.img-loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

//Filter Keywords
.filter-keywords {
  padding: 24px 0 0 0;
}

//Filter Selection
.filterSelection_btn {
  padding: 9px 26px;
  height: 34px;
  border-radius: 2px;
  background-color: #eef8fe;
  position: relative;
  margin: 0 16px 12px 0;
  border: none;
  min-width: 100px;
  cursor: default;
  &:focus{
    border:none;
    outline: 0;
  }
}

.filterSelection_oval {
  width: 18px;
  height: 18px;
  border: solid 1px var(--light-blue-grey);
  background-color: #ffffff;
  position: absolute;
  top: -8px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid #d1d1d2;
  font-size: 12px;
  cursor: pointer;
}

