@import "../app.scss";
@import "../base.scss";
@import "../variable.scss";

.sortfilter {
  text-align: center;
  background:$colorwhite;
  position: fixed;
  width: 100%;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.32);
  z-index: 101;
  bottom: 0;

  .sortBy {
    background-color:$colorwhite;
    width: 50%;
    float: left;
    border: 0px;
    padding: 15px 0px;
    font-size: $base*2;
    .sortbyicon{
      width:$base*2;
    }
  }

  .filterBy {
    background-color:$colorwhite;
    width: 50%;
    float: right;
    border: 0px;
    padding: 15px 0px;
    font-size: $base*2;
    .filterbyicon{
      width:17px;
    }
  }
}

.sortOutterCont {
  height: 100%;
  width: 100%;
  background-color: #0000006e;
  position: fixed;
  bottom: 53px;
  z-index: 100;

  .sortInnerCont {
    height: 260px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;

    .sortTxt {
      color: #4a90e2;
      float: left;
      margin: 15px 0px 15px 20px;
    }

    .sortCancelBtn {
      color: $black;
      float: right;
      background: none;
      border: 0px;
      margin: 15px 22px 0px 0px ;
      font-size: 14px;
      .sortByCloseIcon{
        width: 15px;
      }
    }

    .sortLi {
      padding: 15px 20px 15px 20px;
      text-align: left;
      color: $ashGrey;
      font-size: 14px;
    }

    .active {
      background-color: #f7f8f8;

      .sortSelectionImg {
        margin: 0px;
        float: right;
      }
    }
  }
}

.filterOutterCont {
  height: 100%;
  width: 100%;
  background-color: $colorwhite;
  position: fixed;
  bottom: 45px;
  z-index: 100;

.filter-data{
  height: calc(100% - 103px);
  overflow: auto;
  width: 100%;
}

.lazyloading-Indicator-RWDFilter{
    text-align: center;
    padding: 0 0 60px 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    background-color: #d6d6d66e;

    .loadingImg {
      animation: leaves 1s ease-in-out infinite alternate;
      -webkit-animation: leaves 1s ease-in-out infinite alternate;
      width: 65px;
      height: 65px;
    }
}


  .filterHeader {
    height: 95px;
    width: 100%;
    float:left;
    border-bottom: 1px solid $lightgrey;

    .filterTxt {
      color: #036cc5;
      font-size: 14px;
      float: left;
      width: 20%;
      text-align: left;
      margin: 64px 0px 0px 8px;
     font-family: $font-bold;
    }

    .clearTxt {
      color: $black;
      font-size: 12px;
      float: right;
      text-align: left;
      margin: 64px 15px 0px 8px;
      font-family: $font-regular;
    }

    &::after {
      content: " ";
      position: absolute;
      height: 1px;
      background: $lightblueGrey;
      left: 0px;
      width: 100%;
      bottom: 0px;
    }
  }

  .filterFooter {
    &::before {
      content: " ";
      position: absolute;
      height: 1px;
      background: $lightblueGrey;
      left: 0px;
      width: 100%;
      top: 0px;
    }

    height: 55px;
    width: 100%;
    position: fixed;
    bottom: 0;

    .cancelBtn {
      color: $black;
      font-size: 14px;
      float: left;
      width: 18%;
      text-align: center;
      margin: 0px;
      height: inherit;
      background-color: $colorwhite;
    }

    .applyBtn {
      color: white;
      font-size: 14px;
      float: left;
      width: 19%;
      text-align: center;
      margin: 0px;
      background-color: $black;
      height: inherit;
    }
  }

  .mainFilter {
    height: 31.3%;
    width: 15%;
    position: fixed;
    bottom: 2.7%;
    background-color:$greybg;

    .facetList {
      padding: 20px;
      text-align: left;
    }
  }

  .filterFacetName {
    height: 31.3%;
    width: 22%;
    position: fixed;
    bottom: 2.7%;
    right: 63%;
    background-color: $colorwhite;

    .facetList {
      padding: 20px;
      text-align: left;
      display: inline-block;
    }

    .input_box {
      margin: 0 15px 0 0;

      .inputCheck[type="checkbox"] {
        display: none;
      }

      /* Input Checkbox Radio
      -----------------------------*/
      .lblradio {
        position: relative;
        .circle {
          border-radius: 50%;
          height: 22px;
          width: 22px;
          padding: 2px;
        }
        .circlebox {
          height: 28px;
          width: 28px;
          background: $colorwhite;
          border: 2px solid $colorwhite;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          padding: 2px;
          

          .circleRGB {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            padding: 2px;
            display: block;
          }
        }
      }

      .inputCheck[type="checkbox"] + .lblradio {
        display: block;
        height: 22px;
        width: 22px;
      }
      .inputCheck[type="checkbox"]:checked + .lblradio {
        .circle {
          border: 2px solid $black;
          padding: 2px;
        }

        .circlebox {
          border: 2px solid $black;
          padding: 2px;
        }
      }

      /* Input Checkbox Squere
      -----------------------------*/
      .inputCheck[type="checkbox"] + .lblCheck {
        background: url("../../images/plpAssests/unchecked.jpg") left top no-repeat;
        display: inline;
        min-height: 16px;
        padding-left: 16px;
        background-size: contain;
      }

      .inputCheck[type="checkbox"]:checked + .lblCheck {
        background: url("../../images/plpAssests/checked.jpg") left top no-repeat;
        background-size: contain;
        padding-left: 16px;
      }
    }
  }


  
      .dropdown_filter {
        position: static;
        display: block;
        width: 100%;
        float: left;
        .filter-data-list{
          max-height: calc(100vh - 118px);
          overflow: auto;
          float: left;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 97px;

        }
        &__filter {
          background-color: $greybg;
          border-bottom: 1px solid $lightgrey;
          border-radius: 1px;
          z-index: 1;
          width: 36%;
          float: left;
          position: relative;
  
          &:last-child {
            border-right: 1px solid $lightgrey;
          }
        }
        &__arrow {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -20px;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #eee;
          border-radius: 3px;
        }
  
        &__list {
          background:$colorwhite;
          margin: 0;
          padding: 0;
          position: absolute;
          z-index: 2;
          padding: 0px 15px;
          visibility: hidden;
          height: 100%;
          right: 0px;
          
          background: transparent;
          width: 64%;

          .filterbtnWrapper {
            text-align: center;
          }
  
          &--active {
            /*max-height: calc(100vh - 118px);
            overflow: scroll;*/
            visibility: visible;
            background:$colorwhite;
            top:0px;
          }
          .list {
            display: flex;
            float: left;
            width: 100%;
            border-bottom: 1px solid $greybg;
            padding: 9px 0px;
            min-height: 42px;
            align-items: center;
            position: relative;
            background: white;
  
            .input_box {
              margin: 0 15px 0 0;
  
              .inputCheck[type="checkbox"] {
                display: none;
              }
  
              /* Input Checkbox Radio
              -----------------------------*/
              .lblradio {
                position: relative;
                .circle {
                  border-radius: 50%;
                  height: 22px;
                  width: 22px;
                  padding: 2px;
                }
                .circlebox {
                  height: 28px;
                  width: 28px;
                  background: $colorwhite;
                  border: 2px solid $colorwhite;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 100%;
                  padding: 2px;
                  margin-top: -5px;
  
                  .circleRGB {
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    padding: 2px;
                    display: block;
                  }
                }
              }
  
              .inputCheck[type="checkbox"] + .lblradio {
                display: block;
                height: 22px;
                width: 22px;
              }
              .inputCheck[type="checkbox"]:checked + .lblradio {
                .circle {
                  border: 2px solid $black;
                  padding: 2px;
                }
  
                .circlebox {
                  border: 2px solid $black;
                  padding: 2px;
                }
              }
  
              /* Input Checkbox Squere
              -----------------------------*/
              .inputCheck[type="checkbox"] + .lblCheck {
                background: url("../../images/plpAssests/unchecked.jpg") left top no-repeat;
                display: block;
                min-height: 16px;
                padding-left: 16px;
                background-size: contain;

                border: 1px solid #cfcfcf;
                border-radius: 100%;
                background: none;
                width: 19px;
                min-height: 19px;
              }
  
              .inputCheck[type="checkbox"]:checked + .lblCheck {
                background: url("../../images/plpAssests/checked.jpg") left top no-repeat;
                background-size: contain;
                padding-left: 16px;
              }
            }
            .label_text {
              padding:0;
              color: $battleshipGrey;
              font-size: $base * 1.5;
              text-align: left;
            }
            .label_text_disable {
              padding: 0 0px 0px 0;
              color: #c9c9c9;
              font-size: $base * 1.5;
              text-align: left;
            }
            .input_box,
            .label_text {
              display: inline-block;
            }
            .label_text_disable {
              display: inline-block;
            }
            .label_text {
              width:100%;
              .filterCount{
                float: right;
                color: $greyBorder;
                font-size: 10px;
                font-family: $font-light;
                position: absolute;
                right: 13px;
                top: 14px;
              }
            }
            .label_text_disable {
              width:100%;
              .filterCount{
                float: right;
                color: $greyBorder;
                font-size: 10px;
                font-family: $font-light;
              }
            }
            .dropdown__list-item {
              display: flex;
              min-width: 160px;
            }
          }
        }
  
        &__list-item {
          cursor: pointer;
          list-style: none;
          padding: 13px 9px;
          position: relative;
          display: flex;
          font-size: 12px;
          font-family: $font-light;
          line-height: 16px;
          color:$ashGrey;
          
          .selectedFacet {
            color: #036cc5;
            margin:-9px 0px 0px 6px;
            font-size: 18px;
          }
  
          &--active {
            background: #f4f4f4;
          }
  
          &:hover {
            background: #f4f4f4;
          }
  
          .dropdownArrow {
            width: 11px;
            height: 11px;
            position: absolute;
            right: 14px;
            top: 21px;
          }
        }
  
        &__toggle {
          &:hover {
            background: $colorwhite;
          }

        }
  
        .filterbtnWrapper {
          padding: 30px 0 0px 0;
          position: fixed;
          bottom: 0px;
          width: 100%;
          left: 0px;
          z-index: 9;
          .btn {
            padding: 12px 0px;
            border-radius: 0;
            width: 50%;
            float: left;
            margin: 0px;
          }
        }
        &__cancelBtn {
          border-top: solid 1px $lightblueGrey;
          background-color: $colorwhite;
        }
  
        &__applyBtn {
          margin-left: 15px;
          color: $colorwhite;
          background-color: $black;
          border: 1px solid $black;
        }
      }
    }
    /* Sorting Filter
    -----------------------------------------***/
  
    .sort {
      width: 17%;
      float: right;
      .heading {
        font-family: $font-bold;
        font-size: $base * 1.75;
        padding: 0 0 15px 15px;
        margin: 0;
      }
  
      .dropdown {
        position: relative;
        background: $colorwhite;
        z-index: 2;
        right: 0;
        width: 100%;
  
        .dropdowntoggle {
          border: 1px solid $lightGrey;
  
          .dropdownArrow {
            width: 11px;
            height: 11px;
            position: absolute;
            right: 14px;
            top: 19px;
          }
        }
        .dropdownlist {
          border: 1px solid $lightGrey;
          border-top: none;
          top: 51px;
        }
        .dropdownlist.dropdownlistactive {
          top: 52px;
        }
  
        &arrow {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -20px;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid rgb(168, 27, 27);
          border-radius: 3px;
        }
  
        &list {
          transition: max-height 0.2s ease-out;
          max-height: 0;
          overflow: hidden;
          margin: 0;
          padding: 0;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
          position: absolute;
          z-index: 1;
          width: 100%;
  
          &active {
            max-height: 1000px;
            opacity: 1;
          }
          .link {
            color: $battleshipGrey;
            text-decoration: none;
            &:hover {
              color: $cerulean;
              font-weight: 600;
            }
          }
        }
  
        &list-item {
          border-bottom: 1px solid $lightGrey;
          cursor: pointer;
          list-style: none;
          padding: 15px;
          background: $colorwhite;
          color: $battleshipGrey;
          font-weight: 600;
  
          &active {
            color: $ceruleanblue;
          }
        }
  
        &toggle {
          color: $greyish;
          
          &:hover {
            background: $colorwhite;
            
          }
  
          background: $colorwhite;
        }

  }

}





